<!DOCTYPE html>
<html>
<head th:fragment="head">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon icon cambiar
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png"> -->
    <title>AULA DE ESTUDIO</title>
    <!-- Bootstrap Core CSS -->
    <link th:href="@{/resources/css/guiuser/lib/bootstrap/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom CSS -->
    <link th:href="@{/resources/css/guiuser/lib/calendar2/semantic.ui.min.css}" rel="stylesheet">
    <link th:href="@{/resources/css/guiuser/lib/calendar2/pignose.calendar.min.css}" rel="stylesheet">
    <link th:href="@{/resources/css/guiuser/owl.carousel.min.css}" rel="stylesheet" />
    <link th:href="@{/resources/css/guiuser/lib/owl.theme.default.min.css}" rel="stylesheet" />
    <link th:href="@{/resources/css/guiuser/helper.css}" rel="stylesheet">
    <link th:href="@{/resources/css/guiuser/style.css}" rel="stylesheet">
    <link th:href="@{/resources/css/guiuser/sweetalert.css}" rel="stylesheet" />
</head>
<body>

</body>
</html>