<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="es"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
</head>
<body>
	<div class="page-sidebar">
		<ul class="x-navigation">
			<li id="tituloSistema" class="xn-logo">
				<a th:text="#{configuracion.header.responsive.titulo}"></a> 
				<a href="#" class="x-navigation-control"></a>
			</li>
			<li id="imagen" class="xn-profile">
				<a class="profile-mini"><img th:src="@{/resources/image/institucion_icono.ico}"></a>
				<div class="profile">
					<img th:src="@{/resources/image/logo_lateral.png}" width="100%" />
				</div>
			</li>
			<li class="xn-title">Navegación</li>
			<th:block sec:authorize="isAuthenticated()">
				<li><a th:href="@{/inicio}"> <span class="fa fa-home"></span>Inicio </a></li>
				
				<!--  MANTENIMIENTOS 
				<li class="xn-openable">
					<a><span class="fa fa-file"></span><span class="xn-text">Mantenimientos</span></a>
					<ul>
						<li class="xn-openable">
							<a title="Parámetros Generales"><span class="fa fa-file"></span><span> Generales</span></a>
							<ul>
								<li ><a th:href="@{/empresa}"> <span class="fa fa-file"></span>Empresa</a></li>
								<li ><a th:href="@{/institucion}"> <span class="fa fa-file"></span>Instituciones</a></li>
								<li ><a th:href="@{/membresia}"> <span class="fa fa-file"></span>Membresías</a></li>
							</ul>
						</li>
					</ul>
				</li> -->
				
				<!--  SOLICITUDES -->
				<li class="xn-openable">
					<a><span class="fa fa-file"></span><span class="xn-text">Mantenimientos</span></a>
					<ul>
						<!-- PORFAVOR INSERTAR EN ORDEN ALFABETICO - Mario!! -->
						<li ><a th:href="@{/alumno}"> <span class="fa fa-file"></span>Alumno</a></li>
						<li ><a th:href="@{/areaEstudio}"> <span class="fa fa-file"></span>Area de Estudio</a></li>
						<li ><a th:href="@{/docente}"> <span class="fa fa-file"></span>Docente</a></li>
						<li ><a th:href="@{/escuela}"> <span class="fa fa-file"></span>Escuela</a></li>
						<li ><a th:href="@{/externo}"> <span class="fa fa-file"></span>Externo</a></li>
						<li ><a th:href="@{/facultad}"> <span class="fa fa-file"></span>Facultad</a></li>
						<li ><a th:href="@{/horario}"> <span class="fa fa-file"></span>Horario</a></li>
						<li ><a th:href="@{/horario}"> <span class="fa fa-file"></span>Material</a></li>
						<li ><a th:href="@{/material}"> <span class="fa fa-file"></span>Horario</a></li>
						<li ><a th:href="@{/recurso}"> <span class="fa fa-file"></span>Recursos</a></li>
						<li ><a th:href="@{/multiTabCab}"> <span class="fa fa-file"></span>Tabla de tablas</a></li>
						<li ><a th:href="@{/multiTabDet}"> <span class="fa fa-file"></span>Tabla de tablas Detalle</a></li>
					</ul>
				</li>
				  
				
				
				<!--  PERFIL DE USUARIO -->
				<li class="xn-openable">
					<a><span class="fa fa-male"></span><span class="xn-text">Mí Perfil</span></a>
					<ul>
						<li><a th:href="@{/seguridad/contrasenia}"> <span class="fa fa-key"></span><span> Cambio Contraseña</span></a></li>
					</ul>
				</li>
			</th:block>
		</ul>
	</div>
	
	<div class="page-content">
		<ul class="x-navigation x-navigation-horizontal x-navigation-panel">
			<li class="xn-icon-button"><a href="#" class="x-navigation-minimize"> <span class="fa fa-dedent"></span></a></li>
			<li style="padding-top: 5px;"> </li>
			<li class="pull-right">
				<a class="dropdown-toggle" data-toggle="dropdown"> 
					<i class="fa fa-user"></i> 
					<span th:text="|Bienvenido: ${#httpSession.getAttribute('nombreUsuario')}|" style="color: white;"></span> 
					<span class=" fa fa-angle-down"></span>
				</a>
				<ul class="dropdown-menu">
					<li><a th:href="@{/logout}"> <i class="fa fa-sign-out pull-right"></i> Salir </a></li>
				</ul>
			</li>
		</ul>
	</div>
</body>
</html>