<!DOCTYPE html>
<html>
<body>
	<!-- header header  -->
        <div th:fragment="header" class="header" >
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                <!-- Logo SISCAE -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="registrar.html">
                        <!-- Logo icon -->
                        <b>
                            <img th:src="@{/resources/images/libros.png}" alt="homepage" class="dark-logo" />
                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text -->
                        <span>SISCAE</span>
                    </a>
                </div>
                <!-- End Logo -->
                <div class="navbar-collapse">
                    <!-- toggle and nav items -->
                    <ul class="navbar-nav mr-auto mt-md-0">
                        <!--Esto genera un espacio al navbar-->
                    </ul>
                    <!-- User profile and search -->
                    <ul class="navbar-nav my-lg-0">
                        <!-- Profile -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted  " href="#" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <img th:src="@{/resources/images/users/5.jpg}" alt="user" class="profile-pic" />
                            </a>
                            <div class="dropdown-menu dropdown-menu-right animated zoomIn">
                                <ul class="dropdown-user">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-power-off"></i> Cerrar Sesion</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- End header header -->
</body>
</html>