
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

	
<head th:fragment="head">
	<title>FISI | SISCAE</title>
	<link rel="icon" href="/siscae/resources/images/iconoSiscae.png" type="image/png">
	<meta charset="utf-8"></meta>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
	<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
	<meta th:name="${_csrf.parameterName}" th:content="${_csrf.token}"></meta>
	<meta name="root" th:content="@{/}"/>
    <link th:href="@{/resources/css/guiuser/lib/calendar2/semantic.ui.min.css}" rel="stylesheet">
    <link th:href="@{/resources/css/guiuser/lib/calendar2/pignose.calendar.min.css}" rel="stylesheet">
    <link th:href="@{/resources/css/guiuser/lib/owl.carousel.min.css}" rel="stylesheet" />
    <link th:href="@{/resources/css/guiuser/lib/owl.theme.default.min.css}" rel="stylesheet" />
        
    <link th:href="@{/resources/css/guiuser/lib/icons/font-awesome/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/resources/css/guiuser/lib/icons/simple-line-icons/css/simple-line-icons.css}" rel="stylesheet">
    <link th:href="@{/resources/css/guiuser/lib/icons/weather-icons/css/weather-icons.min.css}" rel="stylesheet">
    <link th:href="@{/resources/css/guiuser/lib/icons/linea-icons/linea.css}" rel="stylesheet">
    <link th:href="@{/resources/css/guiuser/lib/icons/themify-icons/themify-icons.css}" rel="stylesheet">
    <link th:href="@{/resources/css/guiuser/lib/icons/flag-icon-css/flag-icon.min.css}" rel="stylesheet">
    <link th:href="@{/resources/css/guiuser/lib/icons/material-design-iconic-font/css/materialdesignicons.min.css}" rel="stylesheet">
    
    <link th:href="@{/resources/css/guiuser/helper.css}" rel="stylesheet">
    <link th:href="@{/resources/css/guiuser/spinners.css}" rel="stylesheet" />
    <link th:href="@{/resources/css/guiuser/animate.css}" rel="stylesheet" />
    <link th:href="@{/resources/css/guiuser/sweetalert.css}" rel="stylesheet" />
    

    <!-- Bootstrap Core CSS -->
    <link th:href="@{/resources/css/guiuser/lib/bootstrap/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom CSS -->
    <link th:href="@{/resources/css/guiuser/lib/calendar2/semantic.ui.min.css}" rel="stylesheet">
    <link th:href="@{/resources/css/guiuser/lib/calendar2/pignose.calendar.min.css}" rel="stylesheet">
    <link th:href="@{/resources/css/guiuser/lib/owl.carousel.min.css}" rel="stylesheet" />
    <link th:href="@{/resources/css/guiuser/lib/owl.theme.default.min.css}" rel="stylesheet"/>
    <link th:href="@{/resources/css/guiuser/helper.css}" rel="stylesheet}}">
    <link th:href="@{/resources/css/guiuser/style.css}" rel="stylesheet">
    
	
	<link th:href="@{/resources/css/guiuser/lib/data-table/dataTables.bootstrap.min.css}" rel="stylesheet" type="text/css"/>
	<link th:href="@{/resources/css/guiuser/lib/data-table/buttons.dataTables.min.css}" rel="stylesheet" type="text/css"/>
	<link th:href="@{/resources/css/guiuser/lib/data-table/buttons.bootstrap.min.css}" rel="stylesheet" type="text/css"/>
	
	<link th:href="@{//cdn.datatables.net/plug-ins/1.10.19/integration/font-awesome/dataTables.fontAwesome.css}" rel="stylesheet" type="text/css"/>
	
     <!-- Select2 -->
	<link th:href="@{/resources/css/guiuser/select2.min.css}" rel="stylesheet">
	<link th:href="@{/resources/css/daterangepicker.css}" rel="stylesheet" />
	<link th:href="@{/resources/css/amChart/export.min.css}" rel="stylesheet" />
	
	<link th:href="@{/resources/css/pagina/mantenimiento.css}" rel="stylesheet">
	
	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
	
</head>
</html>