<!DOCTYPE html>
<html>
<body>

	
<div th:fragment="script">
	<!-- All Jquery -->
	<script th:src="@{/resources/js/lib/guiuser/jquery/jquery.min.js}"></script>
	<!-- Bootstrap tether Core JavaScript -->
	<script th:src="@{/resources/js/lib/guiuser/bootstrap/js/popper.min.js}"></script>
	<script th:src="@{/resources/js/lib/guiuser/bootstrap/js/bootstrap.min.js}"></script>
	<!-- slimscrollbar scrollbar JavaScript -->
	<script th:src="@{/resources/js/jquery.slimscroll.js}"></script>
	<!--Menu sidebar -->
	<script th:src="@{/resources/js/sidebarmenu.js}"></script>
	<!--stickey kit -->
	<script
		th:src="@{/resources/js/lib/guiuser/sticky-kit-master/dist/sticky-kit.min.js}"></script>
	<!--Custom JavaScript -->
	<!-- Amchart -->
	<script th:src="@{/resources/js/lib/guiuser/morris-chart/raphael-min.js}"></script>
	<script th:src="@{/resources/js/lib/guiuser/morris-chart/morris.js}"></script>
	<script th:src="@{/resources/js/lib/guiuser/morris-chart/dashboard1-init.js}"></script>


	<script th:src="@{/resources/js/lib/guiuser/calendar-2/moment.latest.min.js}"></script>
	<!-- scripit init-->
	<script th:src="@{/resources/js/lib/guiuser/calendar-2/semantic.ui.min.js}"></script>
	<!-- scripit init-->
	<script th:src="@{/resources/js/lib/guiuser/calendar-2/prism.min.js}"></script>
	<!-- scripit init-->
	<script
		th:src="@{/resources/js/lib/guiuser/calendar-2/pignose.calendar.min.js}"></script>
	<!-- scripit init-->
	<script th:src="@{/resources/js/lib/guiuser/calendar-2/pignose.init.js}"></script>

	<script th:src="@{/resources/js/lib/guiuser/owl-carousel/owl.carousel.min.js}"></script>
	<script th:src="@{/resources/js/lib/guiuser/owl-carousel/owl.carousel-init.js}"></script>
	<script th:src="@{/resources/js/guiuser/scripts.js}"></script>
	<!-- scripit init-->
	<script th:src="@{/resources/js/guiuser/inicio.js}"></script>
	<script th:src="@{/resources/js/guiuser/custom.min.js}"></script>
	<script th:src="@{/resources/js/guiuser/sweetalert.min.js}"></script>
	
	</div>
</body>
</html>