<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<!-- Left Sidebar  -->
        <div th:fragment="sidebar" class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="nav-label">BIBLIOTECA</li>
                        <li>
                            <a th:href="@{/consulta/movimientos/prestamo}" aria-expanded="false">
                                <i class="fa fa-th-large"></i>
                                <span class="hide-menu">Estado del aula</span>
                            </a>

                        </li>
                        <li>
                            <a class="has-arrow  " href="#" aria-expanded="false">
                                <i class="fa fa-user"></i>
                                <span class="hide-menu">Solicitantes</span>
                            </a>
                            <ul aria-expanded="false" class="collapse">
                                <li>
                                    <a th:href="@{/consulta/movimientos/nuevos}">Registrar nuevo</a>
                                </li>
                                <li>
                                    <a th:href="@{/consulta/movimientos/registrar}">Prestamos</a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a class="has-arrow  " href="#" aria-expanded="false">
                                <i class="fa fa-book"></i>
                                <span class="hide-menu">Infracciones</span>
                            </a>
                            <ul aria-expanded="false" class="collapse">
                                <li>
                                    <a th:href="@{/consulta/movimientos/infracciones}">Ver</a>
                                </li>
                                <li>
                                    <a th:href="@{/consulta/movimientos/infracciones}">Registrar por documento</a>
                                </li>
                                <li>
                                    <a th:href="@{/consulta/movimientos/infracciones}">Registrar por modulo</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a th:href="@{/consulta/movimientos/estadisticas}" aria-expanded="false">
                                <i class="fa fa-bar-chart"></i>
                                <span class="hide-menu">Estadisticas</span>
                            </a>

                        </li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </div>
        <!-- End Left Sidebar  -->
 
</body>
</html>