<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<!-- Left Sidebar  -->
        <div th:fragment="sidebar" class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="nav-label"><a th:text="${areaAdministrativo.nombreAreaEstudio}"></a></li>
                        <li>
                            <a th:href="@{/movimiento/estadoArea}" aria-expanded="false">
                                <i class="fa fa-th-large"></i>
                                <span class="hide-menu">Estado del area</span>
                            </a>

                        </li>
                        <li>
                            <a th:href="@{/movimiento/nuevosSolicitantes}" aria-expanded="false">
                                <i class="fa fa-user"></i>
                                <span class="hide-menu">Solicitantes nuevos</span>
                            </a>
                        </li>

                        <li>
                            <a th:href="@{/movimiento/infracciones}" aria-expanded="false">
                                <i class="fa fa-book"></i>
                                <span class="hide-menu">Infracciones</span>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/movimiento/estadisticas}" aria-expanded="false">
                                <i class="fa fa-bar-chart"></i>
                                <span class="hide-menu">Estadisticas</span>
                            </a>

                        </li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </div>
        <!-- End Left Sidebar  -->
 
</body>
</html>