<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<div id="criterioBusquedaReporte" class="row" th:fragment="criterioBusquedaResumenMovimiento"
		th:with="tipo=${tipo}">
		<fieldset class="well">
			<legend class="well-legend">Búsqueda</legend>
			<form id="formCriterioBusquedaReporte" class="form-horizontal" role="form">
				<th:block
					th:replace="~{template/fragments/reporte/criterioBusquedaReporteResumenMovimiento :: ${tipo}}?:~{}">
				</th:block>
				<div class="form-group">
					<div class="col-lg-12 text-center">
						<button id="buscar" type="button" class="btn btn-primary">
							<i class="fa fa-search"></i> Buscar
						</button>
					</div>
				</div>
			</form>
		</fieldset>
	</div>

	<th:block th:fragment="autorizacion">
		<div class="form-group">
			<div class="group">
				<label class="control-label col-lg-1 col-md-1">Rol de Transacción</label>
				<div class="col-lg-3 col-md-3">
					<select id="rolesTransaccion" name="rolTransaccion" class="form-control select2">
						<option value="-1" selected="selected">TODOS</option>
						<option th:each="rolTransaccion : ${rolesTransaccion}" th:value="${rolTransaccion.idItem}"
							th:text="|${rolTransaccion.idItem} - ${rolTransaccion.descripcionItem}|"></option>
					</select>
				</div>
			</div>
			<div class="group">
				<label class="control-label col-lg-1 col-md-1">Canales</label>
				<div class="col-lg-3 col-md-3">
					<select id="canales" name="idCanal" class="form-control select2">
						<option value="-1" selected="selected">TODOS</option>
						<option th:each="canal : ${canales}" th:value="${canal.idCanal}"
							th:text="|${canal.idCanal} - ${canal.descripcion}|"></option>
					</select>
				</div>
			</div>
			<div class="group">
				<label class="control-label col-lg-1 col-md-1">Fecha Transacción</label>
				<div class="col-lg-3 col-md-3 input-group">
					<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
					<input id="rangoFechaBusqueda" type="text" class="form-control" readonly="readonly"
						name="fechas" />
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="group">
				<label class="control-label col-lg-1 col-md-1">Transacción</label>
				<div class="col-lg-3 col-md-3">
					<select id="procesos" name="codigoProceso" class="form-control select2">
						<option value="-1" selected="selected">TODOS</option>
						<option th:each="proceso : ${codigosProceso}" th:value="${proceso.codigoProcesoSwitch}"
							th:text="|${proceso.codigoProcesoSwitch} - ${proceso.descripcion}|"></option>
					</select>
				</div>
			</div>
		</div>
	</th:block>

	<th:block th:fragment="swDmpLog">
		<div class="form-group">
			<div class="group">
				<label class="control-label col-lg-1 col-md-1">Rol de Transacción</label>
				<div class="col-lg-3 col-md-3">
					<select id="rolesTransaccion" name="rolTransaccion" class="form-control select2">
						<option value="-1" selected="selected">TODOS</option>
						<option th:each="rolTransaccion : ${rolesTransaccion}" th:value="${rolTransaccion.idItem}"
							th:text="|${rolTransaccion.idItem} - ${rolTransaccion.descripcionItem}|"></option>
					</select>
				</div>
			</div>
			<div class="group">
				<label class="control-label col-lg-1 col-md-1">Canales</label>
				<div class="col-lg-3 col-md-3">
					<select id="canales" name="idCanal" class="form-control select2">
						<option value="-1" selected="selected">TODOS</option>
						<option th:each="canal : ${canales}" th:value="${canal.idCanal}"
							th:text="|${canal.idCanal} - ${canal.descripcion}|"></option>
					</select>
				</div>
			</div>
			<div class="group">
				<label class="control-label col-lg-1 col-md-1">Fecha Transacción</label>
				<div class="col-lg-3 col-md-3 input-group">
					<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
					<input id="rangoFechaBusqueda" type="text" class="form-control" readonly="readonly"
						name="fechas" />
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="group">
				<label class="control-label col-lg-1 col-md-1">Transacción</label>
				<div class="col-lg-3 col-md-3">
					<select id="procesos" name="codigoProceso" class="form-control select2">
						<option value="-1" selected="selected">TODOS</option>
						<option th:each="proceso : ${codigosProceso}" th:value="${proceso.codigoProcesoSwitch}"
							th:text="|${proceso.codigoProcesoSwitch} - ${proceso.descripcion}|"></option>
					</select>
				</div>
			</div>
		</div>
	</th:block>

	<th:block th:fragment="transaccionAprobadaAgencia">
		<div class="form-group">
			<div class="group">
				<label class="control-label col-lg-1 col-md-1">Agencias</label>
				<div class="col-lg-5 col-md-5">
					<select id="agencias" name="idAgencia" class="form-control select2">
						<option value="-1" selected="selected">TODOS</option>
						<option th:each="agencia : ${agencias}" th:value="${agencia.idAgencia}"
							th:text="|${agencia.idAgencia} - ${agencia.descripcion}|"></option>
					</select>
				</div>
			</div>
			<div class="group">
				<label class="control-label col-lg-1 col-md-1">Sexo</label>
				<div class="col-lg-5 col-md-5">
					<select id="sexos" class="radio-inline" name="idSexo">
						<option value="">TODOS</option>
						<option th:each="sexo : ${sexos}" th:value="${sexo.idItem}"
							th:text="|${sexo.idItem} - ${sexo.descripcionItem}|"></option>
					</select>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="group">
				<label class="control-label col-lg-1 col-md-1">Estado Civil</label>
				<div class="col-lg-5 col-md-5">
					<select id="estadosCivil" class="form-control select2" name="idEstadoCivil">
						<option value="" selected="selected">TODOS</option>
						<option th:each="estadoCivil : ${estadosCivil}" th:value="${estadoCivil.idItem}"
							th:text="|${estadoCivil.idItem} - ${estadoCivil.descripcionItem}|"></option>
					</select>
				</div>
			</div>
			<div class="group">
				<label class="control-label col-lg-1 col-md-1">Fecha Transacción</label>
				<div class="col-lg-5 col-md-5 input-group">
					<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
					<input id="rangoFechaBusqueda" type="text" class="form-control" readonly="readonly"
						name="fechas" />
				</div>
			</div>
		</div>
	</th:block>

	<th:block th:fragment="logContableEmisor">
		<div class="form-group">
			<div class="group">
				<label class="control-label col-lg-1 col-md-1">Membresía</label>
				<div class="col-lg-3 col-md-3">
					<select id="membresias" name="codigoMembresia" class="form-control select2">
						<option value="" selected="selected">TODOS</option>
						<option th:each="membresia : ${membresias}" th:value="${membresia.codigoMembresia}"
							th:text="|${membresia.codigoMembresia} - ${membresia.descripcion}|"></option>
					</select>
				</div>
			</div>
			<div class="group">
				<label class="control-label col-lg-1 col-md-1">Clase de Servicio</label>
				<div class="col-lg-3 col-md-3">
					<select id="clasesServicio" name="codigoClaseServicio" class="form-control select2">
						<option value="" selected="selected">TODOS</option>
					</select>
				</div>
			</div>
			<div class="group">
				<label class="control-label col-lg-1 col-md-1">Rol de Transacción</label>
				<div class="col-lg-3 col-md-3">
					<select id="rolesTransaccion" name="rolTransaccion" class="form-control select2">
						<option value="-1" selected="selected">EMISOR/PROPIO</option>
						<option th:each="rolTransaccion : ${rolesTransaccion}"
							th:if="${rolTransaccion.idItem == '1' or rolTransaccion.idItem == '3'}"
							th:value="${rolTransaccion.idItem}"
							th:text="|${rolTransaccion.idItem} - ${rolTransaccion.descripcionItem}|"></option>
					</select>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="group">
				<label class="control-label col-lg-1 col-md-1">Canales</label>
				<div class="col-lg-3 col-md-3">
					<select id="canales" name="idCanal" class="form-control select2">
						<option value="-1" selected="selected">TODOS</option>
						<option th:each="canal : ${canales}" th:value="${canal.idCanal}"
							th:text="|${canal.idCanal} - ${canal.descripcion}|"></option>
					</select>
				</div>
			</div>
			<div class="group">
				<label class="control-label col-lg-1 col-md-1">Transacción</label>
				<div class="col-lg-3 col-md-3">
					<select id="transacciones" name="codigoTransaccion" class="form-control select2">
						<option value="-1" selected="selected">TODOS</option>
						<option th:each="codigoTransaccion : ${codigoTransacciones}"
							th:with="transaccion=${codigoTransaccion.codigoClaseTransaccion*100 + codigoTransaccion.codigoTransaccion}"
							th:value="${transaccion}" th:text="|${transaccion} - ${codigoTransaccion.descripcion}|"></option>
					</select>
				</div>
			</div>
			<div class="group">
				<label class="control-label col-lg-1 col-md-1">Fecha Transacción</label>
				<div class="col-lg-3 col-md-3 input-group">
					<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
					<input id="rangoFechaBusqueda" type="text" class="form-control" readonly="readonly"
						name="fechas" />
				</div>
			</div>
		</div>
	</th:block>

	<th:block th:fragment="logContableReceptor">
		<div class="form-group">
			<div class="group">
				<label class="control-label col-lg-1 col-md-1">Membresía</label>
				<div class="col-lg-3 col-md-3">
					<select id="membresias" name="codigoMembresia" class="form-control select2">
						<option value="" selected="selected">TODOS</option>
						<option th:each="membresia : ${membresias}" th:value="${membresia.codigoMembresia}"
							th:text="|${membresia.codigoMembresia} - ${membresia.descripcion}|"></option>
					</select>
				</div>
			</div>
			<div class="group">
				<label class="control-label col-lg-1 col-md-1">Clase de Servicio</label>
				<div class="col-lg-3 col-md-3">
					<select id="clasesServicio" name="codigoClaseServicio" class="form-control select2">
						<option value="" selected="selected">TODOS</option>
					</select>
				</div>
			</div>
			<div class="group">
				<label class="control-label col-lg-1 col-md-1">Rol de Transacción</label>
				<div class="col-lg-3 col-md-3">
					<select id="rolesTransaccion" name="rolTransaccion" class="form-control select2">
						<option th:each="rolTransaccion : ${rolesTransaccion}" selected="selected"
							th:if="${rolTransaccion.idItem == '2'}" th:value="${rolTransaccion.idItem}"
							th:text="|${rolTransaccion.idItem} - ${rolTransaccion.descripcionItem}|"></option>
					</select>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="group">
				<label class="control-label col-lg-1 col-md-1">Canales</label>
				<div class="col-lg-3 col-md-3">
					<select id="canales" name="idCanal" class="form-control select2">
						<option value="-1" selected="selected">TODOS</option>
						<option th:each="canal : ${canales}" th:value="${canal.idCanal}"
							th:text="|${canal.idCanal} - ${canal.descripcion}|"></option>
					</select>
				</div>
			</div>
			<div class="group">
				<label class="control-label col-lg-1 col-md-1">Transacción</label>
				<div class="col-lg-3 col-md-3">
					<select id="transacciones" name="codigoTransaccion" class="form-control select2">
						<option value="-1" selected="selected">TODOS</option>
						<option th:each="codigoTransaccion : ${codigoTransacciones}"
							th:with="transaccion=${codigoTransaccion.codigoClaseTransaccion*100 + codigoTransaccion.codigoTransaccion}"
							th:value="${transaccion}" th:text="|${transaccion} - ${codigoTransaccion.descripcion}|"></option>
					</select>
				</div>
			</div>
			<div class="group">
				<label class="control-label col-lg-1 col-md-1">Fecha Transacción</label>
				<div class="col-lg-3 col-md-3 input-group">
					<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
					<input id="rangoFechaBusqueda" type="text" class="form-control" readonly="readonly"
						name="fechas" />
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="group">
				<label class="control-label col-lg-1 col-md-1">ATM</label>
				<div class="col-lg-3 col-md-3">
					<select id="atms" name="idAtm" class="form-control select2">
						<option value="-1" selected="selected">TODOS</option>
						<option th:each="atm : ${atms}" th:value="${atm.idATM}"
							th:text="|${atm.idATM} - ${atm.descripcionATM}|"></option>
					</select>
				</div>
			</div>
		</div>
	</th:block>
</body>
</html>