<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<th:block th:fragment="autorizacion">
		<table id="tablaResumenMovimiento" width="100%"
			class="table table-bordered table-condensed nowrap display table-hover">
			<tfoot>
				<tr>
					<td colspan="8">Total</td>
					<td></td>
					<td></td>
				</tr>
			</tfoot>
		</table>
	</th:block>

	<th:block th:fragment="swDmpLog">
		<table id="tablaResumenMovimiento" width="100%"
			class="table table-bordered table-condensed nowrap display table-hover">
			<tfoot>
				<tr>
					<td colspan="8">Total</td>
					<td></td>
					<td></td>
				</tr>
			</tfoot>
		</table>
	</th:block>

	<th:block th:fragment="transaccionAprobadaAgencia">
		<table id="tablaResumenMovimiento" width="100%"
			class="table table-bordered table-condensed nowrap display table-hover">
			<tfoot>
				<tr>
					<td colspan="8">Total</td>
					<td></td>
					<td></td>
				</tr>
			</tfoot>
		</table>
	</th:block>

	<th:block th:fragment="logContableEmisor">
		<table id="tablaResumenLogContableEmisor" width="100%"
			class="table table-bordered table-condensed nowrap display table-hover">
			<thead>
				<tr>
					<th>Fecha Proceso</th>
					<th>Membresía</th>
					<th>Servicio</th>
					<th>Rol</th>
					<th>Canal</th>
					<th>Origen</th>
					<th>BIN</th>
					<th>SubBIN</th>
					<th>Transacción</th>
					<th>Giro de Negocio</th>
					<th>Receptor</th>
					<th>Respuesta</th>
					<th>Moneda</th>
					<th>Cantidad</th>
					<th>Monto</th>
					<th th:each="conceptoComision,iter : ${conceptoComisiones}" class="conceptoComision comision"
						data-tooltip="tooltip"
						th:attr="title=${conceptoComision.descripcion}, idConceptoComision=${conceptoComision.idConceptoComision}, name=${iter.index}"
						th:text="${conceptoComision.abreviatura}"></th>
					<th class="comision">Total</th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<td colspan="13">Total</td>
					<td class="dt-right"></td>
					<td class="dt-right"></td>
					<td th:each="conceptoComision,iter : ${conceptoComisiones}" class="dt-right"
						data-tooltip="tooltip"
						th:attr="title=${conceptoComision.descripcion}, idConceptoComision=${conceptoComision.idConceptoComision}, name=${iter.index}"></td>
					<td class="dt-right"></td>
				</tr>
			</tfoot>
		</table>
	</th:block>

	<th:block th:fragment="logContableReceptor">
		<table id="tablaResumenLogContableReceptor" width="100%"
			class="table table-bordered table-condensed nowrap display table-hover">
			<thead>
				<tr>
					<th>Fecha Proceso</th>
					<th>Membresía</th>
					<th>Servicio</th>
					<th>Rol</th>
					<th>Canal</th>
					<th>Origen</th>
					<th>ATM</th>
					<th>Transacción</th>
					<th>Giro de Negocio</th>
					<th>Emisor</th>
					<th>Respuesta</th>
					<th>Moneda</th>
					<th>Cantidad</th>
					<th>Monto</th>
					<th th:each="conceptoComision,iter : ${conceptoComisiones}" class="conceptoComision comision"
						data-tooltip="tooltip"
						th:attr="title=${conceptoComision.descripcion}, idConceptoComision=${conceptoComision.idConceptoComision}, name=${iter.index}"
						th:text="${conceptoComision.abreviatura}"></th>
					<th class="comision">Total</th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<td colspan="12">Total</td>
					<td class="dt-right"></td>
					<td class="dt-right"></td>
					<td th:each="conceptoComision,iter : ${conceptoComisiones}" class="dt-right"
						data-tooltip="tooltip"
						th:attr="title=${conceptoComision.descripcion}, idConceptoComision=${conceptoComision.idConceptoComision}, name=${iter.index}"></td>
					<td class="dt-right"></td>
				</tr>
			</tfoot>
		</table>
	</th:block>
</body>
</html>