<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorate="~{layout_user}">

<head>
</head>
<body>
	<div layout:fragment="content">
		<!-- Page wrapper  -->
		<div class="page-wrapper">
			<!-- Bread crumb -->
			<div class="row page-titles">
				<div class="col-md-5 align-self-center">
					<h3 th:text="|Estadísticas|" class="text-primary"></h3>
				</div>
			</div>
			<!-- End Bread crumb -->
			<!-- Container fluid  -->
			<div class="container-fluid">
				<!-- Start Page Content -->
				<div class="row">
					<div class="col-12">
						<div class="card">
							<div class="card-body p-b-0">
								<!-- Nav tabs -->
								<ul id="xd" class="nav justify-content-end customtab2"
									role="tablist">

									<li class="nav-item"><a class="nav-link active comun"
										th:key="|P|" data-toggle="tab" href="#tabReporteGeneral"
										role="tab"> <span class="hidden-sm-up"><i
												class="ti-user"></i></span> <span class="hidden-xs-down">Prestamos</span>
									</a></li>

									<li class="nav-item"><a class="nav-link comun" 
 										data-toggle="tab" th:key="|I|" href="#tabReporteGeneral"
 										role="tab"> <span class="hidden-sm-up"><i
 												class="ti-user"></i></span> <span class="hidden-xs-down">Infracciones</span>
 									</a></li>

 									<li class="nav-item"><a class="nav-link comun" data-toggle="tab" 
										th:key="|M|" href="#tabReporteMasFrecuentes" role="tab"> <span
											class="hidden-sm-up"><i class="ti-user"></i></span> <span
											class="hidden-xs-down">Más Frecuentes</span> 
									</a></li> 
									
									
								</ul>

								<!-- Tab panes -->
								<div class="tab-content">
									<div class="tab-pane active m-t-20" id="tabReporteGeneral"
										role="tabpanel">
										<div id="estadisticas" class="m-l-15 m-r-15">
											<form id="formEstadisticas">
												<h3 style="font-size: 18px;">Gráfica</h3>
												<div class="row" style="width: 100%;">
													<div class="col-md-3" id="divGrafica">
														<div class="form-group m-b-10">
															<label class="m-r-15">Tipo</label>
															<div class="input-group">
																<select id="selectTipoGrafico" name="tipoGrafica"
																	class="form-control select2 elemento-modificable">
																	<option value="-1" disabled="disabled"
																		selected="selected">Seleccione un gráfico</option>
																	<option value="BARRAS">Barras</option> 
																	<option value="LINEAL">Lineal</option>
																	<option value="PIE">Pie</option>
																</select>
															</div>
														</div>
													</div>
													<div class="col-md-3">
														<div class="form-group m-b-10">
															<label class="m-r-15">Periodo</label>
															<div class="input-group">
																<select id="selectPeriodo" name="tipoPeriodo"
																	class="form-control select2 elemento-modificable" >
																	<option value="-1" disabled="disabled"
																		selected="selected">Seleccione un periodo</option>
																	<option value="DIA">Por día</option>
																	<option value="SEMANA">Por semana</option>
																	<option value="MES">Por mes</option>
																	<option value="ANIO">Por año</option>
																</select>
															</div>
														</div>
													</div>

													<div class="col-md-6 hidden" id="divPeriodoDia">
														<div class="form-group m-b-10">
															<label class="m-r-15">Intervalo Fechas</label>
															<div class="input-group">
																<span class="input-group-addon"> <i
																	class="fa fa-calendar m-r-5 m-t-5 text-center"></i></span> <input
																	id="fechaPrestamo" type="text" name="fechaPrestamo"
																	class="form-control filtro" readonly="readonly">
															</div>
														</div>
													</div>


													<div class="col-md-3 hidden" id="divSemanaInicio">
														<div class="form-group m-b-10">
															<label class="m-r-10">Desde:</label>
															<div class="input-group">
																<input id="semanaInicio" type="week"
																	name="valSemanaIncio" class="form-control">
															</div>
														</div>
													</div>


													<div class="col-md-3 hidden" id="divSemanaFin">
														<div class="form-group m-b-10">
															<label class="m-r-15">Hasta:</label>
															<div class="input-group">
																<input id="semanaFin" type="week" name="valSemanaFin"
																	class="form-control">
															</div>
														</div>
													</div>


													<div class="col-md-3 hidden" id="divMesInicio">
														<div class="form-group m-b-10">
															<label class="m-r-10">Desde:</label>
															<div class="input-group">
																<input id="mesInicio" type="month" name="valMesIncio"
																	class="form-control">
															</div>
														</div>
													</div>


													<div class="col-md-3 hidden" id="divMesFin">
														<div class="form-group m-b-10">
															<label class="m-r-15">Hasta:</label>
															<div class="input-group">
																<input id="mesFin" type="month" name="valMesFin"
																	class="form-control">
															</div>
														</div>
													</div>

													<div class="col-md-3 hidden" id="divAnioInicio">
														<div class="form-group m-b-10">
															<label class="m-r-10">Desde:</label>
															<div class="input-group">
																<input id="anioInicio" type="number"
																	name="valAnioInicio" class="form-control">
															</div>
														</div>
													</div>


													<div class="col-md-3 hidden" id="divAnioFin">
														<div class="form-group m-b-10">
															<label class="m-r-15">Hasta:</label>
															<div class="input-group">
																<input id="anioFin" type="number" name="valAnioFin"
																	class="form-control">
															</div>
														</div>
													</div>


												</div>
												<div class="row" style="width: 100%;">
													<div class="col-md-3 hidden" id="divSerie">
														<div class="form-group m-b-10">
															<label class="m-r-15">Series</label>
															<div class="input-group">
																<select id="selectSeries" name="valSeries"
																	class="form-control select2 elemento-modificable" >
																	<option value="" disabled="disabled"
																		selected="selected">Seleccione una Serie</option>
																	<option value="ESCUELA">Escuela</option>
																	<option value="AREA_ESTUDIO">Area Estudio</option>
																	<option value="SOLICITANTE">Solicitante</option>
															</select>
															</div>
														</div>
													</div>
													<div class="col-md-3 hidden" id="divEjeX">
														<div class="form-group m-b-10">
															<label class="m-r-15">Eje X</label>
															<div class="input-group">
																<select id="selectEjeX" name="valEjeX"
																	class="form-control select2 elemento-modificable" >
																	<option value="" disabled="disabled"
																		selected="selected">Seleccione un eje</option>
																	<option value="PERIODO">Periodo</option>
																	<option value="ESCUELA">Escuela</option>
																	<option value="AREA_ESTUDIO">Area Estudio</option>
																</select>
															</div>
														</div>
													</div>
													<div class="col-md-3 hidden" id="divSegmY">
														<div class="form-group m-b-10 ">
															<label class="m-r-15">Segmentacion en Y</label> 
															<div class="input-group">
																<select id="selectSegmY" name="valSegY"
																	class="form-control select2 elemento-modificable" >
																	<option value="NINGUNA" selected="selected">Ninguna</option>
																	<option value="TIPO_SOLICITANTE">Tipo
																		Solicitante</option>
																	<option value="ESCUELA">Escuela</option>
																	<option value="RECURSO">Tipo de Recurso</option>
																	<option value="AREA_ESTUDIO">Area Estudios</option>
																</select>
															</div>
														</div>
													</div>
													<div class="col-md-3 hidden" id="divPresentacion">
														<div class="form-group m-b-10">
															<label class="m-r-15">Presentación</label>
															<div class="input-group">
																<select id="selectPresentacion" name="valPresentacion"
																	class="form-control select2 elemento-modificable" >
																	<option value="-1" selected="selected"
																		disabled="disabled">Seleccione una
																		presentación</option>
																	<option value="APILADO">Barras apilado</option>
																	<option value="PARALELO">Barras paralelo</option>
																</select>
															</div>
														</div>
													</div>
												</div>
												<h3 style="font-size: 18px;">Contenido</h3>
												<div class="row" style="width: 100%;">


													<div class="col-md-3">
														<div class="form-group m-b-10">
															<label class="m-r-15">Areas Estudio</label>
															<div class="input-group">
																<select id="selectAreaEstudio" name="areasEstudio[]"
																	class="js-example-basic-multiple js-states form-control filtro"
																	multiple="multiple" >
																	<option th:each="a : ${areasEstudio}"
																		th:value="${a.idAreaEstudio}" th:text="${a.nombre}"></option>
																</select>
															</div>
														</div>
													</div>
													<div class="col-md-3">
														<div class="form-group m-b-10">
															<label class="m-r-15">Escuela</label>
															<div class="input-group">
																<select id="selectEscuela" name="escuelas[]"
																	class="js-example-basic-multiple js-states form-control filtro"
																	multiple="multiple" >
																	<option th:each="e : ${escuelas}"
																		th:value="${e.idEscuela}" th:text="${e.nombre}"></option>
																</select>
															</div>
														</div>
													</div>
													<div class="col-md-3">
														<div class="form-group m-b-10">
															<label class="m-r-15">Solicitante</label>
															<div class="input-group">
																<select id="selectSolicitante" name="solicitantes[]"
																	class="js-example-basic-multiple js-states form-control filtro"
																	multiple="multiple" >
																	<option value="ALUMNO" th:text="|ALUMNO|"></option>
																	<option value="DOCENTE" th:text="|DOCENTE|"></option>
																	<option value="EXTERNO" th:text="|EXTERNO|"></option>
																</select>
															</div>
														</div>
													</div>
													<div id="recurso" class="col-md-3">
														<div class="form-group m-b-10">
															<label class="m-r-15">Recurso</label>
															<div class="input-group">
																<select id="selectRecurso" name="recursos[]"
																	class="js-example-basic-multiple js-states form-control filtro"
																	multiple="multiple" >
																	<option th:each="t : ${tiposRecursos}"
																		 th:value="${t.idTipoRecurso}" th:text="${t.nombre}"></option>
																</select>
															</div>
														</div>
													</div>
													<div id="tipoInfraccion" class="col-md-3  hidden">
														<div class="form-group m-b-10">
															<label class="m-r-15">Tipo Infraccion</label>
															<div class="input-group">
																<select id="selecttipoInfraccion" name="tipoInfracciones[]"
																	class="js-example-basic-multiple js-states form-control filtro"
																	multiple="multiple" >
																	<option th:each="m : ${multiTabDets}"
																		th:if="${m.idTabla== 2}" th:value="${m.idItem}" th:text="${m.descripcionCorta}"></option>
																</select>
															</div>
														</div>
													</div>
													<div id="tipoEstado" class="col-md-3 hidden">
														<div class="form-group m-b-10">
															<label class="m-r-15">Tipo de Estado</label>
															<div class="input-group">
																<select id="selecttipoEstado" name="tipoEstados[]"
																	class="js-example-basic-multiple js-states form-control filtro"
																	multiple="multiple" >
																		<option th:each="et : ${estadoTablas}"
																		th:if="${et.tablaOrigen=='MOV_INFRACCION'}" th:value="${et.idEstadoTabla}" th:text="${et.descripcion}"></option>
																</select>
															</div>
														</div>
													</div>
												</div>
												<div class="row text-center m-t-5"
													style="width: 100%; justify-content: center;">
													<button id="buscar" class="btn btn-info m-r-3"
														type="button">
														<i class="fa fa-search"></i> Buscar
													</button>
													<button id="limpiar" class="btn btn-success m-l-3"
														type="button">
														<i class="fa fa-refresh"></i> Limpiar
													</button>
												</div>
											</form>
										</div>

									</div>


									<div class="tab-pane" id="tabReporteMasFrecuentes"
										role="tabpanel">
										<div id="estadisticas" class="m-l-15 m-r-15">
											<form id="formMasFrecuentes">
												<h3 style="font-size: 18px;">Gráfica</h3>
												<div class="row" style="width: 100%;">
													<div class="col-md-3" id="divGrafica">
														<div class="form-group m-b-10">
															<label class="m-r-15">Facultad</label>
															<div class="input-group">
																<select id="selectMFacultad" name="facultades"
																	class="form-control select2 elemento-modificable">
																	<option value="-1" disabled="disabled"
																		selected="selected">Seleccione una Facultad</option>
																	<option th:each="f : ${facultades}"
																		th:value="${f.idFacultad}" th:text="${f.nombre}"></option>
																</select>
															</div>
														</div>
													</div>
													
													<div class="col-md-3" id="divmfAreaEstudio">
														<div class="form-group m-b-10">
															<label class="m-r-15">Area de Estudio</label>
															<div class="input-group">
																<select id="selectMAreaEstudio" name="areasEstudio"
																	class="form-control select2 elemento-modificable">
																	<option value="-1" disabled="disabled"
																		selected="selected">Seleccione un Area de Estudio</option>
																	<option th:each="a : ${areasEstudio}"
																		th:value="${a.idAreaEstudio}" th:text="${a.nombre}"></option>
																</select>
															</div>
														</div>
													</div>
													
												

												</div>
												<div id="mfescuela">
												<h3 style="font-size: 18px;">Contenido</h3>
												<div class="row" style="width: 100%;">

													<div class="col-md-3">
														<div class="form-group m-b-10">
															<label class="m-r-15">Escuela</label>
															<div class="input-group">
																<select id="selectMEscuela" name="escuelas[]"
																	class="js-example-basic-multiple js-states form-control filtro"
																	multiple="multiple" >
																	
																</select>
															</div>
														</div>
													</div>
											
												</div>
												</div>
												<div class="row text-center m-t-5"
													style="width: 100%; justify-content: center;">
													<button id="mfbuscar" class="btn btn-info m-r-3"
														type="button">
														<i class="fa fa-search"></i> Buscar
													</button>
													<button id="limpiarmf" class="btn btn-success m-l-3"
														type="button">
														<i class="fa fa-refresh"></i> Limpiar
													</button>
												</div>
											</form>
										</div>
										
										<!-- 										<div class="p-20"> -->

										<!-- 										</div> -->
									</div>
									
									

								</div>

							</div>
						</div>
					</div>
				</div>
				<!-- Tab panes -->

				<div class="row">
					<div class="col-12">
						<div id="principal" class="card">
							<div class="card-body p-b-0">
								<!-- Nav tabs -->
								<ul class="nav justify-content-end customtab2" role="tablist">
									<li class="nav-item"><a class="nav-link active"
										data-toggle="tab" href="#resultadoResumen" role="tab"> <span
											class="hidden-sm-up"><i class="ti-user"></i></span> <span
											class="hidden-xs-down">Resumen</span>
									</a></li>
									<li class="nav-item"><a class="nav-link" data-toggle="tab"
										href="#resultadoGrafico" role="tab"> <span
											class="hidden-sm-up"><i class="ti-user"></i></span> <span
											class="hidden-xs-down">Gráfico</span>
									</a></li>
									
									

								</ul>
								<div class="tab-content">
									<div class="tab-pane active m-t-40" id="resultadoResumen"
										role="tabpanel">
										<div id="divTablaResumenPrestamo">
											<table id="tblReporteResumenPrestamo"
												class="display nowrap table table-hover table-striped table-bordered "
												cellspacing="0" width="100%">
											</table>
										</div>
										
										
										
									</div>

									<div class="tab-pane m-t-40" id="resultadoGrafico"
										role="tabpanel">
										<div id="chartdiv"
											style="width: 100%; height: 700px; font-size: 11px;"></div>
									</div>
									
								</div>

							</div>
						</div>
						<div id="cinf" class="card">
							<div class="card-body p-b-0">
								<!-- Nav tabs -->
								<ul class="nav justify-content-end customtab2" role="tablist">
									<li class="nav-item"><a class="nav-link active"
										data-toggle="tab" href="#resultadoResumeni" role="tab"> <span
											class="hidden-sm-up"><i class="ti-user"></i></span> <span
											class="hidden-xs-down">Resumen</span>
									</a></li>
									
									
									<li class="nav-item"><a class="nav-link" data-toggle="tab"
										href="#resultadoGraficoin" role="tab"> <span
											class="hidden-sm-up"><i class="ti-user"></i></span> <span
											class="hidden-xs-down">Gráfico</span>
									</a></li>

								</ul>
								<div class="tab-content">
									<div class="tab-pane active m-t-40" id="resultadoResumeni"
										role="tabpanel">
										
										<div id="divTablaResumenInfraccion">
											<table id="tblReporteResumenInfraccion"
												class="display nowrap table table-hover table-striped table-bordered"
												cellspacing="0" width="100%">
											</table>
										</div>
										
										
									</div>

								
									<div class="tab-pane m-t-40" id="resultadoGraficoin"
										role="tabpanel">
										<div id="chartdivin"
											style="width: 100%; height: 700px; font-size: 11px;"></div>
									</div>
								</div>

							</div>
						</div>
						
						<div id="cmf" class="card">
							<div class="card-body p-b-0">
								
								<div class="tab-content">
									<div class="tab-pane active m-t-40" id="resultadoResumenmf"
										role="tabpanel">
										<div id="divTablaResumenPrestamomf">
									
										<div id="divTablaResumenMasFrecuentes">
											<table id="tblReporteResumenMasFrecuentes"
												class="display nowrap table table-hover table-striped table-bordered"
												cellspacing="0" width="100%">
											</table>
										</div>
									</div>

									<div class="tab-pane m-t-40" id="resultadoGraficomf"
										role="tabpanel">
										<div id="chartdivmf"
											style="width: 100%; height: 700px; font-size: 11px;"></div>
									</div>
								</div>

							</div>
						</div>
						
						
					</div>
						
						<div id="cfacultad" class="card">
							<div class="card-body p-b-0">
								
								<div class="tab-content">
									<div class="tab-pane active m-t-40" id="resultadoResumenf"
										role="tabpanel">
										<div id="divTablaResumenPrestamof">
									
										<div id="divTablaResumenMasFrecuentesFacultad">
											<table id="tblReporteResumenMasFrecuentesFacultad"
												class="display nowrap table table-hover table-striped table-bordered"
												cellspacing="0" width="100%">
											</table>
										</div>
									</div>

									<div class="tab-pane m-t-40" id="resultadoGraficof"
										role="tabpanel">
										<div id="chartdivf" 
											style="width: 100%; height: 700px; font-size: 11px;"></div>
									</div>
								</div>

							</div>
						</div>
						
						
					</div>
					
					<div id="cescuela" class="card">
							<div class="card-body p-b-0">
								
								<div class="tab-content">
									<div class="tab-pane active m-t-40" id="resultadoResumen"
										role="tabpanel">
										<div id="divTablaResumenPrestamo">
										<div id="divTablaResumenMasFrecuentesEscuela">
											<table id="tblReporteResumenMasFrecuentesEscuela"
												class="display nowrap table table-hover table-striped table-bordered"
												cellspacing="0" width="100%">
											</table>
										</div>
									</div>

									<div class="tab-pane m-t-40" id="resultadoGraficoe"
										role="tabpanel">
										<div id="chartdive"
											style="width: 100%; height: 700px; font-size: 11px;"></div>
									</div>
								</div>

							</div>
						</div>
						
						
					</div>

				</div>

			</div>
		</div>

		<!-- All Jquery -->
		<script th:src="@{/resources/js/guiuser/lib/jquery/jquery.min.js}"></script>

		<script
			th:src="@{/resources/js/guiuser/lib/bootstrap/js/popper.min.js}"></script>
		<script
			th:src="@{/resources/js/guiuser/lib/bootstrap/js/bootstrap.min.js}"></script>
		<script th:src="@{/resources/js/datatables/jquery.dataTables.min.js}"></script>
		<script
			th:src="@{/resources/js/datatables/dataTables.responsive.min.js}"></script>
		<script
			th:src="@{/resources/js/datatables/dataTables.fixedColumns.min.js}"></script>
		<script th:src="@{/resources/js/guiuser/jquery.slimscroll.js}"></script>
		<script th:src="@{/resources/js/guiuser/sidebarmenu.js}"></script>
		<script
			th:src="@{/resources/js/guiuser/lib/sticky-kit-master/dist/sticky-kit.min.js}"></script>

		<script th:src="@{/resources/js/guiuser//utils.js}"></script>
		<script th:src="@{/resources/js/jquery/moment.min.js}"></script>
		<script th:src="@{/resources/js/jquery/daterangepicker.js}"></script>
		<script th:src="@{/resources/js/jquery/jquery.serializejson.min.js}"></script>
		<script th:src="@{/resources/js/guiuser/scripts.js}"></script>
		<script th:src="@{/resources/js/guiuser/custom.min.js}"></script>
		<script th:src="@{/resources/js/guiuser/sweetalert.min.js}"></script>
		<!-- select2-->
		<script th:src="@{/resources/js/bootstrap/bootstrap-notify.min.js}"></script>
		<script th:src="@{/resources/js/guiuser/select2.min.js}"></script>
		<script th:src="@{/resources/js/util/util.js}"></script>

		<script th:src="@{/resources/js/amChart/amcharts.js}"></script>
		<script th:src="@{/resources/js/amChart/serial.js}"></script>
		<script th:src="@{/resources/js/amChart/export.min.js}"></script>
		<script th:src="@{/resources/js/amChart/pie.js}"></script>
		<script th:src="@{/resources/js/amChart/light.js}"></script>
		<script th:src="@{/resources/js/util/graficos/graficoUtil.js}"></script>
		<!-- Jquery validation  -->
		<script th:src="@{/resources/js/jquery/jquery.validate.min.js}"></script>

		<script th:src="@{/resources/js/pagina/reporte/estadisticas.js}"></script>
		<script
			th:src="@{/resources/js/pagina/reporte/estadisticasFormulario.js}"></script>
			
			<!-- Script para exportar -->
			<script th:src="@{/resources/js/datatables/export/dataTables.buttons.min.js}"></script>
			<script th:src="@{/resources/js/datatables/export/buttons.html5.min.js}"></script>
			<script th:src="@{/resources/js/datatables/export/jszip.min.js}"></script>
			<script th:src="@{/resources/js/datatables/export/pdfmake.min.js}"></script>
			<script th:src="@{/resources/js/datatables/export/vfs_fonts.js}"></script>
	</div>
</body>

</html>