<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="layout">
<head>
<title th:text="|Reporte #{__|compensacion${reporte}|__}|"></title>
</head>
<th:block layout:fragment="style">
	<link th:href="@{/resources/css/dataTables.bootstrap.min.css}"
		rel="stylesheet" />
	<link th:href="@{/resources/css/responsive.bootstrap.min.css}"
		rel="stylesheet" />
	<link th:href="@{/resources/css/select2.min.css}" rel="stylesheet" />
	<link th:href="@{/resources/css/select2-bootstrap.min.css}"
		rel="stylesheet" />
	<link th:href="@{/resources/css/daterangepicker.css}" rel="stylesheet" />
</th:block>
<body>
	<th:block layout:fragment="content">
		<div class="page-content-wrap">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title"
								th:text="|Reporte #{__|compensacion${reporte}|__}|"></h3>
						</div>
						<div class="panel-body">
							<th:block
								th:replace="~{template/fragments/reporte/criterioBusquedaReporteCompensacion :: criterioBusquedaReporteCompensacion(tipo=${reporte})}?:~{}">
							</th:block>
							<div id="tabla" class="col-xs-12">
								<th:block
									th:replace="~{seguras/reporte/reporteCompensacion :: ${reporte}}?:~{}">
								</th:block>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</th:block>

	<div th:fragment="canal">
		<table id="tablaResultadoBusqueda" width="100%"
			class="table table-bordered table-condensed nowrap display table-hover tablaComisiones">
			<tfoot>
				<tr>
					<td>Total</td>
					<td class="cantidad"></td>
					<td class="monto"></td>
					<td class="monto"></td>
					<td class="monto"></td>
					<td class="monto"></td>
					<td class="monto"></td>
					<td class="monto"></td>
					<td class="monto"></td>
					<td class="monto"></td>
				</tr>
			</tfoot>
		</table>
	</div>

	<div th:fragment="institucion">
		<table id="tablaResultadoBusqueda" width="100%"
			class="table table-bordered table-condensed nowrap display table-hover tablaComisiones">
			<tfoot>
				<tr>
					<td>Total</td>
					<td class="cantidad"></td>
					<td class="monto"></td>
					<td class="monto"></td>
					<td class="monto"></td>
					<td class="monto"></td>
					<td class="monto"></td>
					<td class="monto"></td>
					<td class="monto"></td>
					<td class="monto"></td>
				</tr>
			</tfoot>
		</table>
	</div>

	<div th:fragment="receptor">
		<table id="tablaResultadoBusqueda" width="100%"
			class="table table-bordered table-condensed table-hover display nowrap">
			<thead>
				<tr>
					<th id="th_tipo_compensacion" rowspan="3"></th>
				</tr>
				<tr id="tr_membresia" class="removible">
				</tr>
				<tr id="tr_cantidades" class="removible">
				</tr>
			</thead>
			<tbody id="tbody" class="removible">
			</tbody>
			<tfoot>
				<tr id="tr_foot_total" class="removible">
				</tr>
			</tfoot>
		</table>
	</div>

	<th:block layout:fragment="script">
		<script th:src="@{/resources/js/datatables/jquery.dataTables.min.js}"></script>
		<script
			th:src="@{/resources/js/datatables/dataTables.bootstrap.min.js}"></script>
		<script
			th:src="@{/resources/js/datatables/dataTables.responsive.min.js}"></script>
		<script th:src="@{/resources/js/bootstrap/bootstrap-notify.min.js}"></script>
		<script th:src="@{/resources/js/jquery/jquery.serializejson.min.js}"></script>
		<script th:src="@{/resources/js/jquery/jquery.validate.min.js}"></script>
		<script th:src="@{/resources/js/jquery/additional-methods.min.js}"></script>
		<script th:src="@{/resources/js/jquery/select2.full.min.js}"></script>
		<script th:src="@{/resources/js/jquery/moment.min.js}"></script>
		<script th:src="@{/resources/js/jquery/daterangepicker.js}"></script>
		<script
			th:src="@{/resources/js/pagina/reporte/compensacion/reporteCompensacionUtil.js}"></script>
		<script
			th:src="@{/resources/js/pagina/reporte/compensacion/{reporte}/{reporte}.js(reporte = ${reporte})}"></script>
		<script
			th:src="@{/resources/js/pagina/reporte/compensacion/{reporte}/{reporte}Formulario.js(reporte = ${reporte})}"></script>
		<script th:src="@{/resources/js/util/formularioUtil.js}"></script>
	</th:block>
</body>
</html>