<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pe.edu.unmsm.fisi.siscae.mapper.IConsultaPrestamosTablaMapper">

	<sql id="fragmentoSelectBuscarPrestamosTablas">
		SELECT  id_recurso,
			    numero,
		        tipo_recurso,
		        max_capacidad,
			    fecha_prestamo,
			    hora_entrada,
			    hora_salida,
			    estado, 
			    nombre, 
			    app_paterno,
			    app_materno,
		        codigo_alumno,
		        num_documento,
		        area_estudio,
		        observacion,
		        cantidad_prestamos
		  FROM VW_ESTADO_AULAS_TABLA 
	</sql>

	<select id="buscarTodos" resultType="PrestamoRecursoTabla">
		<include refid="fragmentoSelectBuscarPrestamosTablas" />
	</select>
	
	<select id="buscarPorNumeroDocumentoIdentidad" resultType="PrestamoRecursoTabla">
		<include refid="fragmentoSelectBuscarPrestamosTablas" />
		<where>
			<if test="tipoDocumentoIdentidad != null and tipoDocumentoIdentidad != ''">
				VW_ESTADO_AULAS_TABLA  .cod_tip_doc_ide = #{tipoDocumentoIdentidad}
			</if>
			<if test="numeroDocumentoIdentidad != null and numeroDocumentoIdentidad != ''">
				VW_ESTADO_AULAS_TABLA  .num_doc_ide = #{numeroDocumentoIdentidad}
			</if>
		</where>
	</select>

	<select id="buscarPorCriterio" resultType="PrestamoRecursoTabla">
		<include refid="fragmentoSelectBuscarPrestamosTablas" />
		<where>
			<if test="areaEstudio != null and areaEstudio != '-1'">
				VW_ESTADO_AULAS_TABLA .area_estudio = #{areaEstudio}
			</if>
		</where>
	</select>
	
	
	<select id="buscarPorCriterio2" resultType="PrestamoRecursoTabla">
		<include refid="fragmentoSelectBuscarPrestamosTablas" />
		<where>
			<if test="maxCapacidad != null and maxCapacidad != '-1'">
				VW_ESTADO_AULAS_TABLA .max_capacidad = #{maxCapacidad}
			</if>
		</where>
	</select>


</mapper>