<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pe.edu.unmsm.fisi.siscae.mapper.IPersonaPPMapper">
 
	<select id="buscarTodos" resultType="PersonaPP" > 
		  SELECT   nIdPersona													AS idPersona,
			       CONCAT(nTipoDocumento,' - ', tipoDocumento.vDescripcionItem) AS descripcionTipoDocumento,
				   vNumeroDocumento 											AS numeroDocumento,
				   vNombres 													AS nombres,
				   vApellidoPaterno 											AS apellidoPaterno,
				   vApellidoMaterno 											AS apellidoMaterno,
				   vAlias														AS alias,
				   FORMAT(dFechaNacimiento, 'dd/MM/yyyy', 'es-PE') 				AS fechaNacimiento,
				   vTelefonoFijo 												AS telefonoFijo,
				   vTelefonoMovil 												AS telefonoMovil,
				   vDireccion 													AS direccion,
				   FORMAT(dFechaRegistro, 'dd/MM/yyyy', 'es-PE') 				AS fechaRegistro,
				   vCodPulsera													AS codPulsera,
				   nCodigoUBA													AS codUBA,
				   vCorreoElectronico							 				AS correoElectronico
  		  FROM MaePersonaPP
		  LEFT JOIN MaeMultitabDet tipoDocumento ON
			     (tipoDocumento.vIdItem = nTipoDocumento AND tipoDocumento.nIdTabla = 1)
		
	</select>
	
	<resultMap type="PersonaPP" id="mapPersonas">
		<id property="idPersona" column="nIdPersona"/>
		<result property="nombres" column="vNombres"/>
		<result property="apePaterno" column="vApellidoPaterno"/>
		<result property="apeMaterno" column="vApellidoMaterno"/>
		<result property="descripcionTipoDocumento" column="descripcionTipoDocumento"/>
		<result property="numeroDocumento" column="vNumeroDocumento"/>
	</resultMap>
	
</mapper>