<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pe.edu.unmsm.fisi.siscae.mapper.IReporteEstadisticaPrestamosMapper">

	<resultMap type="ReporteEstadisticaPrestamosPorPeriodo" id="objetoResultadoSinSegmentar">
		<id property="numeroPrestamos" column="numeroPrestamos"></id>
		<id property="periodoPrestamo" column="periodoPrestamo"></id>
		<id property="estadiaTotal" column="estadiaTotal"></id>
		<id property="estadiaPromedio" column="estadiaPromedio"></id>
	</resultMap>
	
	<!--    ¡¡ OBSERVACION !!              '&lt;'   significa   '<' -->
	
	<select id="buscarPorPeriodoSinSegementar" resultMap="objetoResultadoSinSegmentar">
			WITH RECURSIVE ListaPeriodo  AS
			(		
				<if test="tipoPeriodo == 'DIA'">
					SELECT #{fechaInicio}  						AS fecha					
					UNION ALL
					SELECT DATE_ADD(fecha,INTERVAL 1 DAY) 		AS fecha	
					FROM ListaPeriodo
					WHERE fecha &lt; #{fechaFin}
				</if>
				
				<if test="tipoPeriodo == 'SEMANA'">
					SELECT 	#{semanaInicio}                    	AS semana,
							#{anioInicio}						AS anio
					UNION ALL
					SELECT IF(semana &lt;= 51,semana + 1,1) 		AS semana,
						   IF(semana = 52,anio + 1,anio)  			AS anio
					FROM ListaPeriodo
					WHERE (anio = #{anioFin} AND semana &lt; #{semanaFin}) OR (anio &lt; #{anioFin})
				</if>
				
				<if test="tipoPeriodo == 'MES'">
					SELECT #{mesInicio} 						AS mes,
						   #{anioInicio}						AS anio
					UNION ALL
					SELECT IF(mes &lt;= 11,mes + 1,1) 			AS mes,
						   IF(mes = 12,anio + 1,anio)  			AS anio
					FROM ListaPeriodo
					WHERE (anio = #{anioFin} AND mes &lt; #{mesFin}) OR (anio &lt; #{anioFin})
				</if>
				
				<if test="tipoPeriodo == 'ANIO'">
					SELECT #{anioInicio} 						AS anio
					UNION ALL
					SELECT (anio+1) 							AS anio
					FROM ListaPeriodo
					WHERE anio &lt; #{anioFin}
				</if>
					
			)
			SELECT
				COUNT(reporte.estadia)										AS numeroPrestamos,
			<if test="tipoPeriodo == 'DIA'">
			    lista.fecha 												AS periodoPrestamo,
			</if>
			<if test="tipoPeriodo == 'SEMANA'">
			    CONCAT(lista.anio,'-',lista.semana)							AS periodoPrestamo,
			</if>
			<if test="tipoPeriodo == 'MES'">
			    CONCAT(lista.anio,'-',lista.mes)							AS periodoPrestamo,
			</if>
			<if test="tipoPeriodo == 'ANIO'">
			    lista.anio													AS periodoPrestamo,
			</if>
				IFNULL(SEC_TO_TIME2(SUM(TIME_TO_SEC(reporte.estadia))),0) 	AS estadiaTotal,
			    IFNULL(SEC_TO_TIME(AVG(TIME_TO_SEC(reporte.estadia))),0)  	AS estadiaPromedio
			
			FROM ListaPeriodo lista
			
			<if test="tipoPeriodo == 'DIA'">
			LEFT JOIN vw_reporte_prestamos reporte ON (reporte.fecha_registro = lista.fecha)
			</if>
			<if test="tipoPeriodo == 'SEMANA'">
			LEFT JOIN vw_reporte_prestamos reporte ON (CONCAT(lista.anio,'-',lista.semana) = CONCAT(YEAR(reporte.fecha_registro),'-',WEEK(reporte.fecha_registro)))
			</if>
			<if test="tipoPeriodo == 'MES'">
			LEFT JOIN vw_reporte_prestamos reporte ON (CONCAT(lista.anio,'-',lista.mes) = CONCAT(YEAR(reporte.fecha_registro),'-',MONTH(reporte.fecha_registro)))
			</if>
			 <if test="tipoPeriodo == 'ANIO'">
			LEFT JOIN vw_reporte_prestamos reporte ON (lista.anio = YEAR(reporte.fecha_registro))
			</if>
			
			GROUP BY
			<if test="tipoPeriodo == 'DIA'">
			    lista.fecha
			</if>
			<if test="tipoPeriodo == 'SEMANA'">
			    lista.anio,
    			lista.semana
			 </if>
			 <if test="tipoPeriodo == 'MES'">
				lista.anio,
				lista.mes
			 </if>
			 <if test="tipoPeriodo == 'ANIO'">
			    lista.anio
			 </if>
	</select>
	
	<select id="buscarPorCriterio" resultMap="objetoResultadoSinSegmentar">
		SELECT 
			COUNT(recurso) as numeroPrestamos,
			<if test="serie == 'ESCUELA'">
				escuela			as segmento,
			</if>
			<if test="serie == 'AREAESTUDIO'">
				area_estudio		as segmento,
			</if>
			<if test="serie == 'SOLICITANTE'">
				nombre_tipo		as segmento,
			</if>
			IFNULL(SEC_TO_TIME2(SUM(TIME_TO_SEC(estadia))),0) 	AS estadiaTotal,
    		IFNULL(SEC_TO_TIME(AVG(TIME_TO_SEC(estadia))),0)  	AS estadiaPromedio
		    
		FROM vw_reporte_prestamos
		WHERE 
			<if test="tipoPeriodo == 'DIA'">
				    fecha_registro BETWEEN #{fechaInicio}  AND #{fechaFin}
			</if>
			<if test="tipoPeriodo == 'SEMANA'">
				   fecha_registro BETWEEN F_GENERADOR_FECHAS('INI', 'SEMANA',#{anioInicio} ,null, null, #{semanaInicio} )
				   AND F_GENERADOR_FECHAS('FIN', 'SEMANA',#{anioInicio} ,null, null, #{semanaInicio} )
			</if>
			<if test="tipoPeriodo == 'MES'">
				   fecha_registro BETWEEN F_GENERADOR_FECHAS('INI', 'MES',#{anioInicio} ,#{mesInicio}, null, null )
				   AND F_GENERADOR_FECHAS('FIN', 'MES',#{anioInicio} ,#{mesInicio}, null, null )
			</if>
			<if test="tipoPeriodo == 'ANIO'">
				    fecha_registro BETWEEN F_GENERADOR_FECHAS('INI', 'ANIO',#{anioInicio} ,null, null, null )
				   AND F_GENERADOR_FECHAS('FIN', 'ANIO',#{anioInicio} ,null, null, null )
			</if>
		<if test="serie == 'ESCUELA'">
				GROUP BY escuela
		</if>
		<if test="serie == 'AREAESTUDIO'">
				GROUP BY area_estudio
		</if>
		<if test="serie == 'SOLICITANTE'">
				GROUP BY nombre_tipo
		</if>
		
	</select>
	
	<select id="buscarPorPeriodoSegmentado" resultMap="mapReporteResumen">
			WITH RECURSIVE ListaPeriodo  AS
			(		
				<if test="tipoPeriodo == 'DIA'">
					SELECT #{fechaInicio}  						AS fecha					
					UNION ALL
					SELECT DATE_ADD(fecha,INTERVAL 1 DAY) 		AS fecha	
					FROM ListaPeriodo
					WHERE fecha &lt; #{fechaFin}
				</if>
				
				<if test="tipoPeriodo == 'SEMANA'">
					SELECT 	#{semanaInicio}                    	AS semana,
							#{anioInicio}						AS anio
					UNION ALL
					SELECT IF(semana &lt;= 51,semana + 1,1) 		AS semana,
						   IF(semana = 52,anio + 1,anio)  			AS anio
					FROM ListaPeriodo
					WHERE (anio = #{anioFin} AND semana &lt; #{semanaFin}) OR (anio &lt; #{anioFin})
				</if>
				
				<if test="tipoPeriodo == 'MES'">
					SELECT #{mesInicio} 						AS mes,
						   #{anioInicio}						AS anio
					UNION ALL
					SELECT IF(mes &lt;= 11,mes + 1,1) 			AS mes,
						   IF(mes = 12,anio + 1,anio)  			AS anio
					FROM ListaPeriodo
					WHERE (anio = #{anioFin} AND mes &lt; #{mesFin}) OR (anio &lt; #{anioFin})
				</if>
				
				<if test="tipoPeriodo == 'ANIO'">
					SELECT #{anioInicio} 						AS anio
					UNION ALL
					SELECT (anio+1) 							AS anio
					FROM ListaPeriodo
					WHERE anio &lt; #{anioFin}
				</if>
					
			)
			SELECT
			      cr.v_nombre 												AS criterioSegmentacion,
				<if test="tipoPeriodo == 'DIA'">
					lista.fecha 											AS periodoPrestamo,
				    F_CANTIDAD_PRESTAMOS_BETWEEN(#{criterioSegmentacion}, cr.v_nombre,lista.fecha,
					adddate(lista.fecha, INTERVAL 1 DAY))  					AS numeroPrestamos
				</if>
				<if test="tipoPeriodo == 'SEMANA'">
				    CONCAT(lista.anio,'-',lista.semana)							AS periodoPrestamo,
				    F_CANTIDAD_PRESTAMOS_BETWEEN(#{criterioSegmentacion}, cr.v_nombre,
				    F_GENERADOR_FECHAS('INI', 'SEMANA',lista.anio,null, null,lista.semana),
				    F_GENERADOR_FECHAS('FIN', 'SEMANA',lista.anio,null, null,lista.semana))  	AS numeroPrestamos
				</if>
				<if test="tipoPeriodo == 'MES'">
				    CONCAT(lista.anio,'-',lista.mes)							AS periodoPrestamo,
				    F_CANTIDAD_PRESTAMOS_BETWEEN(#{criterioSegmentacion}, cr.v_nombre,
				    F_GENERADOR_FECHAS('INI', 'MES',lista.anio,lista.mes, null,null),
				    F_GENERADOR_FECHAS('FIN', 'MES',lista.anio,lista.mes, null,null))  	AS numeroPrestamos
				</if>
				<if test="tipoPeriodo == 'ANIO'">
				    lista.anio													AS periodoPrestamo,
				    F_CANTIDAD_PRESTAMOS_BETWEEN(#{criterioSegmentacion}, cr.v_nombre,
				    F_GENERADOR_FECHAS('INI', 'MES',lista.anio,null, null,null),
				    F_GENERADOR_FECHAS('FIN', 'MES',lista.anio,null, null,null))  	AS numeroPrestamos
				</if>

			FROM 
			<if test="criterioSegmentacion == 'AREAESTUDIO'">
				mae_area_estudio  cr,
			</if>
			<if test="criterioSegmentacion == 'ESCUELA'">
				mae_escuela  cr,
			</if>
			<if test="criterioSegmentacion == 'TIPOSOLICITANTE'">
				(SELECT 
					DISTINCT(F_GET_TIPO_SOLICITANTE(n_id_persona)) AS v_nombre
	  			FROM mae_persona) AS cr,
			</if>
			ListaPeriodo lista 
	</select>
	
	<resultMap type="ReportePrestamosPorPeriodoSegmentado" id="mapReporteResumen">
			<id property="ejeX" column="periodoPrestamo"></id>
			<collection property="detalle" javaType="List" ofType="ReportePrestamosPorPeriodoSegmentadoDetalle">
					<result property="periodoPrestamo" column="periodoPrestamo"></result>
					<result property="segmento" column="criterioSegmentacion"></result>
					<result property="numeroPrestamos" column="numeroPrestamos"></result>
			</collection>
	</resultMap>



</mapper>