<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pe.edu.unmsm.fisi.siscae.mapper.IReporteEstadisticaInfraccionesMapper">

	<sql id="fragmentoSelectBuscarReporteEstadisticaInfracciones">
		SELECT  numero_documento,
				tipo_documento,
			    nombre_tipo,
			    app_paterno, 
			    app_materno,
			    nombre, 
			    id_escuela_programa,
			    escuela_programa,
			    codigo_infraccion,
			    estado_infraccion,
			    gravedad,
		        tipo_infraccion,
		        descripcion,
		        hora_infraccion,
			    fecha_infraccion,
			    turno,
			    id_area_estudio,
			    area_estudio
		  FROM VW_REPORTE_INFRACCIONES 
	</sql>

	<select id="buscarTodos" resultType="ReporteEstadisticaInfracciones">
		<include refid="fragmentoSelectBuscarReporteEstadisticaInfracciones" />
	</select>
	
	<select id="buscarPorNumeroDocumentoIdentidad" resultType="ReporteEstadisticaInfracciones">
		<include refid="fragmentoSelectBuscarReporteEstadisticaInfracciones" />
		<where>
			<if test="tipoDocumentoIdentidad != null and tipoDocumentoIdentidad != ''">
				VW_REPORTE_INFRACCIONES  .cod_tip_doc_ide = #{tipoDocumentoIdentidad}
			</if>
			<if test="numeroDocumentoIdentidad != null and numeroDocumentoIdentidad != ''">
				AND VW_REPORTE_INFRACCIONES  .num_doc_ide = #{numeroDocumentoIdentidad}
			</if>
		</where>
	</select>

	<select id="buscarPorCriterio" resultType="ReporteEstadisticaInfracciones">
		<include refid="fragmentoSelectBuscarReporteEstadisticaInfracciones" />
		<where>
			<if test="numeroDocumento != null and numeroDocumento != '-1'">
				VW_REPORTE_INFRACCIONES .numero_documento = #{numeroDocumento}
			</if>
		</where>
	</select>


</mapper>