<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pe.edu.unmsm.fisi.siscae.mapper.IReporteEstadisticaInfraccionesMapper">

	
	
	<!--    ¡¡ OBSERVACION !!              '&lt;'   significa   '<' -->
	
	<select id="buscarPorPeriodoSinSegementar" resultMap="objetoSinSegmentar">
			WITH RECURSIVE ListaPeriodo  AS
			(		
				<if test="tipoPeriodo == 'DIA'">
					SELECT #{fechaInicio}  						AS fecha					
					UNION ALL
					SELECT DATE_ADD(fecha,INTERVAL 1 DAY) 		AS fecha	
					FROM ListaPeriodo
					WHERE fecha &lt; #{fechaFin}
				</if>
				
				<if test="tipoPeriodo == 'SEMANA'">
					SELECT 	#{semanaInicio}                    	AS semana,
							#{anioInicio}						AS anio
					UNION ALL
					SELECT IF(semana &lt;= 51,semana + 1,1) 		AS semana,
						   IF(semana = 52,anio + 1,anio)  			AS anio
					FROM ListaPeriodo
					WHERE (anio = #{anioFin} AND semana &lt; #{semanaFin}) OR (anio &lt; #{anioFin})
				</if>
				
				<if test="tipoPeriodo == 'MES'">
					SELECT #{mesInicio} 						AS mes,
						   #{anioInicio}						AS anio
					UNION ALL
					SELECT IF(mes &lt;= 11,mes + 1,1) 			AS mes,
						   IF(mes = 12,anio + 1,anio)  			AS anio
					FROM ListaPeriodo
					WHERE (anio = #{anioFin} AND mes &lt; #{mesFin}) OR (anio &lt; #{anioFin})
				</if>
				
				<if test="tipoPeriodo == 'ANIO'">
					SELECT #{anioInicio} 						AS anio
					UNION ALL
					SELECT (anio+1) 							AS anio
					FROM ListaPeriodo
					WHERE anio &lt; #{anioFin}
				</if>
					
			)
			SELECT
				COUNT(reporte.nombre)										AS numeroInfracciones,
				SUM(CASE WHEN reporte.estado_solicitante='SANCIONADO'
			         THEN 1 ELSE 0 END) 									AS numeroSancionados,
			<if test="tipoPeriodo == 'DIA'">
			    lista.fecha 												AS ejeX,
				(SELECT AVG(consulta.nInfracciones)
			     FROM (SELECT 
						DISTINCT(reporte.numero_documento),
						F_CANTIDAD_INFRACCIONES(reporte.numero_documento, lista.fecha , lista.fecha ) AS nInfracciones
						FROM vw_reporte_infracciones reporte
						WHERE reporte.fecha_infraccion BETWEEN lista.fecha  AND lista.fecha 
					  ) as consulta
			    )															AS numeroInfraccionesPromedioPorAlumno
			</if>
			<if test="tipoPeriodo == 'SEMANA'">
			    CONCAT(lista.anio,'-',lista.semana)							AS ejeX,
			    (SELECT AVG(consulta.nInfracciones)
			     FROM (SELECT 
						DISTINCT(reporte.numero_documento),
						F_CANTIDAD_INFRACCIONES(reporte.numero_documento, F_GENERADOR_FECHAS('INI', 'SEMANA',lista.anio,null, null, lista.semana) , F_GENERADOR_FECHAS('FIN', 'SEMANA',lista.anio,null, null, lista.semana)  ) AS nInfracciones
						FROM vw_reporte_infracciones reporte
						WHERE reporte.fecha_infraccion BETWEEN F_GENERADOR_FECHAS('INI', 'SEMANA',lista.anio,null, null, lista.semana)   AND F_GENERADOR_FECHAS('FIN', 'SEMANA',lista.anio,null, null, lista.semana) 
					  ) as consulta
			    )															AS numeroInfraccionesPromedioPorAlumno
			</if>
			<if test="tipoPeriodo == 'MES'">
			    CONCAT(lista.anio,'-',lista.mes)							AS ejeX,
			    (SELECT AVG(consulta.nInfracciones)
			     FROM (SELECT 
						DISTINCT(reporte.numero_documento),
						F_CANTIDAD_INFRACCIONES(reporte.numero_documento, F_GENERADOR_FECHAS('INI', 'MES',lista.anio,lista.mes, null,null) , F_GENERADOR_FECHAS('FIN', 'MES',lista.anio,lista.mes, null,null)  ) AS nInfracciones
						FROM vw_reporte_infracciones reporte
						WHERE reporte.fecha_infraccion BETWEEN F_GENERADOR_FECHAS('INI', 'MES',lista.anio,lista.mes, null,null)   AND F_GENERADOR_FECHAS('FIN', 'MES',lista.anio,lista.mes, null,null) 
					  ) as consulta
			    )												AS numeroInfraccionesPromedioPorAlumno
			</if>
			<if test="tipoPeriodo == 'ANIO'">
			    lista.anio													AS ejeX,
			    (SELECT AVG(consulta.nInfracciones)
			     FROM (SELECT 
						DISTINCT(reporte.numero_documento),
						F_CANTIDAD_INFRACCIONES(reporte.numero_documento, F_GENERADOR_FECHAS('INI', 'ANIO',lista.anio,null, null,null) , F_GENERADOR_FECHAS('FIN', 'ANIO',lista.anio,null, null,null)  ) AS nInfracciones
						FROM vw_reporte_infracciones reporte
						WHERE reporte.fecha_infraccion BETWEEN F_GENERADOR_FECHAS('INI', 'ANIO',lista.anio,null, null,null)   AND F_GENERADOR_FECHAS('FIN','ANIO',lista.anio,null, null,null) 
					  ) as consulta
			    )												AS numeroInfraccionesPromedioPorAlumno
			</if>
			
			FROM ListaPeriodo lista
			<if test="tipoPeriodo == 'DIA'">
			LEFT JOIN vw_reporte_infracciones reporte ON (reporte.fecha_infraccion = lista.fecha)
			</if>
			<if test="tipoPeriodo == 'SEMANA'">
			LEFT JOIN vw_reporte_infracciones reporte ON (CONCAT(lista.anio,'-',lista.semana) = CONCAT(YEAR(reporte.fecha_infraccion),'-',WEEK(reporte.fecha_infraccion)))
			</if>
			<if test="tipoPeriodo == 'MES'">
			LEFT JOIN vw_reporte_infracciones reporte ON (CONCAT(lista.anio,'-',lista.mes) = CONCAT(YEAR(reporte.fecha_infraccion),'-',MONTH(reporte.fecha_infraccion)))
			</if>
			 <if test="tipoPeriodo == 'ANIO'">
			LEFT JOIN vw_reporte_infracciones reporte ON (lista.anio = YEAR(reporte.fecha_infraccion))
			</if>
			
			GROUP BY
			<if test="tipoPeriodo == 'DIA'">
			    lista.fecha
			</if>
			<if test="tipoPeriodo == 'SEMANA'">
			    lista.anio,
    			lista.semana
			 </if>
			 <if test="tipoPeriodo == 'MES'">
				lista.anio,
				lista.mes
			 </if>
			 <if test="tipoPeriodo == 'ANIO'">
			    lista.anio
			 </if>
	</select>
	
	<select id="buscarPorCriterio" resultMap="objetoSinSegmentar">
		SELECT 
			COUNT(fecha_infraccion) as numeroInfracciones,
			<if test="serie == 'ESCUELA'">
				r.escuela_programa			as segmento,
			</if>
			<if test="serie == 'AREA_ESTUDIO'">
				r.area_estudio		as segmento,
			</if>
			<if test="serie == 'SOLICITANTE'">
				r.nombre_tipo		as segmento,
			</if>
			<if test="serie == 'TIPO_INFRACCION'">
				r.tipo_infraccion		as segmento,
			</if>
			SUM(CASE WHEN F_ESTADO_SOLICITANTE(pe.n_id_persona)='SANCIONADO'
			         THEN 1 ELSE 0 END) 									AS numeroSancionados,
			<if test="tipoPeriodo == 'DIA'">
				(SELECT AVG(consulta.nInfracciones)
			     FROM (SELECT 
						DISTINCT(reporte.numero_documento),
						F_CANTIDAD_INFRACCIONES(reporte.numero_documento, #{fechaInicio} , #{fechaFin} ) AS nInfracciones
						FROM vw_reporte_infracciones reporte
						WHERE reporte.fecha_infraccion BETWEEN #{fechaInicio}  AND #{fechaFin}
					  ) as consulta
			    )															AS numeroInfraccionesPromedioPorAlumno
			</if>
			<if test="tipoPeriodo == 'SEMANA'">
			    (SELECT AVG(consulta.nInfracciones)
			     FROM (SELECT 
						DISTINCT(reporte.numero_documento),
						F_CANTIDAD_INFRACCIONES(reporte.numero_documento, F_GENERADOR_FECHAS('INI', 'SEMANA',#{anioInicio},null, null, #{semanaInicio}) , F_GENERADOR_FECHAS('FIN', 'SEMANA',#{anioFin},null, null, #{semanaFin})  ) AS nInfracciones
						FROM vw_reporte_infracciones reporte
						WHERE reporte.fecha_infraccion BETWEEN F_GENERADOR_FECHAS('INI', 'SEMANA',#{anioInicio},null, null, #{semanaInicio})   AND F_GENERADOR_FECHAS('FIN', 'SEMANA',#{anioFin},null, null, #{semanaFin}) 
					  ) as consulta
			    )															AS numeroInfraccionesPromedioPorAlumno
			</if>
			<if test="tipoPeriodo == 'MES'">
			    (SELECT AVG(consulta.nInfracciones)
			     FROM (SELECT 
						DISTINCT(reporte.numero_documento),
						F_CANTIDAD_INFRACCIONES(reporte.numero_documento, F_GENERADOR_FECHAS('INI', 'MES',#{anioInicio},#{mesInicio}, null,null) , F_GENERADOR_FECHAS('FIN', 'SEMANA',#{anioFin},#{mesFin}, null,null)  ) AS nInfracciones
						FROM vw_reporte_infracciones reporte
						WHERE reporte.fecha_infraccion BETWEEN F_GENERADOR_FECHAS('INI', 'MES',#{anioInicio},#{mesInicio}, null,null)   AND F_GENERADOR_FECHAS('FIN', 'SEMANA',#{anioFin},#{mesFin}, null,null) 
					  ) as consulta
			    )												AS numeroInfraccionesPromedioPorAlumno
			</if>
			<if test="tipoPeriodo == 'ANIO'">
			    (SELECT AVG(consulta.nInfracciones)
			     FROM (SELECT 
						DISTINCT(reporte.numero_documento),
						F_CANTIDAD_INFRACCIONES(reporte.numero_documento, F_GENERADOR_FECHAS('INI', 'ANIO',#{anioInicio},null, null,null) , F_GENERADOR_FECHAS('FIN', 'ANIO',#{anioFin},null, null,null)  ) AS nInfracciones
						FROM vw_reporte_infracciones reporte
						WHERE reporte.fecha_infraccion BETWEEN F_GENERADOR_FECHAS('INI', 'ANIO',#{anioInicio},null, null,null)   AND F_GENERADOR_FECHAS('FIN','ANIO',#{anioFin},null, null,null) 
					  ) as consulta
			    )												AS numeroInfraccionesPromedioPorAlumno
			</if>
		    
		FROM vw_reporte_infracciones r
		LEFT JOIN mae_persona pe ON (pe.v_num_documento=r.numero_documento)
		WHERE 
			<if test="tipoPeriodo == 'DIA'">
				    fecha_infraccion BETWEEN #{fechaInicio}  AND #{fechaFin}
			</if>
			<if test="tipoPeriodo == 'SEMANA'">
				   fecha_infraccion BETWEEN F_GENERADOR_FECHAS('INI', 'SEMANA',#{anioInicio} ,null, null, #{semanaInicio} )
				   AND F_GENERADOR_FECHAS('FIN', 'SEMANA',#{anioInicio} ,null, null, #{semanaInicio} )
			</if>
			<if test="tipoPeriodo == 'MES'">
				   fecha_infraccion BETWEEN F_GENERADOR_FECHAS('INI', 'MES',#{anioInicio} ,#{mesInicio}, null, null )
				   AND F_GENERADOR_FECHAS('FIN', 'MES',#{anioInicio} ,#{mesInicio}, null, null )
			</if>
			<if test="tipoPeriodo == 'ANIO'">
				    fecha_infraccion BETWEEN F_GENERADOR_FECHAS('INI', 'ANIO',#{anioInicio} ,null, null, null )
				   AND F_GENERADOR_FECHAS('FIN', 'ANIO',#{anioInicio} ,null, null, null )
			</if>
		<if test="serie == 'ESCUELA'">
				GROUP BY r.escuela_programa
		</if>
		<if test="serie == 'AREA_ESTUDIO'">
				GROUP BY r.area_estudio
		</if>
		<if test="serie == 'SOLICITANTE'">
				GROUP BY r.nombre_tipo
		</if>
		<if test="serie == 'TIPO_INFRACCION'">
				GROUP BY r.tipo_infraccion
		</if>
		
	</select>
	
	<select id="buscarPorPeriodoSegmentado" resultMap="objetoSegmentado">
			WITH RECURSIVE ListaPeriodo  AS
			(		
				<if test="tipoPeriodo == 'DIA'">
					SELECT #{fechaInicio}  						AS fecha					
					UNION ALL
					SELECT DATE_ADD(fecha,INTERVAL 1 DAY) 		AS fecha	
					FROM ListaPeriodo
					WHERE fecha &lt; #{fechaFin}
				</if>
				
				<if test="tipoPeriodo == 'SEMANA'">
					SELECT 	#{semanaInicio}                    	AS semana,
							#{anioInicio}						AS anio
					UNION ALL
					SELECT IF(semana &lt;= 51,semana + 1,1) 		AS semana,
						   IF(semana = 52,anio + 1,anio)  			AS anio
					FROM ListaPeriodo
					WHERE (anio = #{anioFin} AND semana &lt; #{semanaFin}) OR (anio &lt; #{anioFin})
				</if>
				
				<if test="tipoPeriodo == 'MES'">
					SELECT #{mesInicio} 						AS mes,
						   #{anioInicio}						AS anio
					UNION ALL
					SELECT IF(mes &lt;= 11,mes + 1,1) 			AS mes,
						   IF(mes = 12,anio + 1,anio)  			AS anio
					FROM ListaPeriodo
					WHERE (anio = #{anioFin} AND mes &lt; #{mesFin}) OR (anio &lt; #{anioFin})
				</if>
				
				<if test="tipoPeriodo == 'ANIO'">
					SELECT #{anioInicio} 						AS anio
					UNION ALL
					SELECT (anio+1) 							AS anio
					FROM ListaPeriodo
					WHERE anio &lt; #{anioFin}
				</if>
					
			)
			SELECT
			      cr.v_nombre 												AS criterioSegmentacion,
				<if test="tipoPeriodo == 'DIA'">
					lista.fecha 											AS ejeX,
				    F_OBTENER_ESTADISTICO_INFRACCIONES_BETWEEN(#{criterioSegmentacion}, cr.v_nombre,lista.fecha,
					adddate(lista.fecha, INTERVAL 1 DAY),
					'CANTIDAD_INFRACCIONES')  								AS numeroInfracciones
				</if>
				<if test="tipoPeriodo == 'SEMANA'">
				    CONCAT(lista.anio,'-',lista.semana)							AS ejeX,
				    F_OBTENER_ESTADISTICO_INFRACCIONES_BETWEEN(#{criterioSegmentacion}, cr.v_nombre,
				    F_GENERADOR_FECHAS('INI', 'SEMANA',lista.anio,null, null,lista.semana),
				    F_GENERADOR_FECHAS('FIN', 'SEMANA',lista.anio,null, null,lista.semana),
				    'CANTIDAD_INFRACCIONES')  									AS numeroInfracciones
				</if>
				<if test="tipoPeriodo == 'MES'">
				    CONCAT(lista.anio,'-',lista.mes)							AS ejeX,
				    F_OBTENER_ESTADISTICO_INFRACCIONES_BETWEEN(#{criterioSegmentacion}, cr.v_nombre,
				    F_GENERADOR_FECHAS('INI', 'MES',lista.anio,lista.mes, null,null),
				    F_GENERADOR_FECHAS('FIN', 'MES',lista.anio,lista.mes, null,null),
				    'CANTIDAD_INFRACCIONES')  									AS numeroInfracciones
				</if>
				<if test="tipoPeriodo == 'ANIO'">
				    lista.anio													AS ejeX,
				    F_OBTENER_ESTADISTICO_INFRACCIONES_BETWEEN(#{criterioSegmentacion}, cr.v_nombre,
				    F_GENERADOR_FECHAS('INI', 'ANIO',lista.anio,null, null,null),
				    F_GENERADOR_FECHAS('FIN', 'ANIO',lista.anio,null, null,null),
				    'CANTIDAD_INFRACCIONES')  									AS numeroInfracciones
				</if>

			FROM 
			ListaPeriodo lista ,
			<if test="criterioSegmentacion == 'AREA_ESTUDIO'">
				mae_area_estudio  cr
			</if>
			<if test="criterioSegmentacion == 'ESCUELA'">
				mae_escuela  cr
			</if>
			<if test="criterioSegmentacion == 'TIPO_SOLICITANTE'">
				(SELECT 
					DISTINCT(F_GET_TIPO_SOLICITANTE(n_id_persona)) AS v_nombre
	  			FROM mae_persona) cr
			</if>
			<if test="criterioSegmentacion == 'TIPO_INFRACCION'">
				(SELECT mtd.v_descripcion as v_nombre 
	             FROM mae_multi_tab_det mtd
	             LEFT JOIN  mae_multi_tab_cab mtc ON (mtd.n_id_tabla=mtc.n_id_tabla)
	             WHERE mtc.v_nombre='TIPO INFRACCION')  cr
			</if>
			
	</select>
	
	<select id="buscarPorEjeXSinSegmentar" resultMap="objetoSinSegmentar">
			SELECT
			      lista.v_nombre												AS ejeX,
				<if test="tipoPeriodo == 'DIA'">
					F_OBTENER_ESTADISTICO_INFRACCIONES_BETWEEN(#{ejeX}, lista.v_nombre,#{fechaInicio},
					 #{fechaFin},'CANTIDAD_INFRACCIONES')							AS numeroInfracciones,
					F_OBTENER_ESTADISTICO_INFRACCIONES_BETWEEN(#{ejeX}, lista.v_nombre, #{fechaInicio},
					#{fechaFin},'CANTIDAD_SANCIONADOS')							AS numeroSancionados,
					F_OBTENER_ESTADISTICO_INFRACCIONES_BETWEEN(#{ejeX}, lista.v_nombre, #{fechaInicio},
					#{fechaFin},'CANTIDAD_INFRACCIONES_PROMEDIO') 						AS numeroInfraccionesPromedioPorAlumno
				</if>
				<if test="tipoPeriodo == 'SEMANA'">
					F_OBTENER_ESTADISTICO_INFRACCIONES_BETWEEN(#{ejeX}, lista.v_nombre,
					F_GENERADOR_FECHAS('INI', 'SEMANA',#{anioInicio},null, null,#{semanaInicio}),
				    F_GENERADOR_FECHAS('FIN', 'SEMANA',#{anioFin},null, null,#{semanaFin}),
				    'CANTIDAD_INFRACCIONES')							AS numeroInfracciones,
					F_OBTENER_ESTADISTICO_INFRACCIONES_BETWEEN(#{ejeX}, lista.v_nombre,
					F_GENERADOR_FECHAS('INI', 'SEMANA',#{anioInicio},null, null,#{semanaInicio}),
				    F_GENERADOR_FECHAS('FIN', 'SEMANA',#{anioFin},null, null,#{semanaFin}),
				    'CANTIDAD_SANCIONADOS') 							AS numeroSancionados,
					F_OBTENER_ESTADISTICO_INFRACCIONES_BETWEEN(#{ejeX}, lista.v_nombre,
					F_GENERADOR_FECHAS('INI', 'SEMANA',#{anioInicio},null, null,#{semanaInicio}),
				    F_GENERADOR_FECHAS('FIN', 'SEMANA',#{anioFin},null, null,#{semanaFin}),
				    'CANTIDAD_INFRACCIONES_PROMEDIO')  						AS numeroInfraccionesPromedioPorAlumno
				</if>
				<if test="tipoPeriodo == 'MES'">
				    F_OBTENER_ESTADISTICO_INFRACCIONES_BETWEEN(#{ejeX}, lista.v_nombre,
					F_GENERADOR_FECHAS('INI', 'MES',#{anioInicio},#{mesInicio}, null,null),
				    F_GENERADOR_FECHAS('FIN', 'MES',#{anioFin},#{mesFin}, null,null),
				    'CANTIDAD_INFRACCIONES')							AS numeroInfracciones,
					F_OBTENER_ESTADISTICO_INFRACCIONES_BETWEEN(#{ejeX}, lista.v_nombre,
					F_GENERADOR_FECHAS('INI', 'MES',#{anioInicio},#{mesInicio}, null,null),
				    F_GENERADOR_FECHAS('FIN', 'MES',#{anioFin},#{mesFin}, null,null),
				    'CANTIDAD_SANCIONADOS') 							AS numeroSancionados,
					F_OBTENER_ESTADISTICO_INFRACCIONES_BETWEEN(#{ejeX}, lista.v_nombre,
					F_GENERADOR_FECHAS('INI', 'MES',#{anioInicio},#{mesInicio}, null,null),
				    F_GENERADOR_FECHAS('FIN', 'MES',#{anioFin},#{mesFin}, null,null),
				    'CANTIDAD_INFRACCIONES_PROMEDIO')  						AS numeroInfraccionesPromedioPorAlumno
				</if>
				<if test="tipoPeriodo == 'ANIO'">
				    F_OBTENER_ESTADISTICO_INFRACCIONES_BETWEEN(#{ejeX}, lista.v_nombre,
					F_GENERADOR_FECHAS('INI', 'ANIO',#{anioInicio},null, null,null),
				    F_GENERADOR_FECHAS('FIN', 'ANIO',#{anioFin},null, null,null),
				    'CANTIDAD_INFRACCIONES')							AS numeroInfracciones,				
					F_OBTENER_ESTADISTICO_INFRACCIONES_BETWEEN(#{ejeX}, lista.v_nombre,
					F_GENERADOR_FECHAS('INI', 'ANIO',#{anioInicio},null, null,null),
				    F_GENERADOR_FECHAS('FIN', 'ANIO',#{anioFin},null, null,null),
				    'CANTIDAD_SANCIONADOS') 							AS numeroSancionados,
					F_OBTENER_ESTADISTICO_INFRACCIONES_BETWEEN(#{ejeX}, lista.v_nombre,
					F_GENERADOR_FECHAS('INI', 'ANIO',#{anioInicio},null, null,null),
				    F_GENERADOR_FECHAS('FIN', 'ANIO',#{anioFin},null, null,null),
				    'CANTIDAD_INFRACCIONES_PROMEDIO')  						AS numeroInfraccionesPromedioPorAlumno
				</if>

			FROM 
			<if test="ejeX == 'AREA_ESTUDIO'">
				(SELECT v_nombre
	  			FROM mae_area_estudio) lista
			</if>
			<if test="ejeX == 'ESCUELA'">
				(SELECT v_nombre
	  			FROM mae_escuela) lista
			</if>
			GROUP BY 
				lista.v_nombre		
	</select>

	
	<resultMap type="ReporteEstadisticaInfraccionesPorEjeX" id="objetoSinSegmentar">
		<id property="numeroInfracciones" column="numeroInfracciones"></id>
		<id property="ejeX" column="ejeX"></id>
		<id property="numeroInfraccionesPromedioPorAlumno" column="numeroInfraccionesPromedioPorAlumno"></id>
		<id property="numeroSancionados" column="numeroSancionados"></id>
	</resultMap>
	
	<resultMap type="ReporteInfraccionesPorEjeXSegmentado" id="objetoSegmentado">
			<id property="ejeX" column="ejeX"></id>
			<collection property="detalle" javaType="List" ofType="ReporteInfraccionesPorEjeXSegmentadoDetalle">
					<result property="ejeX" column="ejeX"></result>
					<result property="segmento" column="criterioSegmentacion"></result>
					<result property="numeroInfracciones" column="numeroInfracciones"></result>
			</collection>
	</resultMap>

	
</mapper>