<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pe.edu.unmsm.fisi.siscae.mapper.IReporteEstadisticaInfraccionesPorEscuelaMapper">

	<sql id="fragmentoSelectBuscarReporteEstadisticaInfraccionesPorEscuela">
		SELECT  id_area_estudio,
		        area_estudio,
		        id_escuela_programa,
			    escuela_programa,
		        numero_infracciones
		  FROM reporte_estadistica_infracciones_por_escuela 
	</sql>

	<select id="buscarTodos" resultType="ReporteEstadisticaInfraccionesPorEscuela">
		<include refid="fragmentoSelectBuscarReporteEstadisticaInfraccionesPorEscuela" />
	</select>
	
	<select id="buscarPorNumeroDocumentoIdentidad" resultType="ReporteEstadisticaInfraccionesPorEscuela">
		<include refid="fragmentoSelectBuscarReporteEstadisticaInfraccionesPorEscuela" />
		<where>
			<if test="tipoDocumentoIdentidad != null and tipoDocumentoIdentidad != ''">
				reporte_estadistica_infracciones_por_escuela  .cod_tip_doc_ide = #{tipoDocumentoIdentidad}
			</if>
			<if test="numeroDocumentoIdentidad != null and numeroDocumentoIdentidad != ''">
				AND reporte_estadistica_infracciones_por_escuela  .num_doc_ide = #{numeroDocumentoIdentidad}
			</if>
		</where>
	</select>

	<select id="buscarPorCriterio" resultType="ReporteEstadisticaInfraccionesPorEscuela">
		<include refid="fragmentoSelectBuscarReporteEstadisticaInfraccionesPorEscuela" />
		<where>
			<if test="areaEstudio != null and areaEstudio != '-1'">
				reporte_estadistica_infracciones_por_escuela .area_estudio = #{areaEstudio}
			</if>
		</where>
	</select>


</mapper>