<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pe.edu.unmsm.fisi.siscae.mapper.IReporteEstadisticaPrestamosPorTurnoMapper">

	<sql id="fragmentoSelectBuscarReporteEstadisticaPrestamosPorTurno">
		SELECT  
		        area_estudio,
		        nombre_turno,
		        numero_visitas,
			    promedio_tiempo
		  FROM vw_reporte_prestamos_por_turno
	</sql>

	<select id="buscarTodos" resultType="ReporteEstadisticaPrestamosPorTurno">
		<include refid="fragmentoSelectBuscarReporteEstadisticaPrestamosPorTurno" />
	</select>
	
	<select id="buscarPorNumeroDocumentoIdentidad" resultType="ReporteEstadisticaPrestamosPorTurno">
		<include refid="fragmentoSelectBuscarReporteEstadisticaPrestamosPorTurno" />
		<where>
			<if test="tipoDocumentoIdentidad != null and tipoDocumentoIdentidad != ''">
				vw_reporte_prestamos_por_turno .cod_tip_doc_ide = #{tipoDocumentoIdentidad}
			</if>
			<if test="numeroDocumentoIdentidad != null and numeroDocumentoIdentidad != ''">
				AND vw_reporte_prestamos_por_turno .num_doc_ide = #{numeroDocumentoIdentidad}
			</if>
		</where>
	</select>

	<select id="buscarPorCriterio" resultType="ReporteEstadisticaPrestamosPorTurno">
		<include refid="fragmentoSelectBuscarReporteEstadisticaPrestamosPorTurno" />
		<where>
			<if test="areaEstudio != null and areaEstudio != '-1'">
				vw_reporte_prestamos_por_turno.area_estudio = #{areaEstudio}
			</if>
		</where>
	</select>


</mapper>