<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pe.edu.unmsm.fisi.siscae.mapper.ISolicitudTramiteMapper">

	 <resultMap id="SolicitudTramiteResultMap" type="SolicitudTramite">
	    <result property="idSolicitudTramite" column="INTEGER" />
	    <result property="asunto" column="VARCHAR" />
	    <result property="fechaHoraRegistro" column="VARCHAR" />
	    <result property="estado" column="VARCHAR" />
	    <result property="tipoTramite" column="VARCHAR" />
	    <result property="descripcion" column="VARCHAR" />
	  </resultMap>
  
	<select id="mantener"  resultMap="SolicitudTramiteResultMap" statementType = "CALLABLE" >
		 { call MANT_SOLICITUDES_TRAMITE ( 
            #{operacion, 						jdbcType = VARCHAR, mode = IN},
            #{operacionParam, 					jdbcType = VARCHAR, mode = IN},
            #{objeto.idSolicitudTramite, 		jdbcType = INTEGER, mode = IN},
            #{objeto.asunto, 					jdbcType = VARCHAR, mode = IN},
            #{objeto.fechaHoraRegistro,  		jdbcType = VARCHAR, mode = IN},
            #{objeto.estado, 					jdbcType = VARCHAR, mode = IN},
            #{objeto.tipoTramite,				jdbcType = VARCHAR, mode = IN},
            #{objeto.descripcion, 				jdbcType = VARCHAR, mode = IN},
            #{userAudit, 						jdbcType = VARCHAR, mode = IN},
            #{resultados, 						jdbcType = CURSOR, 	 javaType=java.sql.ResultSet,  mode = OUT, resultMap=SolicitudTramiteResultMap}
            )
        }
	</select>
	

</mapper>