<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pe.edu.unmsm.fisi.siscae.mapper.IUsuarioMapper">

	 <resultMap id="UsuarioResultMap" type="Usuario">
	    <result property="nombre" column="VARCHAR" />
	    <result property="contrasenia" column="VARCHAR" />
	    <result property="estado" column="VARCHAR" />
	    <result property="numeroIntentos" column="INTEGER" />
	    <result property="idPerfil" column="INTEGER" />
	  </resultMap>

	
	<select id="buscarUsuarioPorId" resultType="Usuario" >
		select 	vIdUsuario as id_usuario, 
				vPassword as password,
				vIdEmpresa as empresa
		from 	SecUsuarios 
		where 	vIdUsuario = #{idUsuario}
	</select>

</mapper>