<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pe.edu.unmsm.sgdfd.mat.mapper.DocumentoPublicoMapper">

	<sql id="fragmentoSelectBuscarDocumentos">
		SELECT  id_recurso,
			    numero,
		        tipo_recurso,
		        max_capacidad,
			    fecha_prestamo,
			    hora_entrada,
			    hora_salida,
			    estado, 
			    nombre, 
			    app_paterno,
			    app_materno,
		        codigo_alumno
		  FROM ESTADO_AULA vwcdep
	</sql>

	<select id="buscarPorNumeroDocumentoIdentidad" resultType="DocumentoPublico">
		<include refid="fragmentoSelectBuscarDocumentos" />
		<where>
			<if test="tipoDocumentoIdentidad != null and tipoDocumentoIdentidad != ''">
				vwcdep.cod_tip_doc_ide = #{tipoDocumentoIdentidad}
			</if>
			<if test="numeroDocumentoIdentidad != null and numeroDocumentoIdentidad != ''">
				AND vwcdep.num_doc_ide = #{numeroDocumentoIdentidad}
			</if>
		</where>
	</select>

	<select id="buscarPorCriterio" resultType="DocumentoPublico">
		<include refid="fragmentoSelectBuscarDocumentos" />
		<where>
			<if test="codigoTipoDocumento != null and codigoTipoDocumento != '-1'">
				vwcdep.cod_tip_doc = #{codigoTipoDocumento}
			</if>
			<if test="codigoTipoTramite != null and codigoTipoTramite != '-1'">
				AND	vwcdep.cod_tip_tram = #{codigoTipoTramite}
			</if>
			<if test="codigoTipoTramite != null and codigoTipoTramite != '-1'">
				AND	vwcdep.cod_dep = #{codigoTipoTramite}
			</if>
			<if test="apellidos != null and apellidos != ''">
				AND vwcdep.ape_com_sin_til LIKE '${apellidos}' + '%'
			</if>
			<if test="nombres != null and nombres != ''">
				AND vwcdep.nom_sin_til LIKE '${nombres}' + '%'
			</if>
		</where>
	</select>

	<select id="buscarParaDescarga" resultType="DocumentoPublico">
		SELECT   vwcdeb.cod_tip_doc	AS tipoDocumento
	           , vwcdeb.des_doc		AS descripcionDocumento
	           , vwcdeb.blo_doc		AS blob
          FROM VW_CON_DOC_EMI_PUB_BLO vwcdeb
		<where>
		    <if test="numeroEmision != null and numeroEmision != '' and anio != null" >
				AND vwcdep.num_emi = #{numeroEmision}  AND  vwcdep.num_ani = #{anio} 
		    </if>
		</where>
	</select>
</mapper>