<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout_user}">
<head>
</head>
<body>

<div layout:fragment="content">
	<!-- Page wrapper  -->
        <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-primary">Estado de la Biblioteca</h3>
                </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="javascript:void(0)">Estado del aula</a>
                        </li>
                    </ol>
                </div>
            </div>
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body p-b-0">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs customtab2" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="#home7" role="tab">
                                            <span class="hidden-sm-up">
                                                <i class="ti-home"></i>
                                            </span>
                                            <span class="hidden-xs-down">Esquema</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#profile7" role="tab">
                                            <span class="hidden-sm-up">
                                                <i class="ti-user"></i>
                                            </span>
                                            <span class="hidden-xs-down">Tabla</span>
                                        </a>
                                    </li>

                                </ul>
                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div class="tab-pane active" id="home7" role="tabpanel">
                                        <div class="p-20">
                                            <div class="row">
                                                <div class="recurso" id="for-each">
                                                    <img src="images/cubo_verde.png" width="40" height="40">
                                                    <p>1</p>
                                                    <p class="disponible">DISPONIBLE</p>
                                                    <p><b>T. restante</b></p>
                                                    <p>No iniciado</p>
                                                </div>
                                                <div class="recurso">
                                                    <img src="images/cubo_rojo.png" width="40" height="40">
                                                    <p>2</p>
                                                    <p class="ocupado">OCUPADO</p>
                                                    <p><b>T. restante</b></p>
                                                    <p>01:30:16</p>
                                                </div>
                                                <div class="recurso">
                                                    <img src="images/cubo_verde.png" width="40" height="40">
                                                    <p>3</p>
                                                    <p class="disponible">DISPONIBLE</p>
                                                    <p><b>T. restante</b></p>
                                                    <p>No iniciado</p>
                                                </div>
                                                <div class="recurso">
                                                    <img src="images/cubo_verde.png" width="40" height="40">
                                                    <p>4</p>
                                                    <p class="disponible">DISPONIBLE</p>
                                                    <p><b>T. restante</b></p>
                                                    <p>No iniciado</p>
                                                </div>
                                                <div class="recurso">
                                                    <img src="images/cubo_verde.png" width="40" height="40">
                                                    <p>5</p>
                                                    <p class="disponible">DISPONIBLE</p>
                                                    <p><b>T. restante</b></p>
                                                    <p>No iniciado</p>
                                                </div>
                                                <div class="recurso">
                                                    <img src="images/cubo_rojo.png" width="40" height="40">
                                                    <p>6</p>
                                                    <p class="ocupado">OCUPADO</p>
                                                    <p><b>T. restante</b></p>
                                                    <p>00:35:28</p>
                                                </div>
                                                <div class="recurso">
                                                    <img src="images/cubo_verde.png" width="40" height="40">
                                                    <p>7</p>
                                                    <p class="disponible">DISPONIBLE</p>
                                                    <p><b>T. restante</b></p>
                                                    <p>No iniciado</p>
                                                </div>
                                                <div class="recurso">
                                                    <img src="images/cubo_verde.png" width="40" height="40">
                                                    <p>8</p>
                                                    <p class="disponible">DISPONIBLE</p>
                                                    <p><b>T. restante</b></p>
                                                    <p>No iniciado</p>
                                                </div>
                                                <div class="recurso">
                                                    <img src="images/cubo_verde.png" width="40" height="40">
                                                    <p>9</p>
                                                    <p class="disponible">DISPONIBLE</p>
                                                    <p><b>T. restante</b></p>
                                                    <p>No iniciado</p>
                                                </div>
                                                <div class="recurso">
                                                    <img src="images/cubo_verde.png" width="40" height="40">
                                                    <p>10</p>
                                                    <p class="disponible">DISPONIBLE</p>
                                                    <p><b>T. restante</b></p>
                                                    <p>No iniciado</p>
                                                </div>
                                                <div class="recurso">
                                                    <img src="images/cubo_rojo.png" width="40" height="40">
                                                    <p>11</p>
                                                    <p class="ocupado">OCUPADO</p>
                                                    <p><b>T. restante</b></p>
                                                    <p>00:45:10</p>
                                                </div>
                                                <div class="recurso">
                                                    <img src="images/cubo_verde.png" width="40" height="40">
                                                    <p>12</p>
                                                    <p class="disponible">DISPONIBLE</p>
                                                    <p><b>T. restante</b></p>
                                                    <p>No iniciado</p>
                                                </div>
                                                <div class="recurso">
                                                    <img src="images/cubo_verde.png" width="40" height="40">
                                                    <p>13</p>
                                                    <p class="disponible">DISPONIBLE</p>
                                                    <p><b>T. restante</b></p>
                                                    <p>No iniciado</p>
                                                </div>
                                                <div class="recurso">
                                                    <img src="images/cubo_verde.png" width="40" height="40">
                                                    <p>14</p>
                                                    <p class="disponible">DISPONIBLE</p>
                                                    <p><b>T. restante</b></p>
                                                    <p>No iniciado</p>
                                                </div>
                                                <div class="recurso">
                                                    <img src="images/cubo_verde.png" width="40" height="40">
                                                    <p>15</p>
                                                    <p class="disponible">DISPONIBLE</p>
                                                    <p><b>T. restante</b></p>
                                                    <p>No iniciado</p>
                                                </div>
                                                <div class="recurso">
                                                    <img src="images/cubo_verde.png" width="40" height="40">
                                                    <p>16</p>
                                                    <p class="disponible">DISPONIBLE</p>
                                                    <p><b>T. restante</b></p>
                                                    <p>No iniciado</p>
                                                </div>
                                                <div class="recurso">
                                                    <img src="images/cubo_verde.png" width="40" height="40">
                                                    <p>17</p>
                                                    <p class="disponible">DISPONIBLE</p>
                                                    <p><b>T. restante</b></p>
                                                    <p>No iniciado</p>
                                                </div>
                                                <div class="recurso">
                                                    <img src="images/cubo_verde.png" width="40" height="40">
                                                    <p>18</p>
                                                    <p class="disponible">DISPONIBLE</p>
                                                    <p><b>T. restante</b></p>
                                                    <p>No iniciado</p>
                                                </div>
                                                <div class="recurso">
                                                    <img src="images/cubo_verde.png" width="40" height="40">
                                                    <p>19</p>
                                                    <p class="disponible">DISPONIBLE</p>
                                                    <p><b>T. restante</b></p>
                                                    <p>No iniciado</p>
                                                </div>
                                                <div class="recurso">
                                                    <img src="images/cubo_rojo.png" width="40" height="40">
                                                    <p>20</p>
                                                    <p class="ocupado">OCUPADO</p>
                                                    <p><b>T. restante</b></p>
                                                    <p>01:24:19</p>
                                                </div>
                                                <div class="recurso">
                                                    <img src="images/cubo_verde.png" width="40" height="40">
                                                    <p>21</p>
                                                    <p class="disponible">DISPONIBLE</p>
                                                    <p><b>T. restante</b></p>
                                                    <p>No iniciado</p>
                                                </div>
                                                <div class="recurso">
                                                    <img src="images/cubo_verde.png" width="40" height="40">
                                                    <p>22</p>
                                                    <p class="disponible">DISPONIBLE</p>
                                                    <p><b>T. restante</b></p>
                                                    <p>No iniciado</p>
                                                </div>
                                                <div class="recurso">
                                                    <img src="images/cubo_verde.png" width="40" height="40">
                                                    <p>23</p>
                                                    <p class="disponible">DISPONIBLE</p>
                                                    <p><b>T. restante</b></p>
                                                    <p>No iniciado</p>
                                                </div>

                                                <div class="recurso">
                                                    <img src="images/cubo_verde.png" width="40" height="40">
                                                    <p>24</p>
                                                    <p class="disponible">DISPONIBLE</p>
                                                    <p><b>T. restante</b></p>
                                                    <p>No iniciado</p>
                                                </div>
                                                <div class="recurso">
                                                    <img src="images/cubo_verde.png" width="40" height="40">
                                                    <p>25</p>
                                                    <p class="disponible">DISPONIBLE</p>
                                                    <p><b>T. restante</b></p>
                                                    <p>No iniciado</p>
                                                </div>
                                                <div class="recurso">
                                                    <img src="images/cubo_verde.png" width="40" height="40">
                                                    <p>26</p>
                                                    <p class="disponible">DISPONIBLE</p>
                                                    <p><b>T. restante</b></p>
                                                    <p>No iniciado</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane  p-20" id="profile7" role="tabpanel">
                                        <div class="card">
                                            <h3>Estado de la biblioteca</h3>
                                            <div class="table-responsive m-t-40">
                                                <table id="myTable" class="table table-bordered table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>Recurso</th>
                                                            <th>Estado</th>
                                                            <th>Codigo</th>
                                                            <th>Nombre</th>
                                                            <th>Apellidos</th>
                                                            <th>Hora de entrada</th>
                                                            <th>Tiempo restante</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>1</td>
                                                            <td>
                                                                <span class="badge badge-primary">DISPONIBLE</span>
                                                            </td>
                                                            <td>-</td>
                                                            <td>-</td>
                                                            <td>-</td>
                                                            <td>-</td>
                                                            <td>-</td>
                                                        </tr>
                                                        <tr>
                                                            <td>2</td>
                                                            <td>
                                                                <span class="badge badge-primary">DISPONIBLE</span>
                                                            </td>
                                                            <td>-</td>
                                                            <td>-</td>
                                                            <td>-</td>
                                                            <td>-</td>
                                                            <td>-</td>
                                                        </tr>
                                                        <tr>
                                                            <td>3</td>
                                                            <td>
                                                                <span class="badge badge-primary">DISPONIBLE</span>
                                                            </td>
                                                            <td>-</td>
                                                            <td>-</td>
                                                            <td>-</td>
                                                            <td>-</td>
                                                            <td>-</td>
                                                        </tr>
                                                        <tr>
                                                            <td>4</td>
                                                            <td>
                                                                <span class="badge badge-primary">DISPONIBLE</span>
                                                            </td>
                                                            <td>-</td>
                                                            <td>-</td>
                                                            <td>-</td>
                                                            <td>-</td>
                                                            <td>-</td>
                                                        </tr>
                                                        <tr>
                                                            <td>5</td>
                                                            <td>
                                                                <span class="badge badge-danger">OCUPADO</span>
                                                            </td>
                                                            <td>16200116</td>
                                                            <td>MARIO</td>
                                                            <td>CORTEZ ESCARATE</td>
                                                            <td>10:15:28</td>
                                                            <td>01:39:25</td>
                                                        </tr>
                                                        <tr>
                                                                <td>5</td>
                                                                <td>
                                                                    <span class="badge badge-warning">LIBERABLE</span>
                                                                </td>
                                                                <td>16200138</td>
                                                                <td>KAREN</td>
                                                                <td>MUÑOZ ZAVALAETA</td>
                                                                <td>11:16:30</td>
                                                                <td>00:40:21</td>
                                                            </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End PAge Content -->
            </div>

            <!-- footer -->
            <footer class="footer"> © 2018 Todos los derechos reservados. Desarrollado por SISCAE
            </footer>
            <!-- End footer -->

            <!-- Modal -->
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Solicitud de cubiculo</h5>
                        </div>
                        <div class="modal-body">
                            <form method="GET">
                                <h5>Usted ha seleccionado: </h5>
                                <div class="form-group padre">
                                    <h2>Cubiculo</h2>
                                    <input value="1" class="numero numero-modal align-baseline hijo form-control" type="text" id="recursoSeleccionado" name="recursoSeleccionado"
                                        readonly>
                                </div>
                                <div class="centro padre">
                                    <img class="centro padre" src="images/nuevo_gif.gif" width="300" heigh="300">
                                </div>
                                <p class="centro">Ingrese su documento en el
                                    <b>SCANNER</b>
                                </p>
                                <div class="form-group padre">
                                    <p>Codigo: </p>
                                    <input class="input-codigo form-control" type="text" id="codigoAlumno" name="codigoAlumno">
                                </div>
                                <span class="invisible">--</span>
                                <div class="form-group padre">
                                    <button type="submit" class="btn btn-info green centro">ENVIAR</button>
                                    <span class="invisible">--</span>
                                    <button type="button" class="btn centro" id="closemodal">CERRAR</button>
                                </div>
                            </form>
                        </div>
                        <!--  
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary">¿Problemas?</button>
                                </div>-->
                    </div>
                </div>
            </div>



        </div>
        <!-- End Page wrapper  -->
        
        
        
        
        <!-- All Jquery -->
    <script th:src="@{js/guiuser/lib/jquery/jquery.min.js}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script th:src="@{js/guiuser/lib/bootstrap/js/popper.min.js}"></script>
    <script th:src="@{js/guiuser/lib/bootstrap/js/bootstrap.min.js}"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script th:src="@{js/guiuser/jquery.slimscroll.js}"></script>
    <!--Menu sidebar -->
    <script th:src="@{js/guiuser/sidebarmenu.js}"></script>
    <!--stickey kit -->
    <script th:src="@{js/guiuser/lib/sticky-kit-master/dist/sticky-kit.min.js}"></script>
    <!--Custom JavaScript -->


    <!-- Amchart -->
    <script th:src="@{js/guiuser/lib/morris-chart/raphael-min.js}"></script>
    <script th:src="@{js/guiuser/lib/morris-chart/morris.js}"></script>
    <script th:src="@{js/guiuser/lib/morris-chart/dashboard1-init.js}"></script>


    <script th:src="@{js/guiuser/lib/calendar-2/moment.latest.min.js}"></script>
    <!-- scripit init-->
    <script th:src="@{js/guiuser/lib/calendar-2/semantic.ui.min.js}"></script>
    <!-- scripit init-->
    <script th:src="@{js/guiuser/lib/calendar-2/prism.min.js}"></script>
    <!-- scripit init-->
    <script th:src="@{js/guiuser/lib/calendar-2/pignose.calendar.min.js}"></script>
    <!-- scripit init-->
    <script th:src="@{js/guiuser/lib/calendar-2/pignose.init.js}"></script>

    <script th:src="@{js/guiuser/lib/owl-carousel/owl.carousel.min.js}"></script>
    <script th:src="@{js/guiuser/lib/owl-carousel/owl.carousel-init.js}"></script>
    <script th:src="@{js/guiuser/scripts.js}"></script>
    <!-- scripit init-->
    <script th:src="@{js/guiuser/inicio.js}"></script>
    <script th:src="@{js/guiuser/custom.min.js}"></script>

    <script th:src="@{js/guiuser/lib/datatables/datatables.min.js}"></script>
    <script th:src="@{js/guiuser/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js}"></script>
    <script th:src="@{js/guiuser/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js}"></script>
    <script th:src="@{js/guiuser/lib/datatables/cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js}"></script>
    <script th:src="@{js/guiuser/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js}"></script>
    <script th:src="@{js/guiuser/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js}"></script>
    <script th:src="@{js/guiuser/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js}"></script>
    <script th:src="@{js/guiuser/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js}"></script>
    <script th:src="@{js/guiuser/lib/datatables/datatables-init.js}"></script>
        
	</div>
</body>
</html>


