<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout_user}">

<head>

</head>

<body>
	<div layout:fragment="content">

		<!-- Page wrapper  -->
		<div class="page-wrapper">
			<!-- Bread crumb -->
			<div class="row page-titles">
				<div class="col-md-5 align-self-center">
					<h3 class="text-primary">Estadisticas</h3>
				</div>
				<div class="col-md-7 align-self-center">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="javascript:void(0)">Resultados
								del aula de estudios</a></li>
					</ol>
				</div>
			</div>
			<!-- End Bread crumb -->
			<!-- Container fluid  -->
			<div class="container-fluid">
				<!-- Start Page Content -->
				<div class="row">
					<div class="col-12">
						<div class="card">
							<!-- /# row -->
							<div class="row">
								<div class="col-lg-6">
									<div class="card">
										<div class="card-title">
											<h4>Pie Chart</h4>
										</div>
										<div class="flot-container">
											<div id="flot-pie" class="flot-pie-container"></div>
										</div>
									</div>
									<!-- /# card -->
								</div>
								<!-- /# column -->

								<div class="col-lg-6">
									<div class="card">
										<div class="card-title">
											<h4>Line Chart</h4>
										</div>
										<div class="flot-container">
											<div id="chart1"></div>
										</div>
									</div>
									<!-- /# card -->
								</div>
							</div>
							<!-- /# column -->
						</div>
					</div>
				</div>
			</div>
			<!-- End PAge Content -->
		</div>
		
		
		
		<!-- All Jquery -->
    <script th:src="@{/resources/js/guiuser/lib/jquery/jquery.min.js}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script th:src="@{/resources/js/guiuser/lib/bootstrap/js/popper.min.js}"></script>
    <script th:src="@{/resources/js/guiuser/lib/bootstrap/js/bootstrap.min.js}"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script th:src="@{/resources/js/jquery.slimscroll.js}"></script>
    <!--Menu sidebar -->
    <script th:src="@{/resources/js/sidebarmenu.js}"></script>
    <!--stickey kit -->
    <script th:src="@{/resources/js/guiuser/lib/sticky-kit-master/dist/sticky-kit.min.js}"></script>
    <!--Custom JavaScript -->


    <!-- Amchart -->
    <script th:src="@{/resources/js/guiuser/lib/morris-chart/raphael-min.js}"></script>
    <script th:src="@{/resources/js/guiuser/lib/morris-chart/morris.js}"></script>
    <script th:src="@{/resources/js/guiuser/lib/morris-chart/dashboard1-init.js}"></script>


    <script th:src="@{/resources/js/guiuser/lib/calendar-2/moment.latest.min.js}"></script>
    <!-- scripit init-->
    <script th:src="@{/resources/js/guiuser/lib/calendar-2/semantic.ui.min.js}"></script>
    <!-- scripit init-->
    <script th:src="@{/resources/js/guiuser/lib/calendar-2/prism.min.js}"></script>
    <!-- scripit init-->
    <script th:src="@{/resources/js/guiuser/lib/calendar-2/pignose.calendar.min.js}"></script>
    <!-- scripit init-->
    <script th:src="@{/resources/js/guiuser/lib/calendar-2/pignose.init.js}"></script>

    <script th:src="@{/resources/js/guiuser/lib/owl-carousel/owl.carousel.min.js}"></script>
    <script th:src="@{/resources/js/guiuser/lib/owl-carousel/owl.carousel-init.js}"></script>
    <script th:src="@{/resources/js/scripts.js}"></script>


     <!--  flot-chart js -->
     <script th:src="@{/resources/js/guiuser/lib/flot-chart/excanvas.min.js}"></script>
     <script th:src="@{/resources/js/guiuser/lib/flot-chart/jquery.flot.js}"></script>
     <script th:src="@{/resources/js/guiuser/lib/flot-chart/jquery.flot.pie.js}"></script>
     <script th:src="@{/resources/js/guiuser/lib/flot-chart/jquery.flot.time.js}"></script>
     <script th:src="@{/resources/js/guiuser/lib/flot-chart/jquery.flot.stack.js}"></script>
     <script th:src="@{/resources/js/guiuser/lib/flot-chart/jquery.flot.resize.js}"></script>
     <script th:src="@{/resources/js/guiuser/lib/flot-chart/jquery.flot.crosshair.js}"></script>
     <script th:src="@{/resources/js/guiuser/lib/flot-chart/curvedLines.js}"></script>
     <script th:src="@{/resources/js/guiuser/lib/flot-chart/flot-tooltip/jquery.flot.tooltip.min.js}"></script>
     <script th:src="@{/resources/js/guiuser/lib/flot-chart/flot-chart-init.js}"></script>
     
    <!-- scripit init-->
    <script th:src="@{/resources/js/inicio.js}"></script>
    <script th:src="@{/resources/js/custom.min.js}"></script>
		

	</div>
</body>

</html>