<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout_user}">
<head>
</head>
<body>

<div layout:fragment="content">
<div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-primary">Registrar por modulo</h3>
                </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="javascript:void(0)">Infracciones</a>
                        </li>
                        <li class="breadcrumb-item active">Registrar por modulo</li>
                    </ol>
                </div>
            </div>
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Registro de infraccion por modulo</h4>
                                <p>Imponga una infraccion al modulo correspondiente</p>
                                <form>
                                    <div class="recurso">
                                        <img src="images/cubo_rojo.png" width="40" height="40">
                                        <p>2</p>
                                        <p class="ocupado">OCUPADO</p>
                                        <p>16200116</p>
                                        <button class="btn btn-danger sweet-success-cancel sweetalert">APLICAR</button>
                                    </div>
                                    <div class="recurso">
                                        <img src="images/cubo_amarillo.png" width="40" height="40">
                                        <p>4</p>
                                        <p class="liberable">LIBERABLE</p>
                                        <p>17200138</p>
                                        <button class="btn btn-danger">APLICAR</button>
                                    </div>
                                    <div class="recurso">
                                        <img src="images/cubo_rojo.png" width="40" height="40">
                                        <p>7</p>
                                        <p class="ocupado">OCUPADO</p>
                                        <p>15200108</p>
                                        <button class="btn btn-danger">APLICAR</button>
                                    </div>
                                    <div class="recurso">
                                        <img src="images/cubo_rojo.png" width="40" height="40">
                                        <p>12</p>
                                        <p class="ocupado">OCUPADO</p>
                                        <p>18200124</p>
                                        <button class="btn btn-danger">APLICAR</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End PAge Content -->
            </div>
            <!-- End Container fluid  -->
            
        </div>
        <!-- End Page wrapper  -->
        
         </div>


</body>
</html>