<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout_user}">
<head>

</head>
<body>
	<div layout:fragment="content">
		<!-- Page wrapper  -->
        <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-primary">Registrar nuevo</h3>
                </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="javascript:void(0)">Solicitantes</a>
                        </li>
                        <li class="breadcrumb-item active">Registrar nuevo</li>
                    </ol>
                </div>
            </div>
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Registro de solicitantes nuevos</h4>
                                <p>Ingrese los datos nuevos del solicitante</p>
                                <form class="form p-t-20">
                                    <div class="form-group">
                                        <label>Tipo de documento</label>
                                        <div class="input-group">
                                            <select class="form-control custom-select">
                                                <option>Ingrese el tipo de documento</option>
                                                <option value="Category 1">DNI</option>
                                                <option value="Category 2">Codigo de Alumno</option>
                                                <option value="Category 3">Documento de extranjeria</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Numero de documento</label>
                                        <div class="input-group">
                                            <input type="number" class="form-control" placeholder="Ingrese su numero de documento">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Apellido Paterno</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Ingrese su apellido paterno">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Apellido Materno</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Ingrese su apellido materno">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Nombres</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Ingrese su apellido materno">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Sexo</label>
                                        <div class="input-group">
                                            <select class="form-control custom-select">
                                                <option>Ingrese el sexo</option>
                                                <option value="M">Masculino</option>
                                                <option value="F">Femenino</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Fecha de nacimiento</label>
                                        <input type="date" class="form-control" placeholder="dd/mm/yyyy">
                                    </div>
                                    <div class="form-group">
                                        <label>Telefono</label>
                                        <input type="number" class="form-control" placeholder="Ingrese su telefono">
                                    </div>

                                    <div class="form-group">
                                        <label>Ocupacion</label>
                                        <div class="input-group">
                                            <select class="form-control custom-select">
                                                <option>Ingrese la ocupacion</option>
                                                <option value="Category 1" id="selectalumno">Alumno</option>
                                                <option value="Category 2">Docente</option>
                                                <option value="Category 3">Otro</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group hidden" id="tipoacademico">
                                        <label>Tipo Academico</label>
                                        <div class="input-group">
                                            <select class="form-control custom-select">
                                                <option>Ingrese el tipo academico</option>
                                                <option value="Category 1">PREGRADO</option>
                                                <option value="Category 2">POSTGRADO</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group hidden">
                                        <label>Escuela</label>
                                        <div class="input-group">
                                            <select class="form-control custom-select">
                                                <option>Ingrese la escuela</option>
                                                <option value="Category 1">Igenieria de Sistemas/option>
                                                    <option value="Category 2">Ingenieria de Software</option>
                                                    <option value="Category 3">Ingenieria Industrial</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group text-center">
                                        <button type="submit" class="btn btn-info waves-effect waves-light m-r-10">REGISTRAR</button>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End PAge Content -->
            </div>
            <!-- End Container fluid  -->
            
        </div>
        <!-- End Page wrapper  -->
	
	
	
	</div>
	
</body>
</html>