<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<div id="modalMantenimiento" class="modal fade" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" th:fragment="modalMantenimiento" th:with="tipo=${tipo}">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
						<h5 class="modal-title">Mantenimiento de datos</h5>
				</div>
				<div class="modal-body">
					<form id="formMantenimiento" class="form-horizontal" role="form">
						<th:block
							th:replace="~{template/fragments/mantenimiento/modalMantenimiento :: ${tipo}}?:~{}">
						</th:block>
						<div id="botonesForm" class="form-group">
							<div class="col-lg-12 text-center">
								<button id="registrarMantenimiento" type="button"
									class="btn btn-success">
									<i class="fa fa-floppy-o"></i> Registrar
								</button>
								<button id="actualizarMantenimiento" type="button"
									class="btn btn-info hidden">
									<i class="fa fa-pencil-square"></i> Actualizar
								</button>
								
								<button type="button" class="swal-button swal-button--cancel" data-dismiss="modal">Cerrar</button>
							</div>
						</div>
					</form>
				</div>
				<th:block
					th:replace="~{template/fragments/mantenimiento/formularioAdicionalMantenimiento :: ${tipo}}?:~{}">
				</th:block>
			</div>
		</div>
	</div>

	<!-- TABLA Persona -->
	<th:block th:fragment="persona">
		<div class="form-group">
			<label class="control-label">Tipo de documento</label>
			<select id="idTipoDocumento"
				class="form-control select2 elemento-modificable"
				name="idTipoDocumento">
				<option value="" selected="selected">Seleccione el tipo de
					documento</option>
				<option th:each="tipoDocumento : ${tipoDocumento}"
					th:value="${tipoDocumento.idItem}"
					th:text="|${tipoDocumento.descripcion}|"></option>
			</select>
		</div>
		<div class="form-group">
			<label class="control-label">Número de Documento</label>
			<input class="form-control numbersOnly elemento-modificable"
				name="numDocumento" autofocus="autofocus" />
		</div>
		<div class="form-group">
			<label class="control-label">Nombre</label>
			<input class="form-control" name="nombre">
		</div>
		<div class="form-group">
			<label class="control-label">Apellido Paterno </label>
			<input class="form-control" name="appPaterno">
		</div>
	
		<div class="form-group">
			<label class="control-label">Apellido Materno</label>
			<input class="form-control" name="appMaterno">
		</div>
		<div class="form-group">
			<label class="control-label">Sexo</label>
			<select id="sexo" class="form-control select2 elemento-modificable"
				name="sexo">
				<option value="" selected="selected" disabled="disabled">Seleccione
					el sexo</option>
				<option selected="selected" th:value="MASCULINO"
					th:text="MASCULINO">Masculino</option>
				<option selected="selected" th:value="FEMENINO" th:text="FEMENINO">Femenino</option>
			</select>
		</div>
		<div class="form-group">
			<label class="control-label">Teléfono</label>
			<input class="form-control numbersOnly" name="numTelef">
		</div>
		<div class="form-group">
			<label class="control-label">Fecha de nacimiento</label>
			<input type="date" class="form-control" name="fechaNac">
		</div>
		
	</th:block>
	<!-- Tabla Alumno -->
	<th:block th:fragment="alumno">

		<div class="form-group">
			<label class="control-label">Persona </label>
			<select id="idPersona" class="form-control"
				name="idPersona">
			</select>
		</div>

		<div class="form-group">
			<label class="control-label">Código de Alumno</label>
			<input id="codigoAlumno" class="form-control upperCase elemento-modificable"
				name="codigoAlumno">
		</div>

		<div class="form-group">
			<label class="control-label">Estado del Alumno </label>
			<select id="idEstadoTabla" class="form-control select2"
				name="idEstadoTabla">
				<option value="" selected="selected">Seleccione el estado</option>
				<option th:each="estados : ${estados}"
					th:value="${estados.idEstadoTabla}"
					th:text="|${estados.descripcion}|"></option>
			</select>
		</div>
		<div class="form-group">
			<label class="control-label">Tipo Académico</label>
				<select id="idTipoAcademico" class="form-control select2"
					name="idTipoAcademico">
					<option value="" selected="selected">Seleccione el tipo
						académico</option>
					<option th:each="tiposAcademico : ${tiposAcademico}"
						th:value="${tiposAcademico.idItem}"
						th:text="|${tiposAcademico.descripcionCorta}|"></option>
				</select>
		</div>
		<div class="form-group">
			<label class="control-label">Escuela a la que pertenece</label>
			<select id="idEscuela" class="form-control select2" name="idEscuela">
				<option value="" selected="selected">Seleccione una
					Escuela</option>
				<option th:each="escuelas : ${escuelas}"
					th:value="${escuelas.idEscuela}" th:text="|${escuelas.nombre}|"></option>
			</select>
		</div>
	</th:block>

	<!-- Tabla Docente -->
	<th:block th:fragment="docente">
		<div class="form-group">
			<label class="control-label">Persona </label>
			<select id="idPersona" class="form-control"
				name="idPersona">
			</select>
		</div>
		<div class="form-group">
			<label class="col-lg-5 control-label">Estado del Docente </label>
			<div class="col-lg-10">
				<select id="idEstadoTabla"
					class="form-control select2 elemento-modificable"
					name="idEstadoTabla">
					<option value="" selected="selected">Seleccione
						el estado</option>
					<option th:each="estado : ${estado}"
						th:value="${estado.idEstadoTabla}"
						th:text="|${estado.descripcion}|"></option>
				</select>
			</div>
		</div>
	</th:block>
	<!-- Tabla Externo-->
	<th:block th:fragment="externo">
		<div class="form-group">
			<label class="control-label">Persona </label>
			<select id="idPersona" class="form-control"
				name="idPersona">
			</select>
		</div>

		<div class="form-group">
			<label class="col-lg-2 control-label">Nombre</label>
			<div class="col-lg-10">
				<input id="nombreCompleto"
					class="form-control upperCase elemento-modificable" disabled="disabled" name="nombre">
			</div>
		</div>

		<div class="form-group">
			<label class="col-lg-2 control-label">Estado del Docente </label>
			<div class="col-lg-10">
				<select id="idEstadoTabla"
					class="form-control select2 elemento-modificable"
					name="idEstadoTabla">
					<option value="" selected="selected" >Seleccione
						el estado</option>
					<option th:each="estado : ${estado}"
						th:value="${estado.idEstadoTabla}"
						th:text="|${estado.descripcion}|"></option>
				</select>
			</div>
		</div>

	</th:block>

	<!--TABLA HORARIO -->

	<th:block th:fragment="horario">

		<div class="form-group">
			<label class="col-lg-5 control-label">Hora de inicio</label>
			<div class="col-lg-10">
				<input  class="form-control" name="horaInicioAlt">
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-5 control-label">Hora de fin</label>
			<div class="col-lg-10">
				<input  class="form-control" name="horaFinAlt">
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-5 control-label">Tiempo máximo</label>
			<div class="col-lg-10">
				<input class="form-control" name="tiempoMax">
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-2 control-label">Descripción</label>
			<div class="col-lg-10">
				<input class="form-control" name="descripcion">
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-5 control-label">Estado del Horario </label>
			<div class="col-lg-10">
				<select id="idEstadoTabla"
					class="form-control select2 elemento-modificable"
					name="idEstadoTabla">
					<option value="" selected="selected" disabled="disabled">Seleccione
						el estado</option>
					<option th:each="estado : ${estado}"
						th:value="${estado.idEstadoTabla}"
						th:text="|${estado.descripcion}|"></option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-2 control-label">Turno </label>
			<div class="col-lg-10">
				<select id="idTurno"
					class="form-control select2 elemento-modificable" name="idTurno">
					<option value="" selected="selected" disabled="disabled">Seleccione
						el turno</option>
					<option th:each="turno : ${turno}" th:value="${turno.idItem}"
						th:text="|${turno.descripcion}|"></option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-2 control-label">Día </label>
			<div class="col-lg-10">
				<select id="idDia" class="form-control select2 elemento-modificable"
					name="idDia">
					<option value="" selected="selected" disabled="disabled">Seleccione
						el día</option>
					<option th:each="dia : ${dia}" th:value="${dia.idItem}"
						th:text="|${dia.descripcion}|"></option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-5 control-label">Tipo de Horario </label>
			<div class="col-lg-10">
				<select id="idTipoHorario"
					class="form-control select2 elemento-modificable"
					name="idTipoHorario">
					<option value="" selected="selected" disabled="disabled">Seleccione
						el tipo de Horario</option>
					<option th:each="tipoHorario : ${tipoHorario}"
						th:value="${tipoHorario.idItem}"
						th:text="|${tipoHorario.descripcion}|"></option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-5 control-label">Área de estudio </label>
			<div class="col-lg-10">
				<select id="idAreaEstudio"
					class="form-control select2 elemento-modificable"
					name="idAreaEstudio">
					<option value="" selected="selected">Seleccione el area de
						estudio</option>
					<option th:each="areaEstudio : ${areaEstudio}"
						th:value="${areaEstudio.idAreaEstudio}"
						th:text="|${areaEstudio.nombre}|"></option>
				</select>
			</div>
		</div>
	</th:block>
	
	<!--TABLA INFRACCION -->
	
	<th:block th:fragment="infraccion">

		<div class="form-group">
			<label class="col-lg-2 control-label">Número de Documento del
				Infractor</label>
			<div class="col-lg-10">
				<input class="form-control upperCase elemento-desactivable"
					name="idPersona" autofocus="autofocus" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-2 control-label">Descripcion</label>
			<div class="col-lg-10">
				<input class="form-control" name="descripcion">
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-2 control-label">Infracción </label>
			<div class="col-lg-10">
				<select id="idTipoInfraccion"
					class="form-control select2 elemento-desactivable"
					name="idTipoInfraccion">
					<option value="" selected="selected" disabled="disabled">Seleccione
						la infracción</option>
					<option th:each="tipoInfraccion : ${tipoInfraccion}"
						th:value="${tipoInfraccion.idTipoInfraccion}"
						th:text="|${tipoInfraccion.idTipoInfraccion} - ${tipoInfraccion.descripcion}|"></option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-2 control-label">Estado de la Infracción
			</label>
			<div class="col-lg-10">
				<select id="idEstadoTabla"
					class="form-control select2 elemento-desactivable"
					name="idEstadoTabla">
					<option value="" selected="selected" disabled="disabled">Seleccione
						el estado</option>
					<option th:each="estado : ${estado}"
						th:value="${estado.idEstadoTabla}"
						th:text="|${estado.idEstadoTabla} - ${estado.descripcion}|"></option>
				</select>
			</div>
		</div>
	</th:block>
	
	
	
	<!-- Tabla Facultad -->
	<th:block th:fragment="facultad">
		<div class="form-group">
			<label class="col-lg-5 control-label">Nombre de la Facultad</label>
			<div class="col-lg-10">
				<input class="form-control upperCase elemento-modificable"
					name="nombre" autofocus="autofocus" />
			</div>
		</div>
	</th:block>
	<!-- Tabla Escuela -->


	<th:block th:fragment="escuela">

		<div class="form-group">
			<label class="control-label">Facultad a la que
				pertenece</label>
			<select id="idFacultad" class="form-control select2 elemento-modificable" name="idFacultad">
				<option value="" selected="selected">Seleccione una
					Facultad</option>
				<option th:each="facultad : ${facultad}"
					th:value="${facultad.idFacultad}"
					th:text="|${facultad.idFacultad} - ${facultad.nombre}|"></option>
			</select>
		</div>
		<div class="form-group">
			<label class="control-label">Codigo de Escuela</label>
			<input class="form-control numbersOnly elemento-modificable"
				name="codigo" autofocus="autofocus" />
		</div>
		<div class="form-group">
			<label class="control-label">Nombre de Escuela</label>
			<input class="form-control upperCase elemento-modificable"
				name="nombre" autofocus="autofocus" />
		</div>

	</th:block>

	<!-- Tabla Administrativo -->

	<th:block th:fragment="administrativo">
	
		<div class="form-group">
			<label class="control-label">Persona </label>
			<select id="idPersona" class="form-control"
				name="idPersona">
			</select>
		</div>
		
		<div class="form-group">
			<label class="control-label">Código de Administrativo</label>
			<input class="form-control upperCase elemento-modificable"
				name="codigoAdm">
		</div>

	</th:block>

	<!-- Tabla Area-Administrativo -->
	<th:block th:fragment="areaAdministrativo">
		<div class="form-group">
			<label class="control-label">Area de Estudio</label>
			<select id="idAreaEstudio" class="form-control select2"
				name="idAreaEstudio">
				<option value="" selected="selected">Seleccione el area de
					estudio</option>
				<option th:each="areaEstudio : ${areaEstudio}"
					th:value="${areaEstudio.idAreaEstudio}"
					th:text="|${areaEstudio.nombre}|"></option>
			</select>
		</div>
		<div class="form-group">
			<label class="control-label">Administrativo</label>
			<select id="idAdministrativo"
				class="form-control select2 upperCase elemento-modificable"
				name="idAdministrativo">
				<option value="" selected="selected">Seleccione un
					Administrativo</option>
				<option th:each="administrativo : ${administrativo}"
					th:value="${administrativo.idAdministrativo}"
					th:text="|${administrativo.nombre}|"></option>
			</select>
		</div>
		<div class="form-group">
			<label class="control-label">Fecha de inicio</label>
			<input 
			class="form-control upperCase elemento-modificable"
				type="date" name="fechaInicio"  autofocus="autofocus" />
		</div>
		<div class="form-group">
			<label class="control-label">Fecha de Fin</label>
			<input class="form-control upperCase elemento-modificable"
				type="date" name="fechaFin" autofocus="autofocus" />
		</div>
		<div class="form-group">
			<label class="control-label">Cargo</label>
			<input class="form-control " type="text" name="cargo"
				autofocus="autofocus" />
		</div>
	</th:block>


	<!-- Tabla Area Estudio-->
	<th:block th:fragment="areaEstudio">
		<div class="form-group">
			<label class="col-lg-2 control-label">Nombre</label>
			<div class="col-lg-10">
				<input class="form-control upperCase elemento-modificable"
					type="text" name="nombre" autofocus="autofocus" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-2 control-label">Pabellon</label>
			<div class="col-lg-10">
				<input class="form-control upperCase elemento-modificable"
					type="text" name="pabellon" autofocus="autofocus" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-2 control-label">Nivel</label>
			<div class="col-lg-10">
				<input class="form-control upperCase elemento-modificable"
					type="text" name="nivel" autofocus="autofocus" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-2 control-label">Aforo</label>
			<div class="col-lg-10">
				<input class="form-control upperCase elemento-modificable"
					type="number" name="aforo" autofocus="autofocus" />
			</div>
		</div>
	</th:block>

	<!-- Tabla Material-->
	<th:block th:fragment="material">
		<div class="form-group">
			<label class="col-lg-2 control-label">Nombre</label>
			<div class="col-lg-10">
				<input class="form-control upperCase elemento-modificable"
					type="text" name="nombreMaterial" autofocus="autofocus" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-2 control-label">Id. Tipo de Material</label>
			<div class="col-lg-10">
				<input class="form-control upperCase elemento-modificable"
					type="number" name="idTipoMaterial" autofocus="autofocus" />
			</div>
		</div>
	</th:block>

	<!-- Tabla Recurso-->
	<th:block th:fragment="recurso">
		<div class="form-group">
			<label class="col-lg-5 control-label">Numero de Serie</label>
			<div class="col-lg-10">
				<input class="form-control  elemento-modificable" type="text"
					name="numeroSerie" autofocus="autofocus" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-2 control-label">Descripcion</label>
			<div class="col-lg-10">
				<input class="form-control" name="descripcion" autofocus="autofocus" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-2 control-label">Observacion</label>
			<div class="col-lg-10">
				<input class="form-control" name="observacion" autofocus="autofocus" />
			</div>
		</div>

		<div class="form-group">
			<label class="col-lg-5 control-label">Estado del Recurso</label>
			<div class="col-lg-10">
				<select id="idEstadoTabla" class="form-control select2"
					name="idEstadoTabla">
					<option value="" selected="selected">Seleccione el estado</option>
					<option th:each="estados : ${estados}"
						th:value="${estados.idEstadoTabla}"
						th:text="|${estados.descripcion}|"></option>
				</select>
			</div>
		</div>

		<div class="form-group">
			<label class="col-lg-5 control-label">Tipo de Recurso</label>
			<div class="col-lg-10">
				<select id="idTipoRecurso"
					class="form-control select2 elemento-modificable"
					name="idTipoRecurso">
					<option value="" selected="selected">Seleccione el tipo de
						recurso</option>
					<option th:each="tipoRecursos : ${tipoRecursos}"
						th:value="${tipoRecursos.idTipoRecurso}"
						th:text="|${tipoRecursos.nombre}|"></option>
				</select>
			</div>
		</div>

		<div class="form-group">
			<label class="col-lg-5 control-label">Area de Estudio</label>
			<div class="col-lg-10">
				<select id="idAreaEstudio" class="form-control select2"
					name="idAreaEstudio">
					<option value="" selected="selected">Seleccione el area de
						estudio</option>
					<option th:each="areaEstudio : ${areaEstudio}"
						th:value="${areaEstudio.idAreaEstudio}"
						th:text="|${areaEstudio.nombre}|"></option>
				</select>
			</div>
		</div>


	</th:block>

	<!-- Tabla Rol -->
	<th:block th:fragment="rol">
		<div class="form-group">
			<label class="control-label">Nombre</label>
			<input class="form-control upperCase elemento-modificable"
				type="text" name="nombre" autofocus="autofocus" />
		</div>
	</th:block>
     
    <!-- Tabla de tablas -->
    <th:block th:fragment="multiTabCab">
		<div class="form-group">
			<label class="control-label">Nombre de la tabla</label>
			<input class="form-control upperCase elemento-modificable"
					type="text" name="nombre" autofocus="autofocus" />
		</div>
		<div class="form-group">
			<label class="control-label">Descripción</label>
			<input class="form-control upperCase elemento-modificable"
					type="text" name="descripcion" autofocus="autofocus" />
		</div>
	</th:block>
    
	<!-- Tabla Tipo Recurso -->
	<th:block th:fragment="tipoRecurso">
		<div class="form-group">
			<label class="col-lg-2 control-label">Nombre</label>
			<div class="col-lg-10">
				<input class="form-control upperCase upperCase elemento-modificable"
					type="text" name="nombre" autofocus="autofocus" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-2 control-label">Descripcion</label>
			<div class="col-lg-10">
				<input class="form-control upperCase upperCase elemento-modificable"
					type="text" name="descripcion" autofocus="autofocus" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-2 control-label">Uso</label>
			<div class="col-lg-10">
				<select id="uso" class="form-control select2"
					name="uso">
					<option value="" selected="selected">Seleccione el uso</option>
					<option value="GRUPAL">GRUPAL</option>
					<option value="INDIVIDUAL">INDIVIDUAL</option>
				</select>
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-lg-5 control-label">Maxima capacidad</label>
			<div class="col-lg-10">
				<input id="maxCapacidad" class="form-control upperCase elemento-modificable"
					type="number" name="maxCapacidad" autofocus="autofocus" />
			</div>
		</div>
				<div class="form-group">
			<label class="col-lg-2 control-label">Usable</label>
			<div class="col-lg-10">
				<select id="usable" class="form-control select2"
					name="usable">
					<option value="" selected="selected">¿Es usable?</option>
					<option value="SI">SI</option>
					<option value="NO">NO</option>
				</select>
			</div>
		</div>

	</th:block>

	<!-- Tabla Ubicacion -->
	<th:block th:fragment="ubicacion">
		<div class="form-group">
			<label class="col-lg-2 control-label">Coordenada X</label>
			<div class="col-lg-10">
				<input class="form-control upperCase elemento-desactivable"
					name="coordenadaX" autofocus="autofocus" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-2 control-label">Coordenada Y</label>
			<div class="col-lg-10">
				<input class="form-control upperCase elemento-desactivable"
					name="coordenadaY" autofocus="autofocus" />
			</div>
		</div>
	</th:block>

	<!-- Tabla Usuario -->
	<th:block th:fragment="usuario">
		<div class="form-group">
			<label class="col-lg-2 control-label">Usuario</label>
			<div class="col-lg-10">
				<input class="form-control upperCase elemento-desactivable"
					type="text" name="username" autofocus="autofocus" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-2 control-label">Contraseña</label>
			<div class="col-lg-10">
				<input class="form-control upperCase elemento-desactivable"
					type="password" name="pass" autofocus="autofocus" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-2 control-label">Estado del Usuario</label>
			<div class="col-lg-10">
				<select id="idEstadoTabla"
					class="form-control select2 elemento-desactivable"
					name="idEstadoTabla">
					<option value="" selected="selected" disabled="disabled">Seleccione
						el estado</option>
					<option th:each="estado : ${estados}"
						th:value="${estado.idEstadoTabla}"
						th:text="|${estado.idEstadoTabla} - ${estado.descripcion}|"></option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-2 control-label">Rol</label>
			<div class="col-lg-10">
				<select id="idRol"
					class="form-control select2 elemento-desactivable" name="idRol">
					<option value="" selected="selected" disabled="disabled">Seleccione
						el rol</option>
					<option th:each="rol : ${roles}" th:value="${rol.idRol}"
						th:text="|${rol.idRol} - ${rol.nombre}|"></option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-2 control-label">Persona</label>
			<div class="col-lg-10">
				<select id="idPersona"
					class="form-control select2 elemento-desactivable" name="idPersona">
					<option value="" selected="selected" disabled="disabled">Seleccione
						la persona</option>
					<option th:each="persona : ${personas}"
						th:value="${persona.idPersona}"
						th:text="|${persona.idPersona} - ${persona.nombre}  ${persona.appPaterno} ${persona.appMaterno} |"></option>
				</select>
			</div>
		</div>
	</th:block>
	
	<!-- Tabla de tablas Mantenimiento -->
	<th:block th:fragment="multiTabDet">
		<div class="form-group">
			<label class="col-lg-8 control-label">Descripción</label>
			<div class="col-lg-10">
				<input class="form-control upperCase elemento-modificable"
					type="text" name="descripcion" autofocus="autofocus" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-5 control-label">Descripción corta</label>
			<div class="col-lg-10">
				<input class="form-control upperCase elemento-modificable"
					type="text" name="descripcionCorta" autofocus="autofocus" />
			</div>
		</div>
	</th:block>
	

</body>
</html>
