<!DOCTYPE html>
<html>

<head th:replace="template/fragments/head::head">

</head>
<meta charset="utf-8"></meta>
<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<meta th:name="${_csrf.parameterName}" th:content="${_csrf.token}"></meta>
<meta name="root" th:content="@{/}"/>

<body class="fix-header fix-sidebar">
	<div id="main-wrapper">
		<div th:replace="template/fragments/headerSiscae::header"></div>
		<div th:replace="template/fragments/sidebar::sidebar"></div>
		
		<div layout:fragment="content"></div>

	</div>

	<div th:replace="template/fragments/footer :: footer"></div>
</body>
</html>