<!DOCTYPE html>
<html>
<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="icon" th:src="@{/resources/images/libro-icon.png}">
		<title>SISCAE :: Login ::</title>
		
		<!-- Bootstrap CSS -->
   		<link rel="stylesheet" type="text/css" th:href="@{/resources/css/guiuser/lib/bootstrap/bootstrap.min.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/resources/css/signin.css}">
		
		
	</head>
	
	<body class="text-center">
		<form th:action="@{/login}" th:object=${usuario} method="post" class="form-signin" >
			<h1 class="h3 mb-3 font-weight-normal">SISCAE</h1>
			<img th:src="@{/resources/images/libros.png}" width="72" height="72">
			<p class="text-muted">Aulas de Estudio</p>
			<label for="inputEmail" class="sr-only">Usuario</label> 
			<input name="login" type="text" id="inputEmail" class="form-control" placeholder="Usuario" required="" autofocus=""> 
			<label for="inputPassword" class="sr-only">Contraseña</label> 
			<input name="clave" type="password" id="inputPassword" class="form-control" placeholder="Contraseña" required="">
			<button class="btn btn-lg btn-primary btn-block" name="go" type="submit">INGRESAR</button>
			
			<div th:if="${mensajeExcepcion != null and mensajeExcepcion != ''}" class="alert alert-danger"
					role="alert">
					<span th:text="${mensajeExcepcion}"></span>
			</div>
			<p class="mt-5 mb-3 text-muted">© 2018</p>
		</form>

	</body>
</html>