<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout_user}">

<head>
</head>
<body>
	<div layout:fragment="content">

		<!-- Page wrapper  -->
		<div th:class="${areaAdministrativo.cargo} == 'SOLICITANTE' ? 'page-wrapper m-l-0' : 'page-wrapper'">
			<!-- Bread crumb -->
			<div class="row page-titles">
				<div class="col-md-5 align-self-center">
					<h3 th:text="'Estado de la ' + ${areaAdministrativo.nombreAreaEstudio.toLowerCase()}" class="text-primary"></h3>
				</div>
				<div class="col-md-7 align-self-center">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="javascript:void(0)">Estado del area</a></li>
					</ol>
				</div>
			</div>
			<!-- End Bread crumb -->
			<!-- Container fluid  -->
			<div class="container-fluid">
				<!-- Start Page Content -->
				<div class="row">
					<div class="col-12">
						<div class="card">
							<div class="card-body p-b-0">
								<!-- Nav tabs -->
								<ul class="nav nav-tabs customtab2" role="tablist">
									<li class="nav-item"><a class="nav-link active"
										data-toggle="tab" href="#esquema" role="tab"> <span
											class="hidden-sm-up"> <i class="ti-home"></i></span> <span
											class="hidden-xs-down">Solicitar</span>
									</a></li>
									<li class="nav-item">
										<a class="nav-link" data-toggle="tab" href="#tabla" role="tab"> 
											<span class="hidden-sm-up"><i class="ti-user"></i></span> 
											<span class="hidden-xs-down">Detalles</span>
										</a>
									</li>

									<li class="nav-item">
										<a class="nav-link" data-toggle="tab" id="salida" role="tab"> 
										<span class="hidden-sm-up"><i class="ti-user"></i> </span> 
										<span class="hidden-xs-down">Marcar Salida</span>
										</a>
									</li>
								</ul>

								<!-- Tab panes -->
								<div class="tab-content">
									<div class="tab-pane active" id="esquema" role="tabpanel">
										<div class="p-20">
										
										
											<p>Seleccione su recurso disponible</p>
											<div class="row" id="for-each">
											
											<th:block th:each="prestamo : ${prestamos}">
											
												<div class="recurso">
													<img
														th:if="(${prestamo.estado} == 'DISPONIBLE') and (${prestamo.tipoRecurso} == 'CUBICULO')"
														th:src="@{/resources/images/cubo_verde.png}" width="40" height="40"> 
													<img
														th:if="(${prestamo.estado} == 'OCUPADO') and (${prestamo.tipoRecurso} == 'CUBICULO')"
														th:src="@{/resources/images/cubo_rojo.png}" width="40" height="40"> 
													<img
														th:if="(${prestamo.estado} == 'LIBERABLE') and (${prestamo.tipoRecurso} == 'CUBICULO')"
														th:src="@{/resources/images/cubo_amarillo.png}" width="40" height="40">
														
													<img
														th:if="${prestamo.tipoRecurso} == 'CABINA'"
														th:src="@{/resources/images/pantalla.png}" width="40" height="40">
														
													<img
														th:if="${prestamo.tipoRecurso} == 'MESA'"
														th:src="@{/resources/images/mesa.png}" width="100" height="100">
														
													<p th:text="${prestamo.numero}"></p>
													<p th:if="${prestamo.estado} == 'DISPONIBLE'" th:text="DISPONIBLE" class="disponible"></p>
													<p th:if="${prestamo.estado} == 'OCUPADO'" th:text="OCUPADO" class="ocupado"></p>
													<p th:if="${prestamo.estado} == 'LIBERABLE'" th:text="LIBERABLE" class="liberable"></p>
													<p th:if="${areaAdministrativo.nombreAreaEstudio} == 'SALA GRUPAL'" th:text="'Capacidad 0/' + ${prestamo.maxCapacidad}"></p>
													
													<button th:if="${areaAdministrativo.nombreAreaEstudio} == 'BIBLIOTECA'" th:id="${prestamo.numero}" th:grupal="no" th:key="${prestamo.idRecurso}" th:class="${prestamo.estado} == 'DISPONIBLE' ? 'btn btn-info solicitar' : 'invisible' ">SOLICITAR</button>
													<button th:if="(${areaAdministrativo.nombreAreaEstudio} == 'SALA GRUPAL') or (${areaAdministrativo.nombreAreaEstudio} == 'VIDEOTECA')" th:grupal="si" th:id="${prestamo.numero}"  th:key="${prestamo.idRecurso}" type="button"  th:class="${prestamo.estado} == 'DISPONIBLE' ? 'btn btn-info solicitar' : 'invisible' ">SOLICITAR</button>
													
												
												</div>
											
											</th:block>

											</div>


										</div>
									</div>

									<div class="tab-pane  p-20" id="tabla" role="tabpanel">

										<div class="table-responsive m-t-40">
											<h3>Estado del aula</h3>
											<table id="myTable"
												class="table table-bordered table-striped">
												<thead>
													<tr>
														<th>Recurso</th>
														<th>Estado</th>
														<th>Codigo</th>
														<th>Nombre</th>
														<th>Apellidos</th>
														<th>Hora de entrada</th>
														<th>Tiempo restante</th>
													</tr>
												</thead>
												<tbody>

													<tr th:each="prestamo : ${prestamos}">
														<td th:text="${prestamo.numero}"></td>
														
														<td th:if="${prestamo.estado} == 'DISPONIBLE'"><span class="badge badge-primary">DISPONIBLE</span></td>
														<td th:if="${prestamo.estado} == 'OCUPADO'"><span class="badge badge-danger">OCUPADO</span></td>
														<td th:if="${prestamo.estado} == 'LIBERABLE'"><span class="badge badge-warning">LIBERABLE</span></td>
														
														<td th:text="${prestamo.estado} == 'DISPONIBLE' ? '-' : ${prestamo.codigoAlumno}"></td>
														<td th:text="${prestamo.estado} == 'DISPONIBLE' ? '-' : ${prestamo.nombre}"></td>
														<td th:text="${prestamo.estado} == 'DISPONIBLE' ? '-' : ${prestamo.appPaterno} + ' ' + ${prestamo.appMaterno}"></td>
														<td th:text="${prestamo.estado} == 'DISPONIBLE' ? '-' : ${prestamo.horaEntrada}"></td>
														<td th:text="${prestamo.estado} == 'DISPONIBLE' ? '-' : ${#dates.format(#dates.createNow(),'YYYY/MM/dd HH:mm')}"></td>                  
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End PAge Content -->
			</div>


		</div>
		
		
		<!-- MODAL -->
		<div class="modal fade" id="modalPrestamoRecurso" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered" role="document">
		    <div class="modal-content">
		    
		      
		      <div class="modal-body">
					<h3 id="infoRecurso">Solcititud de recurso</h3>
					<p>Ingrese su carnet por el scanner</p>
					<div class="form-group">
						<div class="input-group justify-content-center">
							<img th:src="@{/resources/images/lectora.gif}" width="350" height="200">
						</div>
						<div class="input-group">
							<input type="text" class="form-control col-9 m-r-30" id="numDocumento" name="numDocumento" autofocus placeholder="Numero de documento">
							<button class="form-control col-2 btn btn-info">OK</button>
						
						</div>
						<div class="table-responsive m-t-40">
							<table id="tablaPrestamoGrupal" class="table table-bordered table-striped">
								<thead>
									<tr>
										<th>Recurso</th>
										<th>Codigo</th>
										<th>Accion</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>3</td>
										<td>16200116</td>
										<td><button class="btn btn-danger">Borrar</button></td>
									</tr>
									
									<tr>
										<td>3</td>
										<td>16200117</td>
										<td><button class="btn btn-danger">Borrar</button></td>
									</tr>
								</tbody>
							
							</table>
						</div>
				  </div>	        
			  </div>			      
		      
		      <div class="modal-footer">
		        <button id="cerrarModal" type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
		        <button type="button" class="btn btn-succes">Confirmar</button>
		      </div>
		    </div>
		  </div>
		</div>
		<!-- END MODAL -->
		
		
		<!-- All Jquery -->
		<script th:src="@{/resources/js/guiuser/lib/jquery/jquery.min.js}"></script>
		<!-- Bootstrap tether Core JavaScript -->
		<script
			th:src="@{/resources/js/guiuser/lib/bootstrap/js/popper.min.js}"></script>
		<script
			th:src="@{/resources/js/guiuser/lib/bootstrap/js/bootstrap.min.js}"></script>
		<!-- slimscrollbar scrollbar JavaScript -->
		<script th:src="@{/resources/js/guiuser/jquery.slimscroll.js}"></script>
		<!--Menu sidebar -->
		<script th:src="@{/resources/js/guiuser/sidebarmenu.js}"></script>
		<!--stickey kit -->
		<script
			th:src="@{/resources/js/guiuser/lib/sticky-kit-master/dist/sticky-kit.min.js}"></script>
		<!--Custom JavaScript -->
		
		<script th:src="@{/resources/js/guiuser/scripts.js}"></script>
		<!-- scripit init-->
		<script th:src="@{/resources/js/guiuser/custom.min.js}"></script>
		<script th:src="@{/resources/js/guiuser/sweetalert.min.js}"></script>
		<script th:src="@{/resources/js/util/util.js}"></script>
		<script th:src="@{/resources/js/util/formularioUtil.js}"></script>
		
		<!-- JS de datatables -->
		<script th:src="@{/resources/js/guiuser/lib/datatables/datatables.min.js}"></script>
	    <script th:src="@{/resources/js/guiuser/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js}"></script>
	    <script th:src="@{/resources/js/guiuser/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js}"></script>
	    <script th:src="@{/resources/js/guiuser/lib/datatables/cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js}"></script>
	    <script th:src="@{/resources/js/guiuser/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js}"></script>
	    <script th:src="@{/resources/js/guiuser/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js}"></script>
	    <script th:src="@{/resources/js/guiuser/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js}"></script>
	    <script th:src="@{/resources/js/guiuser/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js}"></script>
	    <script th:src="@{/resources/js/guiuser/lib/datatables/datatables-init.js}"></script>
		
		<!-- JS de envio de peticion -->
		<script
			th:src="@{/resources/js/pagina/consulta/movimientos/prestamos/prestamos.js}"></script>
		<script
			th:src="@{/resources/js/pagina/consulta/movimientos/prestamos/prestamosFormulario.js}"></script>
		

	</div>

</body>

</html>