<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout_user}">

<head>
</head>
<body>
	<div layout:fragment="content">
		<!-- Page wrapper  -->
		<div class="page-wrapper">
			<!-- Bread crumb -->
			<div class="row page-titles">
				<div class="col-md-5 align-self-center">
					<h3
						th:text="'Estadisticas de ' + ${areaAdministrativo.nombreAreaEstudio.toLowerCase()}"
						class="text-primary"></h3>
				</div>
				<div class="col-md-7 align-self-center">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="javascript:void(0)">Estadisticas</a></li>
					</ol>
				</div>
			</div>
			<!-- End Bread crumb -->
			<!-- Container fluid  -->
			<div class="container-fluid">
				<!-- Start Page Content -->
				<div class="row">
					<div class="col-12">
						<div class="card">
							<div class="card-body p-b-0">
								<!-- Nav tabs -->
								<ul class="nav nav-tabs customtab2" role="tablist">
									<li class="nav-item"><a class="nav-link active"
										data-toggle="tab" href="#prestamos" role="tab"> <span
											class="hidden-sm-up"> <i class="ti-home"></i></span> <span
											class="hidden-xs-down">Prestamos</span>
									</a></li>
									<li class="nav-item"><a class="nav-link" data-toggle="tab"
										href="#infracciones" role="tab"> <span
											class="hidden-sm-up"><i class="ti-user"></i></span> <span
											class="hidden-xs-down">Infracciones</span>
									</a></li>

									<li class="nav-item"><a class="nav-link" data-toggle="tab"
										href="#solicitante" role="tab"> <span class="hidden-sm-up"><i
												class="ti-user"></i> </span> <span class="hidden-xs-down">Solitantes
												mas frecuentes</span>
									</a></li>

									<li class="nav-item"><a class="nav-link" data-toggle="tab"
										href="#reporte" role="tab"> <span class="hidden-sm-up"><i
												class="ti-user"></i> </span> <span class="hidden-xs-down">Reporte</span>
									</a></li>
								</ul>


								<!-- Tab panes -->
								<div class="tab-content">
									<div class="tab-pane active m-t-40" id="reporte" role="tabpanel">
										<h3>Reporte de Prestamos</h3>
										<p>Exportar datos en</p>
										<table id="example23"
											class="display nowrap table table-hover table-striped table-bordered"
											cellspacing="0" width="100%">

											<thead>
												<tr>
													<th>Recurso</th>
													<th>Escuela</th>
													<th>Codigo</th>
													<th>Nombre</th>
													<th>Apellidos</th>
													<th>Turno</th>
													<th>Fecha de registro</th>
													<th>Tiempo de estadia</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>Cubiculo 01</td>
													<td>Ingenieria de Sistemas</td>
													<td>16200127</td>
													<td>Vieri Enrique</td>
													<td>Garcia Moreno</td>
													<td>Tarde</td>
													<td>05/10/18</td>
													<td>3</td>
												</tr>
												
												<tr>
													<td>Cubiculo 01</td>
													<td>Ingenieria de Sistemas</td>
													<td>16200116</td>
													<td>Mario Alberto</td>
													<td>Cortez Escarate</td>
													<td>Tarde</td>
													<td>05/10/18</td>
													<td>3</td>
												</tr>
												
												<tr>
													<td>Cubiculo 01</td>
													<td>Ingenieria de Sistemas</td>
													<td>16200116</td>
													<td>Mario Alberto</td>
													<td>Cortez Escarate</td>
													<td>Tarde</td>
													<td>05/10/18</td>
													<td>3</td>
												</tr>
												<tr>
													<td>Cubiculo 01</td>
													<td>Ingenieria de Sistemas</td>
													<td>16200116</td>
													<td>Mario Alberto</td>
													<td>Cortez Escarate</td>
													<td>Tarde</td>
													<td>05/10/18</td>
													<td>3</td>
												</tr>
												<tr>
													<td>Cubiculo 01</td>
													<td>Ingenieria de Sistemas</td>
													<td>16200116</td>
													<td>Mario Alberto</td>
													<td>Cortez Escarate</td>
													<td>Tarde</td>
													<td>05/10/18</td>
													<td>3</td>
												</tr>

											</tbody>
										</table>
									</div>
									
									<div class="tab-pane" id="prestamos" role="tabpanel">
										<div class="p-20"></div>
									</div>
									<div class="tab-pane" id="infracciones" role="tabpanel">
										<div class="p-20"></div>
									</div>
									<div class="tab-pane" id="solicitante" role="tabpanel">
										<div class="p-20"></div>
									</div>
									
								</div>


							</div>
						</div>
					</div>
				</div>
				<!-- Tab panes -->

			</div>
		</div>

		<!-- All Jquery -->
		<script th:src="@{/resources/js/guiuser/lib/jquery/jquery.min.js}"></script>
		<!-- Bootstrap tether Core JavaScript -->
		<script
			th:src="@{/resources/js/guiuser/lib/bootstrap/js/popper.min.js}"></script>
		<script
			th:src="@{/resources/js/guiuser/lib/bootstrap/js/bootstrap.min.js}"></script>
		<!-- slimscrollbar scrollbar JavaScript -->
		<script th:src="@{/resources/js/guiuser/jquery.slimscroll.js}"></script>
		<!--Menu sidebar -->
		<script th:src="@{/resources/js/guiuser/sidebarmenu.js}"></script>
		<!--stickey kit -->
		<script
			th:src="@{/resources/js/guiuser/lib/sticky-kit-master/dist/sticky-kit.min.js}"></script>
		<!--Custom JavaScript -->
		<!-- Amchart -->
		<script
			th:src="@{/resources/js/guiuser/lib/morris-chart/raphael-min.js}"></script>
		<script th:src="@{/resources/js/guiuser/lib/morris-chart/morris.js}"></script>
		<script
			th:src="@{/resources/js/guiuser/lib/morris-chart/dashboard1-init.js}"></script>
		<!--Menu sidebar -->
			<script th:src="@{/resources/js/guiuser/sidebarmenu.js}"></script>

		<script
			th:src="@{/resources/js/guiuser/lib/calendar-2/moment.latest.min.js}"></script>
		<!-- scripit init-->
		<script
			th:src="@{/resources/js/guiuser/lib/calendar-2/semantic.ui.min.js}"></script>
		<!-- scripit init-->
		<script th:src="@{/resources/js/guiuser/lib/calendar-2/prism.min.js}"></script>
		<!-- scripit init-->
		<script
			th:src="@{/resources/js/guiuser/lib/calendar-2/pignose.calendar.min.js}"></script>
		<!-- scripit init-->
		<script
			th:src="@{/resources/js/guiuser/lib/calendar-2/pignose.init.js}"></script>

		<script
			th:src="@{/resources/js/guiuser/lib/owl-carousel/owl.carousel.min.js}"></script>
		<script
			th:src="@{/resources/js/guiuser/lib/owl-carousel/owl.carousel-init.js}"></script>
		<script th:src="@{/resources/js/guiuser/scripts.js}"></script>
		<script th:src="@{/resources/js/guiuser/custom.min.js}"></script>
		<script th:src="@{/resources/js/guiuser/sweetalert.min.js}"></script>
		<script th:src="@{/resources/js/util/util.js}"></script>

		<script th:src="@{/resources/js/util/formularioUtil.js}"></script>

		<!-- JS de datatables -->

		<script
			th:src="@{/resources/js/guiuser/lib/datatables/datatables.min.js}"></script>
		<script
			th:src="@{/resources/js/guiuser/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js}"></script>
		<script
			th:src="@{/resources/js/guiuser/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js}"></script>
		<script
			th:src="@{/resources/js/guiuser/lib/datatables/cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js}"></script>
		<script
			th:src="@{/resources/js/guiuser/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js}"></script>
		<script
			th:src="@{/resources/js/guiuser/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js}"></script>
		<script
			th:src="@{/resources/js/guiuser/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js}"></script>
		<script
			th:src="@{/resources/js/guiuser/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js}"></script>
		<script
			th:src="@{/resources/js/guiuser/lib/datatables/datatables-init.js}"></script>


	</div>
</body>

</html>