
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout_user}">

<head>
</head>
<body>
	<div layout:fragment="content">

		<!-- Page wrapper  -->
		<div
			th:class="${areaAdministrativo.cargo} == 'SOLICITANTE' ? 'page-wrapper m-l-0' : 'page-wrapper'">

			<!-- Bread crumb -->
			<div th:if="(${areaAdministrativo.cargo} != 'SOLICITANTE')" class="row page-titles">
				<div class="col-md-5 align-self-center">
					<h3
						th:text="'Estado de la ' + ${areaAdministrativo.areaEstudio.toLowerCase()}"
						class="text-primary"></h3>
				</div>
				<div class="col-md-7 align-self-center">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="javascript:void(0)">Estado del area</a></li>
					</ol>
				</div>
			</div>
			<!-- End Bread crumb -->

			<!-- Container fluid  -->
			<div class="container-fluid">
				<!-- Start Page Content -->

				<div class="row">
					<div class="col-12">
						<div class="card">

							<div class="card-body p-b-0">
								<!-- Nav tabs -->
								<ul class="nav nav-tabs customtab2 justify-content-end" role="tablist">
									<li th:if="(${areaAdministrativo.cargo} != 'SOLICITANTE')"
										class="nav-item"><a class="nav-link active"
										data-toggle="tab" href="#esquema" role="tab"> <span
											class="hidden-sm-up"> <i class="ti-home"></i></span> <span
											class="hidden-xs-down">Solicitar</span>
									</a></li>

									<li th:if="(${areaAdministrativo.cargo} != 'SOLICITANTE')"
										class="nav-item"><a class="nav-link" data-toggle="tab"
										href="#tablaDetalle" role="tab"> <span class="hidden-sm-up"><i
												class="ti-user"></i></span> <span class="hidden-xs-down">Detalles</span>
									</a></li>
									
									<li th:if="(${areaAdministrativo.cargo} != 'SOLICITANTE')"
										class="nav-item"><a class="nav-link" data-toggle="tab"
										href="" id="desocupar" role="tab"> <span class="hidden-sm-up"><i
												class="ti-user"></i></span> <span class="hidden-xs-down">Desocupar Area</span>
									</a></li>
									
									
									<li th:if="(${areaAdministrativo.cargo} == 'SOLICITANTE')"
										class="nav-item"><a class="nav-link"
										data-toggle="modal" data-target="#consultaInfraccionesModal" role="tab"> <span
											class="hidden-sm-up"><i class="ti-user"></i></span> <span
											class="hidden-xs-down">Sancionados</span>
									</a></li>

									<li class="nav-item"><a class="nav-link marcar-salida" data-toggle="tab"
										id="salida" role="tab"> <span class="hidden-sm-up"><i
												class="ti-user"></i> </span> <span class="hidden-xs-down">Marcar Salida</span>
									</a></li>



								</ul>

								<!-- Tab panes -->
								<div class="tab-content">
								
									<!-- Panel Esquema -->
									<div class="tab-pane active" id="esquema" role="tabpanel">
										<div class="p-20">
											<h3>Solicitud de recurso</h3>
											
											<div class="row">
												<div></div>
											</div>
											
											<label th:if="${existenIndividuales} == 1" >Recursos individuales</label>
											<div class="row" id="for-each">
												<th:block th:each="prestamo : ${recursosIndividuales}">
													<div class="recurso">
														<img th:if="(${prestamo.estado} == 'DISPONIBLE') and (${prestamo.tipoRecurso} == 'CUBICULO') and (${prestamo.observacion} == 'UBICADO CERCA A UN ENCHUFE') " 
														    th:src="@{/resources/images/cubiculo_con_corriente_verde.png}" width="40" height="40"> 
														<img th:if="(${prestamo.estado} == 'DISPONIBLE') and (${prestamo.tipoRecurso} == 'CUBICULO') and (${prestamo.observacion} != 'UBICADO CERCA A UN ENCHUFE') "
															th:src="@{/resources/images/cubo_verde.png}" width="40" height="40"> 
														<img th:if="(${prestamo.estado} == 'OCUPADO') and (${prestamo.tipoRecurso} == 'CUBICULO') and (${prestamo.observacion} == 'UBICADO CERCA A UN ENCHUFE') "
															th:src="@{/resources/images/cubiculo_con_corriente_rojo.png}" width="40" height="40"> 
														<img th:if="(${prestamo.estado} == 'OCUPADO') and (${prestamo.tipoRecurso} == 'CUBICULO') and (${prestamo.observacion} != 'UBICADO CERCA A UN ENCHUFE') "
															th:src="@{/resources/images/cubo_rojo.png}" width="40" height="40"> 
														<img th:if="(${prestamo.estado} == 'LIBERABLE') and (${prestamo.tipoRecurso} == 'CUBICULO') and (${prestamo.observacion} == 'UBICADO CERCA A UN ENCHUFE') "
															th:src="@{/resources/images/cubiculo_con_corriente_amarillo.png}" width="40" height="40"> 
														<img th:if="(${prestamo.estado} == 'LIBERABLE') and (${prestamo.tipoRecurso} == 'CUBICULO') and (${prestamo.observacion} != 'UBICADO CERCA A UN ENCHUFE') "
															th:src="@{/resources/images/cubo_amarillo.png}" width="40" height="40">
														<p th:text="${prestamo.numero}"></p>
														<p th:if="${prestamo.estado} == 'DISPONIBLE'" th:text="DISPONIBLE" class="disponible"></p>
														<p th:if="${prestamo.estado} == 'OCUPADO'" th:text="OCUPADO" class="ocupado"></p>
														<p th:if="${prestamo.estado} == 'LIBERABLE'" th:text="LIBERABLE" class="liberable"></p>
														<button th:num="${prestamo.numero}" th:key="${prestamo.idRecurso}" th:class="${prestamo.estado} == 'DISPONIBLE' ? 'btn btn-info solicitar sweet-ajax' : 'invisible' ">SOLICITAR</button>
													</div>
												</th:block>
											</div>

											<label th:if="${existenGrupales} == 1" class="m-t-10">Recursos grupales</label>
											<div th:if="${existenGrupales} == 1"  class="row" id="for-each-grupales">
												<th:block th:each="recursoGrupal : ${recursosGrupales}">
													<div class="recurso">
														<img th:if="${recursoGrupal.tipoRecurso} == 'CABINA'" th:src="@{/resources/images/pantalla.png}" width="40" height="40">
														<img th:if="${recursoGrupal.tipoRecurso} == 'MESA'" th:src="@{/resources/images/mesa.png}" width="100" height="100">
														<p th:text="${recursoGrupal.numero}"></p>
														<p th:text="${recursoGrupal.cantidadPrestamos} + ' / ' + ${recursoGrupal.maxCapacidad}"></p>
														<p th:if="${recursoGrupal.estado} == 'DISPONIBLE'" th:text="DISPONIBLE" class="disponible"></p>
														<p th:if="${recursoGrupal.estado} == 'OCUPADO'" th:text="OCUPADO" class="ocupado"></p>
														<p th:if="${recursoGrupal.estado} == 'LIBERABLE'"></p>
														<button th:id="${recursoGrupal.numero}" th:key="${recursoGrupal.idRecurso}" th:max="${recursoGrupal.maxCapacidad}" th:prestado="${recursoGrupal.cantidadPrestamos}" type="button" th:class="${recursoGrupal.estado} == 'DISPONIBLE' ? 'btn btn-info solicitar' : 'invisible' " 
																data-toggle="modal" data-target="#grupalesModal">SOLICITAR</button>
													
													</div>
												</th:block>
											</div>


										</div>
									</div>
									<!-- Fin Panel Esquema -->

									<!-- Panel Detalle -->
									<div class="tab-pane p-20" id="tablaDetalle" role="tabpanel">
										<div class="table-responsive m-t-5">
											<h3>Estado del aula</h3>
											
											<label>Detalle los recursos</label>

											<table id="tblRecursos" class="table-striped table-bordered" cellspacing="0" width="100%">												
											</table>
											
											
										</div>
									</div>
									<!-- Fin Panel Detalle -->
									
								</div>
								<!-- End Tab panes -->
							</div>
						</div>

					</div>
				</div>
				<!-- End PAge Content -->
			</div>




		</div>
		<!-- end wrapper  -->

		<!-- MODAL -->
		<div class="modal fade" id="grupalesModal" tabindex="-1" role="dialog" aria-labelledby="gruaplesModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg" role="document">
		    	<div class="modal-content " style="width: 850px;">
					<div class="card-header modal-header">
		      			<h3 class="modal-title" id="infoRecurso">Solicititud de recurso</h3>		       
		      		</div>				
					<div class="card-body modal-body">
						<div class="row justify-content-center">
							<div class="form-group col-5 m-t-20 m-r-10">
								<h5><strong>Ingrese su carnet por el lector</strong></h5>
								<div class="input-group justify-content-center">
									<img th:src="@{/resources/images/lectora.gif}" width="300" height="180">
								</div>
								<div class="input-group justify-content-center">
									<input type="text" class="form-control col-8 m-r-15 input-grupal" id="numeroDocumentoGrupal" name="numDocumento" autofocus placeholder="Numero de documento">
									<button id="agregarTablaGrupal" class="col-3 btn btn-info">OK</button>
								</div>
							</div>
							<div class="form-group col-6 m-t-20 m-l-10">
								<h5><strong>Solicitantes</strong></h5>
								<label id="espacioDisponibleLabel">Espacio disponible: </label>
								<div class="table-responsive">
									<table id="tablaGrupal" class="table table-bordered">
										<thead>
											<tr class="fila-pers cab" style="border-bottom: 2px solid #dee2e6 !important;">
												<th>Codigo</th>
												<th>Nombre</th>
												<th>Accion</th>
											</tr>
										</thead>
										<tbody id="cuerpoTablaGrupal">
											<tr>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>

					<div class="modal-footer">
						<button id="cerrarModal" type="button" class="swal-button swal-button--cancel" data-dismiss="modal">Cerrar</button>
						<button id="confirmarPrestamo" type="button" class="btn boton-confirmar">Confirmar</button>
					</div>
				</div>
			</div>
		</div>
		<!-- END MODAL -->
		
		
		
		
		
		
		<!-- MODAL 2 -->
		<div id="consultaInfraccionesModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="infractoresModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg modal-dialog-centered" id="contenidoInfracciones" role="document" style="width: 400px;">
		    	<div class="modal-content">
					<div class="card-header modal-header">
		      			<h3 class="modal-title" id="infoRecurso">Consulta de infracciones</h3>		       
		      		</div>				
					<div id="bodyInfracciones" class="card-body modal-body">
						<div id="consultarInfraccionesPorDocumento" class="form-group m-t-20">
							<h5 class="m-t-15 m-l-15"><strong>Ingrese su DNI por el lector</strong></h5>
							<div class="row justify-content-center m-b-10">
								<img th:src="@{/resources/images/dni.png}" width="251px" height="157px">
							</div>
							<div class="input-group justify-content-center">
								<input type="text" class="form-control col-8 m-r-15 input-grupal" id="numDocumentoInfractor" autofocus placeholder="Numero de documento">
								<button id="consultarInfracciones" class="col-3 btn btn-info"><i class="fa fa-search"></i></button>
							</div>
						</div>
						<div id="detalleInfracciones" class="row justify-content-center">
							<div class="panel panel-danger">
			        				<div class="panel-heading descripcion-infraccion">
			        					SOLICITANTE
			        				</div>
						        	<ul class="list-group">
						        		<li class="list-group-item">
						        			<div class="row">
						        				<div class="col-md-2">
						        					<h5>Tipo</h5>
						        				</div>
						        				<div class="col-md-6" >
						        					<label id="tipoDocumento"></label>
						        				</div>
						        				<div class="col-md-1">
						        					<h5>Doc.</h5>
						        				</div>
						        				<div class="col-md-3" id="numeroDocumento">
						        					<label id="numeroDocumentoInfractor"></label>
						        				</div>
						        			</div>
						        		</li>
						        		<li class="list-group-item">
						        			<div class="row">
						        				<div class="col-md-2">
						        					<h5>Nombre</h5>
						        				</div>
						        				<div class="col-md-6" id="nombre">
						        					<label id="nombre"></label>
						        				</div>
						        				<div class="col-md-1">
						        					<h5>Estado</h5>
						        				</div>
						        				<div class="col-md-3" id="nombre">
						        					<label id="estadoSolicitante"></label>
						        				</div>
						        			</div>
						        		</li>
						        	</ul>
						        	<div class="panel-heading descripcion-infraccion">
			        					INFRACCIONES
			        				</div>
						        	<ul class="list-group">
						        		<li class="list-group-item">
						        			<div class="row">
						        				<div class="col-md-2">
						        					<h5>Fecha</h5>
						        				</div>
						        				<div class="col-md-6">
						        					<h5>Infraccion</h5>
						        				</div>
						        				<div class="col-md-4">
						        					<h5>Estado</h5>
						        				</div>
						        			</div>
						        		</li>
						        		<li class="list-group-item" id="for-iteraciones">
						        			<span></span>
						        		</li>
						        	</ul>
			        			</div>
						</div>
						<div id="mensajeInfracciones">
			        		<div class="alert alert-danger m-l-20 m-r-20 m-t-20">
                            	El solicitante no se encuentra registrado o no posee ninguna infraccion
                            </div>
			        	</div>
					</div>
					<div class="modal-footer">
						<button id="cerrarModalInfractores" type="button" class="swal-button swal-button--cancel" data-dismiss="modal">Cerrar</button>
					</div>
				</div>
			</div>
		</div>
		<!-- END MODAL 2 -->
		
		
		

		<!-- All Jquery -->
		<script th:src="@{/resources/js/guiuser/lib/jquery/jquery.min.js}"></script>
		<!-- Bootstrap tether Core JavaScript -->
		<script
			th:src="@{/resources/js/guiuser/lib/bootstrap/js/popper.min.js}"></script>
		<script
			th:src="@{/resources/js/guiuser/lib/bootstrap/js/bootstrap.min.js}"></script>
		<!-- slimscrollbar scrollbar JavaScript -->
		<script th:src="@{/resources/js/guiuser/jquery.slimscroll.js}"></script>
		<!--Menu sidebar 
		<script th:src="@{/resources/js/guiuser/sidebarmenu.js}"></script>-->
		<!--stickey kit -->
		<script
			th:src="@{/resources/js/guiuser/lib/sticky-kit-master/dist/sticky-kit.min.js}"></script>
		<!--Custom JavaScript -->

		<script th:src="@{/resources/js/guiuser/scripts.js}"></script>
		<!-- scripit init-->
		<script th:src="@{/resources/js/guiuser/custom.min.js}"></script>
		<script th:src="@{/resources/js/guiuser/sweetalert.min.js}"></script>
		<script th:src="@{/resources/js/util/util.js}"></script>
		<script th:src="@{/resources/js/util/formularioUtil.js}"></script>

		<!-- JS de datatables -->
		<script th:src="@{/resources/js/datatables/jquery.dataTables.min.js}"></script>
		<script th:src="@{/resources/js/datatables/dataTables.responsive.min.js}"></script>
		<script th:src="@{/resources/js/datatables/dataTables.show.rows.js}"></script>
		<script th:src="@{/resources/js/datatables/dataTables.rowsGroup.js}"></script>

		
		<!-- JS de envio de peticion -->
		<script
			th:src="@{/resources/js/pagina/consulta/movimientos/prestamos/prestamos.js}"></script>
		<script
			th:src="@{/resources/js/pagina/consulta/movimientos/prestamos/initTablaRecursos.js}"></script>




	</div>

</body>

</html>