<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout_user}">
<head>
</head>
<body>

	<div layout:fragment="content">
		<div
			th:class="${areaAdministrativo.cargo} == 'SOLICITANTE' ? 'page-wrapper m-l-0' : 'page-wrapper'">

			<!-- Bread crumb -->
			<div th:if="(${areaAdministrativo.cargo} != 'SOLICITANTE')" class="row page-titles">
				<div class="col-md-5 align-self-center">
					<h3
						th:text="'Infracciones y sanciones en la ' + ${areaAdministrativo.areaEstudio.toLowerCase()}"
						class="text-primary"></h3>
				</div>
				<div class="col-md-7 align-self-center">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="javascript:void(0)">Infracciones y sanciones</a></li>
					</ol>
				</div>
			</div>
			<!-- End Bread crumb -->

			<!-- Container fluid  -->
			<div class="container-fluid">
				<!-- Start Page Content -->

				<div class="row">
					<div class="col-12">
						<div class="card">

							<div class="card-body p-b-0">
								<!-- Nav tabs -->
								<ul class="nav nav-tabs customtab2 justify-content-end" role="tablist">
									<li class="nav-item"><a class="nav-link active"
										data-toggle="tab" href="#infraccion" role="tab"> <span
											class="hidden-sm-up"> <i class="ti-home"></i></span> <span
											class="hidden-xs-down">Aplicar Infraccion</span>
									</a></li>

									<li th:if="(${areaAdministrativo.cargo} != 'SOLICITANTE')"
										class="nav-item"><a class="nav-link" data-toggle="tab"
										href="#tablaInfraccionDetalle" role="tab"> <span class="hidden-sm-up"><i
												class="ti-user"></i></span> <span class="hidden-xs-down">Detalles</span>
									</a></li>
									
									<li th:if="(${areaAdministrativo.cargo} != 'SOLICITANTE')"
										class="nav-item"><a class="nav-link" data-toggle="tab"
										href="#sancionados" id="desocupar" role="tab"> <span class="hidden-sm-up"><i
												class="ti-user"></i></span> <span class="hidden-xs-down">Ver Sancionados</span>
									</a></li>
								</ul>

								<!-- Tab panes -->
								<div class="tab-content">
								
									<!-- Panel Infracciones -->
									<div class="tab-pane active" id="infraccion" role="tabpanel">
										<div class="p-20">
											<div class="card-body">
												<h3 >Registro de infracciones</h3>
												
												<label th:if="${existenIndividuales} == 1" >Recursos individuales</label>
												<div class="row" id="recursosOcupados">
													
													<th:block th:each="prestamo : ${prestamos}">
													
														<div th:if = "(${prestamo.cantidadPrestamos} == 1) or (${prestamo.estado} == 'LIBERABLE')" 
															 class = "recurso">
															
															<img
																th:if="(${prestamo.estado} == 'OCUPADO') and (${areaAdministrativo.areaEstudio} == 'BIBLIOTECA')"
																th:src="@{/resources/images/cubo_rojo.png}" width="40" height="40"> 
															<img
																th:if="(${prestamo.estado} == 'LIBERABLE') and (${areaAdministrativo.areaEstudio} == 'BIBLIOTECA')"
																th:src="@{/resources/images/cubo_amarillo.png}" width="40" height="40">
																	
															<img
																th:if="((${prestamo.estado} == 'OCUPADO') or (${prestamo.estado} == 'LIBERABLE')) and (${areaAdministrativo.areaEstudio} == 'VIDEOTECA')"
																th:src="@{/resources/images/pantalla.png}" width="40" height="40">
																	
															<img
																th:if="((${prestamo.estado} == 'OCUPADO') or (${prestamo.estado} == 'LIBERABLE')) and (${areaAdministrativo.areaEstudio} == 'SALA GRUPAL')"
																th:src="@{/resources/images/mesa.png}" width="100" height="100">
																			
															<p 	th:if = "(${prestamo.estado} == 'OCUPADO') or (${prestamo.estado} == 'LIBERABLE')"
																th:text="${prestamo.numero}"></p>
																
															<p th:if="${prestamo.estado} == 'OCUPADO'"
																th:text="OCUPADO" class="ocupado">
															</p>
														
															<p th:if="${prestamo.estado} == 'LIBERABLE'"
																th:text="LIBERABLE" class="liberable">
															</p>
																			
															<p 	th:if="((${prestamo.estado} == 'OCUPADO') or (${prestamo.estado} == 'LIBERABLE')) and (${areaAdministrativo.areaEstudio} == 'SALA GRUPAL')" 
																th:text="'Capacidad 0/' + ${prestamo.maxCapacidad}">
															</p>
																		
															<button th:if = "(${prestamo.estado} == 'OCUPADO') or (${prestamo.estado} == 'LIBERABLE')" 
																th:id="${prestamo.numero}" 
																th:key="${prestamo.idRecurso}"
																class="btn btn-danger"
																data-toggle="modal"
																data-target="#infraccionModal"
																th:attr="data-doc=${prestamo.numDocumento},
																		 data-codigo=${prestamo.codigoAlumno},
																		 data-nombre=${prestamo.nombre},
																		 data-apellidos=${prestamo.appPaterno} + ' ' + ${prestamo.appMaterno}">APLICAR
															</button>
															
														</div>
														
													</th:block>
													
												</div>
												<label th:if="${existenGrupales} == 1" >Recursos Grupales</label>
												<div class="row" id="recursosOcupadosGrupales">
													
													<th:block th:each="prestamo : ${recursosGrupales}">
													
														<div th:if = "(${prestamo.cantidadPrestamos} > 0) " 
															 class = "recurso">
															
															<img
																th:src="@{/resources/images/users/usuario.png}" width="40" height="40"> 
											
															<p 	th:if = "(${prestamo.estado} == 'OCUPADO') or (${prestamo.estado} == 'LIBERABLE') or (${prestamo.estado} == 'DISPONIBLE')"
																th:text="${prestamo.tipoRecurso}+' '+${prestamo.numero}"></p>
															<p 	th:if = "(${prestamo.estado} == 'OCUPADO') or (${prestamo.estado} == 'LIBERABLE') or (${prestamo.estado} == 'DISPONIBLE')"
																th:text="${prestamo.codigoAlumno}!='NO TIENE' ? ${prestamo.codigoAlumno} : ${prestamo.num_documento}" th:class="${prestamo.estado} == 'OCUPADO'? ocupado : disponible"></p>
													
															<p th:if="${prestamo.estado} == 'LIBERABLE'"
																th:text="LIBERABLE" class="liberable">
															</p>
																					
															<button 
																th:id="${prestamo.numero}" 
																th:key="${prestamo.idRecurso}"
																class="btn btn-danger"
																data-toggle="modal"
																data-target="#infraccionModal"
																th:attr="data-doc=${prestamo.numDocumento},
																		 data-codigo=${prestamo.codigoAlumno},
																		 data-nombre=${prestamo.nombre},
																		 data-apellidos=${prestamo.appPaterno} + ' ' + ${prestamo.appMaterno}">APLICAR
															</button>
															
														</div>
														
													</th:block>
													
												</div>
												
											</div>
										</div>
									</div>
									<!-- Fin Panel Esquema -->

									<!-- Tabla Infracccion Detalle -->
									<div class="tab-pane p-20" id="tablaInfraccionDetalle" role="tabpanel">
										<div class="table-responsive m-t-5">
											<h2>Infracciones registradas por alumno</h2>
											
											<label>Lista de alumnos que registran infracciones</label>
											<div class="p-20">
												<table id="tblInfracciones" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
												</table>
											</div>
<!-- 											<table id="tblInfracciones" class="table table-bordered table-striped"> -->
<!-- 												<thead> -->
<!-- 													<tr> -->
<!-- 														<th>Numero de documento</th> -->
<!-- 														<th>Apellidos</th> -->
<!-- 														<th>Nombre</th> -->
<!-- 														<th>Tipo de solicitante</th> -->
<!-- 														<th>Detalle de infraccion</th> -->
<!-- 														<th>Estado de la infraccion</th> -->
<!-- 														<th>Fecha de registro de infraccion</th> -->
<!-- 													</tr> -->
<!-- 												</thead> -->
<!-- 												<tbody> -->
<!-- 													<th:block th:each="infraccionesDetalle : ${infraccionesDetalle}"> -->
<!-- 														<tr  style="background-color: #fff;"> -->
<!-- 															<td th:text="${infraccionesDetalle.numDocumento}" style="color: #67757C;"></td>											 -->
<!-- 															<td th:text="${infraccionesDetalle.appPaterno} + ' ' + ${infraccionesDetalle.appMaterno}" style="color:#67757C;" ></td> -->
<!-- 															<td th:text="${infraccionesDetalle.nombre}" style="color:#67757C;" ></td> -->
<!-- 															<td th:text="${infraccionesDetalle.tipoPersona}" style="color: #67757C;" ></td> -->
<!-- 															<td th:text="${infraccionesDetalle.infraccion}" style="color: #67757C;" ></td> -->
<!-- 															<td th:text="${infraccionesDetalle.estado}" style="color: #67757C;" ></td> -->
<!-- 															<td th:text="${infraccionesDetalle.fecha}" style="color: #67757C;" ></td> -->
<!-- 														</tr> -->
<!-- 													 </th:block>  -->
													<!-- Fin bucle individual  -->
													
<!-- 												</tbody> -->
<!-- 											</table> -->
											
											
										</div>
									</div>
									<!-- Fin Tabla Infraccion Detalle -->

									<!-- Panel Detalle sancionados -->
									<div class="tab-pane p-20" id="sancionados" role="tabpanel">
										<div class="table-responsive m-t-5">
											<h2>Sancionados</h2>
											
											<label>Lista de los solicitantes sancionados</label>

											<table id="tblSancionados" class="table table-bordered table-striped">
<!-- 												<thead> -->
<!-- 													<tr> -->
<!-- 														<th>Codigo</th> -->
<!-- 														<th>Apellidos</th> -->
<!-- 														<th>Nombre</th> -->
<!-- 														<th>Fecha de sanción</th> -->
<!-- 														<th>Tiempo restante</th> -->
<!-- 														<th>Tipo de solicitante</th> -->
<!-- 													</tr> -->
<!-- 												</thead> -->
<!-- 												<tbody> -->
<!-- 													<th:block th:if="${existenSancionados} == 1" th:each="sancionado : ${sancionados}"> -->
<!-- 														<tr  style="background-color: #fff;"> -->
<!-- 															<td th:text="${sancionado.docIdentificador}" style="color: #67757C;"></td> -->
<!-- 															<td th:text="${sancionado.appPaterno} + ' ' + ${sancionado.appMaterno}" style="color:#67757C;" ></td>											 -->
<!-- 															<td th:text="${sancionado.nombre}" style="color:#67757C;" ></td> -->
<!-- 															<td th:text="${sancionado.fechaRegistro}" style="color: #67757C;" ></td> -->
<!-- 															<td th:text="${sancionado.tiempoRestante}" style="color: #67757C;" ></td> -->
<!-- 															<td th:text="${sancionado.tipoSolicitante}" style="color: #67757C;" ></td> -->
<!-- 														</tr> -->
<!-- 													 </th:block>  -->
													<!-- Fin bucle individual  -->
													
												</tbody>
											</table>
											
											
										</div>
									</div>
									<!-- Fin Panel Detalle -->
									
								</div>
								<!-- End Tab panes -->
							</div>
						</div>

					</div>
				</div>
				<!-- End PAge Content -->
			</div>




		</div>
		
		<!-- End Page wrapper  -->
		
		<!-- Modal -->
		<div class="modal fade" id="infraccionModal" tabindex="-1" role="dialog" aria-labelledby="infraccionModalLabel" aria-hidden="true">
		  <div class="modal-dialog modal-lg" role="document">
		    <div class="modal-content " style="width: 50em;">
		      
		      	<div class="card-header modal-header">
		      		<h5 class="modal-title" id="infraccionModalLabel">Aplicar infraccion</h5>		       
		      	</div>
		      	<div class="card-body modal-body">
			        <div class="p-4 mb-2 container-fluid">
			        	<div class="row">
			        		<div class="col-md-6">
			        			<div class="panel panel-danger">
			        				<div class="panel-heading">
			        					Datos del alumno
			        				</div>
						        	<ul class="list-group">
						        		<li class="list-group-item">
						        			<div class="row">
						        				<div class="col-md-5">
						        					<h5>Codigo</h5>
						        				</div>
						        				<div class="col-md-7" id="codigoAlumno"></div>
						        			</div>
						        		</li>
						        		<li class="list-group-item">
						        			<div class="row">
						        				<div class="col-md-5">
						        					<h5>Nombre</h5>
						        				</div>
						        				<div class="col-md-7" id="nombreAlumno"></div>
						        			</div>
						        		</li>
						        		<li class="list-group-item">
						        			<div class="row">
						        				<div class="col-md-5">
						        					<h5>Apellidos</h5>
						        				</div>
						        				<div class="col-md-7" id="apellidosAlumno"></div>
						        			</div>
						        		</li>
						        		<li class="list-group-item">
						        			<div class="row">
						        				<div class="col-md-5">
						        					<h5>Num. de doc.</h5>
						        				</div>
						        				<div class="col-md-7" id="numDoc"></div>
						        			</div>
						        		</li>
						        		
						        	</ul>
			        			</div>
			        		</div>
			        		<div class="p-2 col-md-6">
			        			<form role="form">
			        				<div class="form-group col-md-12">
			        					<label for="inputInfraccion">Tipo de infraccion</label>
			        						<select id="tipoInfraccion" class="form-control select2" name="tipoInfraccion">
			        							<option value="0" selected="selected">SELECCIONE LA INFRACCION</option>
			        							<option th:each="infraccion : ${tipoInfracciones}" th:value="${infraccion.idItem}"
													th:text="|${infraccion.descripcionCorta}|"></option>
											</select>
									</div>
									<div class="form-group col-md-12">
										<label for="inputDescripcionInfraccion">Descripcion</label>
										<textarea class="form-control" id="inputDescripcionInfraccion" rows="5" style="height: 10em"></textarea>
									</div>
								</form>
			        		</div>
			        	</div>
			        </div> 
			      </div>
			      <div class="card-footer modal-footer">
			        <button type="button" id="btnClose" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
			        <button type="button" id="btnRegistrar" class="btn btn-danger">Registrar infraccion</button>
			      </div>
		      
		    </div>
		  </div>
		</div>
		
		<!-- All Jquery -->
    <script th:src="@{/resources/js/guiuser/lib/jquery/jquery.min.js}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script th:src="@{/resources/js/guiuser/lib/bootstrap/js/popper.min.js}"></script>
    <script th:src="@{/resources/js/guiuser/lib/bootstrap/js/bootstrap.min.js}"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script th:src="@{/resources/js/guiuser/jquery.slimscroll.js}"></script>

    <!--stickey kit -->
    <script th:src="@{/resources/js/guiuser/lib/sticky-kit-master/dist/sticky-kit.min.js}"></script>
    <!--Custom JavaScript -->
	<script th:src="@{/resources/js/guiuser/sidebarmenu.js}"></script>

    <!-- Amchart -->
    <script th:src="@{/resources/js/guiuser/lib/morris-chart/raphael-min.js}"></script>
    <script th:src="@{/resources/js/guiuser/lib/morris-chart/morris.js}"></script>
    <script th:src="@{/resources/js/guiuser/lib/morris-chart/dashboard1-init.js}"></script>


    <script th:src="@{/resources/js/guiuser/lib/calendar-2/moment.latest.min.js}"></script>
    <!-- scripit init-->
    <script th:src="@{/resources/js/guiuser/lib/calendar-2/semantic.ui.min.js}"></script>
    <!-- scripit init-->
    <script th:src="@{/resources/js/guiuser/lib/calendar-2/prism.min.js}"></script>
    <!-- scripit init-->
    <script th:src="@{/resources/js/guiuser/lib/calendar-2/pignose.calendar.min.js}"></script>
    <!-- scripit init-->
    <script th:src="@{/resources/js/guiuser/lib/calendar-2/pignose.init.js}"></script>

    <script th:src="@{/resources/js/guiuser/lib/owl-carousel/owl.carousel.min.js}"></script>
    <script th:src="@{/resources/js/guiuser/lib/owl-carousel/owl.carousel-init.js}"></script>
    <script th:src="@{/resources/js/guiuser/scripts.js}"></script>
    <!-- scripit init-->
    <script th:src="@{/resources/js/guiuser/lib/bootstrap/js/popper.min.js}"></script>
    <script th:src="@{/resources/js/util/util.js}"></script>
    <script th:src="@{/resources/js/guiuser/lib/sweetalert/sweetalert.min.js}"></script>
    <!-- scripit init-->
    <script th:src="@{/resources/js/guiuser/lib/sweetalert/sweetalert.init.js}"></script>

    <script th:src="@{/resources/js/guiuser/custom.min.js}"></script>
    
    <script
			th:src="@{/resources/js/pagina/consulta/movimientos/infracciones/infracciones.js}"></script>
	<script
			th:src="@{/resources/js/pagina/consulta/movimientos/infracciones/infraccionesFormulario.js}"></script>
	<!-- JS de datatables -->
		<script
			th:src="@{/resources/js/guiuser/lib/datatables/datatables.min.js}"></script>
		<script
			th:src="@{/resources/js/guiuser/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js}"></script>
		<script
			th:src="@{/resources/js/guiuser/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js}"></script>
		<script
			th:src="@{/resources/js/guiuser/lib/datatables/cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js}"></script>
		<script
			th:src="@{/resources/js/guiuser/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js}"></script>
		<script
			th:src="@{/resources/js/guiuser/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js}"></script>
		<script
			th:src="@{/resources/js/guiuser/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js}"></script>
		<script
			th:src="@{/resources/js/guiuser/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js}"></script>
		<script
			th:src="@{/resources/js/guiuser/lib/datatables/datatables-init.js}"></script>
	</div>


</body>
</html>