<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout_user}">
<head>

</head>
<body>
	<div layout:fragment="content">
		<!-- Page wrapper  -->
		<div class="page-wrapper">
			<!-- Bread crumb -->
			<div class="row page-titles">
				<div class="col-md-5 align-self-center">
					<h3 class="text-primary">Solicitantes</h3>
				</div>
				<div class="col-md-7 align-self-center">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="javascript:void(0)">Solicitantes</a>
						</li>
					</ol>
				</div>
			</div>
			<!-- End Bread crumb -->
			<!-- Container fluid  -->
			<div class="container-fluid">
				<!-- Start Page Content -->
				<div class="row">
					<div class="col-12">
						<div class="card">
							<div class="card-body">
								<div class="p-20">
									<div class="table-responsive">
										<div class="d-flex">
											<div class="col-6 p-l-0">
												<h3 class="pull-left">Solicitantes registrados</h3>
											</div>
											<div class="col-6 p-r-0">
												<button id="abrirModalNuevoSolicitante" class="btn boton-confirmar pull-right"
													data-toggle="modal" data-target="#modalNuevoSolicitante">
													<i class="fa fa-plus p-r-5"></i>Nuevo
												</button>
											</div>
										</div>
										<table id="tblSolicitantes" class="table-striped table-bordered" cellspacing="0" width="100%">
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End PAge Content -->
			</div>
			<!-- End Container fluid  -->

		</div>
		<!-- End Page wrapper  -->


		<!-- Modal Registro -->
		<div class="modal fade" id="modalNuevoSolicitante"
			role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="tituloModalSolicitantes">Registro solicitantes</h5>
					</div>
					<div class="modal-body">
						<form class="p-t-0 m-b-0" id="solicitantesFormulario">
						<div class="row">
							<div class="col-md-12" id="ocupacion-estirado">
								<div class="form-group m-b-10" name="formulario-ocupacion" id="formulario-ocupacion">
									<label>Ocupacion</label>
									<div class="input-group">
										<select class="form-control js-example-basic-single" required
											id="ocupacion" name="ocupacion" style="width: 100%">
											<option value="-1"></option>
											<option value="ALUMNO">ALUMNO</option>
											<option value="DOCENTE">DOCENTE</option>
											<option value="EXTERNO">EXTERNO</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group m-b-10" id="formulario-codigo" name="formulario-codigo">
									<label>Codigo de alumno</label>
									<div class="input-group">
										 <input id="codigo" name="codigo" type="number" class="form-control">
									</div>
								</div>
							</div>
						</div>
						<div class="form-group m-b-10" id="formulario-escuela" name="formulario-escuela">
							<label>Escuela</label>
							<div class="input-group">
								<select class="form-control js-example-basic-single" style="width: 100%"
									id="escuela" name="escuela">
									<option value="-1" selected="selected" disabled="disabled"></option>
									<option th:each="escuela : ${escuelas}"
										th:value="${escuela.idEscuela}" th:text="${escuela.nombre}"></option>
								</select>
							</div>
						</div>
						<div class="form-group m-b-10" id="formulario-tipo-academico"
							name="formulario-tipo-academico">
							<label>Tipo Academico</label>
							<div class="input-group">
								<select class="form-control js-example-basic-single" style="width: 100%"
									id="tipoAcademico" name="tipoAcademic">
									<option value="-1" selected="selected" disabled="disabled"></option>
									<option th:each="tipoAcademico : ${tipoAcademicos}"
										th:value="${tipoAcademico.idItem}"
										th:text="${tipoAcademico.descripcion}"></option>
								</select>
							</div>
						</div>
						<div class="form-group m-b-10">
							<label>Tipo de documento</label>
							<div class="input-group">
								<select class="form-control js-example-basic-single" style="width: 100%"
									id="tipoDocumento" name="tipoDocumento" required>
									<option value="-1" selected="selected" disabled="disabled"></option>
									<option th:each="tipoDocumento : ${tipoDocumentos}"
										th:value="${tipoDocumento.idItem}"
										th:text="${tipoDocumento.descripcion}"></option>

								</select>
							</div>
						</div>
						<div class="form-group m-b-10">
							<label>Numero de documento</label>
							<div class="input-group">
								<input class="form-control" required
									id="numDocumento" name="numDocumento">

							</div>

						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group m-b-10">
									<label>Apellido Paterno</label>
									<div class="input-group">
										<input type="text" class="form-control" id="appPaterno" required
											name="appPaterno">
									</div>
		
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group m-b-10">
									<label>Apellido Materno</label>
									<div class="input-group">
										<input type="text" class="form-control" id="appMaterno" required
											name="appMaterno">
									</div>
								</div>
							</div>
						</div>
						<div class="form-group m-b-10">
							<label>Nombres</label>
							<div class="input-group">
								<input type="text" class="form-control" id="nombre" required
									name="nombre">
							</div>
						</div>
						<div class="modal-footer">
							<button id="cerrarModalNuevos" type="button" class="swal-button swal-button--cancel" data-dismiss="modal">CERRAR</button>
							<button id="enviar" type="button" class="btn btn-info waves-effect waves-light m-r-10">REGISTRAR</button>
						</div>
						</form>
					</div>
				</div>
			</div>
			<!-- End Modal -->

			<!-- All Jquery -->
			<script th:src="@{/resources/js/guiuser/lib/jquery/jquery.min.js}"></script>
			<!-- Bootstrap tether Core JavaScript -->
			<script
				th:src="@{/resources/js/guiuser/lib/bootstrap/js/popper.min.js}"></script>
			<script
				th:src="@{/resources/js/guiuser/lib/bootstrap/js/bootstrap.min.js}"></script>
			<!-- slimscrollbar scrollbar JavaScript -->
			<script th:src="@{/resources/js/guiuser/jquery.slimscroll.js}"></script>
			<!--Menu sidebar -->
			<script th:src="@{/resources/js/guiuser/metisMenu.min.js}"></script> 
			<!--stickey kit -->
			<script
				th:src="@{/resources/js/guiuser/lib/sticky-kit-master/dist/sticky-kit.min.js}"></script>
			<!--Custom JavaScript -->

			<script th:src="@{/resources/js/guiuser/scripts.js}"></script>
			<!-- scripit init-->
			<script th:src="@{/resources/js/guiuser/custom.min.js}"></script>
			<script th:src="@{/resources/js/guiuser/sweetalert.min.js}"></script>
			<script th:src="@{/resources/js/util/util.js}"></script>
			<script th:src="@{/resources/js/util/formularioUtil.js}"></script>

			<!-- select2-->
			<script th:src="@{/resources/js/guiuser/select2.min.js}"></script>

			<!-- JS de datatables --> 
			<script th:src="@{/resources/js/datatables/jquery.dataTables.min.js}"></script>
			<script th:src="@{/resources/js/datatables/dataTables.responsive.min.js}"></script>
			<script th:src="@{/resources/js/datatables/dataTables.show.rows.js}"></script>
			
			
			<!-- Jquery validation  -->
			<script th:src="@{/resources/js/jquery/jquery.validate.min.js}"></script>

			<!-- Conexion con servidor -->
			<script
				th:src="@{/resources/js/pagina/consulta/movimientos/solicitantes/solicitantes.js}"></script>



		</div>
</body>
</html>